
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
        <!-- Mean Menu CSS -->
        <link rel="stylesheet" href="{% static 'home/css/meanmenu.css' %}">
        <!-- Box Icon CSS -->
        <link rel="stylesheet" href="{% static 'home/css/boxicons.min.css' %}">
        <!-- Nice Select JS -->
        <link rel="stylesheet" href="{% static 'home/css/nice-select.min.css' %}">
        <!-- Animate CSS -->
        <link rel="stylesheet" href="{% static 'home/css/animate.min.css' %}">
        <!-- Owl Carousel CSS -->
        <link rel="stylesheet" href="{% static 'home/css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'home/css/owl.theme.default.min.css' %}">
        <!-- Magnific Popup CSS -->
        <link rel="stylesheet" href="{% static 'home/css/magnific-popup.min.css' %}">
        <!-- Flat Icon CSS -->
        <link rel="stylesheet" href="{% static 'home/fonts/flaticon.css' %}">
        <!-- Odo Meter CSS -->
        <link rel="stylesheet" href="{% static 'home/css/odometer.min.css' %}">
        <!-- Style CSS -->
        <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="{% static 'home/css/responsive.css' %}">
        <!-- custom CSS -->
        <link rel="stylesheet" href="{% static 'home/css/myCustom.css' %}">
        <!-- fontAwesome for icon -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- Bootstrap Icon -->
        <!-- <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script> -->
        <!-- Dropify -->
        <link rel="stylesheet" type="text/css" href="https://jeremyfagis.github.io/dropify/dist/css/dropify.min.css">
        <title>Sample - {% block title %} {% endblock %}</title>

        <link rel="icon" type="image/png" href="{% static 'home/images/favicon.png' %}">

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- Essential JS -->
        <script src="{% static 'home/js/bootstrap.bundle.min.js' %}"></script>
        <!-- Form Validator JS -->
        <script src="{% static 'home/js/form-validator.min.js' %}"></script>
        <!-- Contact JS -->
        <script src="{% static 'home/js/contact-form-script.js' %}"></script>
        <!-- Ajax Chip JS -->
        <script src="{% static 'home/js/jquery.ajaxchimp.min.js' %}"></script>
        <!-- Mean Menu JS -->
        <script src="{% static 'home/js/jquery.meanmenu.js' %}"></script>
        <!-- Nice Select JS -->
        <script src="{% static 'home/js/jquery.nice-select.min.js' %}"></script>
        <!-- Wow JS -->
        <script src="{% static 'home/js/wow.min.js' %}"></script>
        <!-- TweenMax JS -->
        <script src="{% static 'home/js/TweenMax.min.js' %}"></script>
        <!-- MixitUp JS -->
        <script src="{% static 'home/js/jquery.mixitup.min.js' %}"></script>
        <!-- Owl Carousel JS -->
        <script src="{% static 'home/js/owl.carousel.min.js' %}"></script>
        <!-- Magnific Popup JS -->
        <script src="{% static 'home/js/jquery.magnific-popup.min.js' %}"></script>
        <!-- Odo Meter JS -->
        <script src="{% static 'home/js/odometer.min.js' %}"></script>
        <script src="{% static 'home/js/jquery.appear.min.js' %}"></script>
        <!-- Droppify -->
        <script type="text/javascript" src="https://jeremyfagis.github.io/dropify/dist/js/dropify.min.js"></script>


    </head>

    <body>
        <!-- Loader -->
        <!-- <div class="loader">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="spinner">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- End Loader -->

        <!-- Navbar -->
        <div class="navbar-area sticky-top"> 
            <!-- Menu For Mobile Device -->
            <div class="mobile-nav">
                <a href="{% url 'home:index' %}" class="logo">
                    <img src="{% static 'home/images/logo.png' %}" alt="Logo">
                </a>
            </div>

            <!-- Menu For Desktop Device -->
            <div class="main-nav">
                <div class="container">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <a class="navbar-brand" href="{% url 'home:index' %}">
                            <img src="{% static 'home/images/logo.png' %}" alt="Logo">
                        </a>
                        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a href="{% url 'home:index' %}" class="nav-link">Trang chủ</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'catalog:products' %}" class="nav-link">Giới thiệu</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link dropdown-toggle"><span>Tài liệu</span> <i class='bx bx-chevron-down'></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link dropdown-toggle"><span>Môn học</span> <i class='bx bx-chevron-down'></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link dropdown-toggle"><span>Giảng dạy</span> <i class='bx bx-chevron-down'></i></a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Bài viết</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link dropdown-toggle"><span>Hoạt động</span> <i class='bx bx-chevron-down'></i></a>
                                </li>
                            </ul>


                            <div class="side-nav">
                                
                                <div id="change_lang" class="languages">
                                    <select id="language">
                                        <option value="VI">VI</option>
                                        <option value="EN">EN</option>
                                        <option value="CH">CH</option>
                                    </select>
                                </div>
                                
                                {% if is_login == 1 %}
                                    {% if flag_admin == 1 %}
                                    <div class="call">
                                        <ul class="navbar-nav">
                                            <li class="nav-item">
                                                <a href="#" class="nav-link dropdown-toggle"><i class="bx bxs-user"></i>{{ user.username }} <i class='bx bx-chevron-down'></i></a>
                                                <ul class="dropdown-menu">
                                                    <li class="naw-item">
                                                        <a href="#" class="nav-link">
                                                            <i class="bx bx-table"></i><span langKey="taskbar_user_management"> Trang quản lý</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="#" class="nav-link">
                                                            <i class="bx bxs-user"></i><span langKey="taskbar_user_info"> Trang cá nhân</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="{% url 'user:logout' %}" class="nav-link">
                                                            <i class="fas fa-power-off"></i><span langKey="taskbar_logout"> Đăng xuất</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                                
                                            </li>
                                        </ul>
                                    </div>
                                    {% else %}
                                    <div class="call">
                                        <ul class="navbar-nav">
                                            <li class="nav-item">
                                                <a href="#" class="nav-link dropdown-toggle"><i class="bx bxs-user"></i>{{ user.username }} <i class='bx bx-chevron-down'></i></a>
                                                <ul class="dropdown-menu">
                                                    <li class="nav-item">
                                                        <a href="#" class="nav-link">
                                                            <i class="bx bxs-user"></i><span langKey="taskbar_user_info"> Trang cá nhân</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a href="#" class="nav-link">
                                                            <i class="fas fa-power-off"></i><span langKey="taskbar_logout"> Đăng xuất</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    {% endif %}
                                {% else %}
                                <div class="call">
                                    <a langKey="taskbar_login" class="common-btn" href="{% url 'user:login' %}">Tham gia ngay</a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- End Navbar -->

        <!-- Content for each page -->
        {% block content %} {% endblock %}

        <!-- Footer -->
        <!-- <div class="footer-area pt-100 pb-70">

            <div class="footer-shape">
                <img src="assets/images/footer-shape1.png" alt="Shape">
                <img src="assets/images/footer-shape2.png" alt="Shape">
            </div>

            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-sm-6 col-lg-3">
                        <div class="footer-item">
                            <div class="footer-logo">
                                <a class="logo" href="index.html">
                                    <img src="assets/images/logo-two.png" alt="Logo">
                                </a>
                                <ul>
                                    <li>
                                        <span>Phone:</span>
                                        <a href="tel:882569756">882-569-756</a>
                                    </li>
                                    <li>
                                        <span>Email:</span>
                                        <a href="mailto:hello@intans.com">hello@intans.com</a>
                                    </li>
                                    <li>
                                        <span>Address:</span>
                                        <a href="https://www.google.com/maps">123, Western Road, Melbourne Australia</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-2">
                        <div class="footer-item">
                            <div class="footer-links">
                                <h3>Quick Links</h3>
                                <ul>
                                    <li>
                                        <a href="index.html">Home</a>
                                    </li>
                                    <li>
                                        <a href="blog.html">Blog</a>
                                    </li>
                                    <li>
                                        <a href="events.html">Events</a>
                                    </li>
                                    <li>
                                        <a href="courses.html">Courses</a>
                                    </li>
                                    <li>
                                        <a href="contact.html">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-2">
                        <div class="footer-item">
                            <div class="footer-links">
                                <h3>Services</h3>
                                <ul>
                                    <li>
                                        <a href="drawing.html">Drawing</a>
                                    </li>
                                    <li>
                                        <a href="digital.html">Digital Art</a>
                                    </li>
                                    <li>
                                        <a href="relief.html">Sculpture</a>
                                    </li>
                                    <li>
                                        <a href="illustration.html">Illustration</a>
                                    </li>
                                    <li>
                                        <a href="anatomical.html">Anatomical</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-2">
                        <div class="footer-item">
                            <div class="footer-links">
                                <h3>Support</h3>
                                <ul>
                                    <li>
                                        <a href="contact.html">Online Support</a>
                                    </li>
                                    <li>
                                        <a href="faq.html">FAQ</a>
                                    </li>
                                    <li>
                                        <a href="contact.html">24/7</a>
                                    </li>
                                    <li>
                                        <a href="contact.html">Repair</a>
                                    </li>
                                    <li>
                                        <a href="contact.html">Contact Support</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <div class="footer-item">
                            <div class="footer-subscribe">
                                <h3>Newsletter</h3>
                                <form class="newsletter-form" data-toggle="validator">
                                    <input type="email" class="form-control" placeholder="Enter Your Email" name="EMAIL" required autocomplete="off">
                
                                    <button class="btn common-btn" type="submit">Subscribe</button>
                                    <div id="validator-newsletter" class="form-result"></div>
                                </form>
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/">
                                            <i class='bx bxl-facebook'></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.twitter.com/">
                                            <i class='bx bxl-twitter'></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.pinterest.com/">
                                            <i class='bx bxl-pinterest-alt' ></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/">
                                            <i class='bx bxl-instagram'></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div> -->
        <!-- End Footer -->

        <!-- Copyright -->
        <!-- <div class="copyright-area">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6">
                        <div class="copyright-item">
                            <p>Copyright @2022 Intans. Designed By <a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="copyright-item">
                            <ul>
                                <li>
                                    <a href="terms-conditions.html">Terms & Conditions</a>
                                </li>
                                <li>
                                    <a href="privacy-policy.html">Privacy Policy</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div> -->
        <!-- End Copyright -->

        <!-- Go Top -->
        <!-- <div class="go-top">
            <i class='bx bxs-up-arrow'></i>
            <i class='bx bxs-up-arrow'></i>
        </div> -->
        <!-- End Go Top -->

        {% block js %} {% endblock %}
        <script>
            window.fbAsyncInit = function() {
                FB.init({
                appId      : '{your-app-id}',
                cookie     : true,
                xfbml      : true,
                version    : '{api-version}'
                });
                
                FB.AppEvents.logPageView();   
                
            };

            (function(d, s, id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "https://connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
            </script>
    </body>
</html>