{% extends "home/base.html" %}
{% load static %}

<!-- Title -->
{% block title %} Home {% endblock %}

{% block content %} {% endblock %}
<!DOCTYPE html>
<html lang="zxx">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <!-- Mean Menu CSS -->
        <link rel="stylesheet" href="assets/css/meanmenu.css">
        <!-- Box Icon CSS -->
        <link rel="stylesheet" href="assets/css/boxicons.min.css">
        <!-- Nice Select JS -->
        <link rel="stylesheet" href="assets/css/nice-select.min.css">
        <!-- Animate CSS -->
        <link rel="stylesheet" href="assets/css/animate.min.css">
        <!-- Owl Carousel CSS -->
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
        <!-- Magnific Popup CSS -->
        <link rel="stylesheet" href="assets/css/magnific-popup.min.css">
        <!-- Flat Icon CSS -->
        <link rel="stylesheet" href="assets/fonts/flaticon.css">
        <!-- Odo Meter CSS -->
        <link rel="stylesheet" href="assets/css/odometer.min.css">
        <!-- Style CSS -->
        <link rel="stylesheet" href="assets/css/style.css">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="assets/css/responsive.css">

        <title>Intans - Art, Music & Language School HTML Template</title>

        <link rel="icon" type="image/png" href="assets/images/favicon.png">
    </head>
    <body>
        <!-- Loader -->
        <div class="loader">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="spinner">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Loader -->

        <!-- Navbar -->
        <div class="navbar-area sticky-top"> 
            <!-- Menu For Mobile Device -->
            <div class="mobile-nav">
                <a href="index.html" class="logo">
                    <img src="assets/images/logo.png" alt="Logo">
                </a>
            </div>

            <!-- Menu For Desktop Device -->
            <div class="main-nav">
                <div class="container">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <a class="navbar-brand" href="index.html">
                            <img src="assets/images/logo.png" alt="Logo">
                        </a>
                        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a href="#" class="nav-link dropdown-toggle active">Home <i class='bx bx-chevron-down' ></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="index.html" class="nav-link active">Home Demo One</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="index-2.html" class="nav-link">Home Demo Two</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="index-3.html" class="nav-link">Home Demo three</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link dropdown-toggle">Pages <i class='bx bx-chevron-down' ></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="about.html" class="nav-link">About Us</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link dropdown-toggle">Users <i class='bx bx-chevron-down' ></i></a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a href="login.html" class="nav-link">Login</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="register.html" class="nav-link">Register</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link dropdown-toggle">Instructors <i class='bx bx-chevron-down' ></i></a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a href="instructors.html" class="nav-link">Instructors</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="instructor-details.html" class="nav-link">Instructor Details</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a href="become-teacher.html" class="nav-link">Become A Teacher</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="testimonials.html" class="nav-link">Testimonials</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="gallery.html" class="nav-link">Gallery</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="faq.html" class="nav-link">FAQ</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="404.html" class="nav-link">404 Error Page</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="privacy-policy.html" class="nav-link">Privacy Policy</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="terms-conditions.html" class="nav-link">Terms & Conditions</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link dropdown-toggle">Courses <i class='bx bx-chevron-down' ></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="courses.html" class="nav-link">Courses</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="popular-courses.html" class="nav-link">Popular Courses</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="online-courses.html" class="nav-link">Online Courses</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="drawing.html" class="nav-link">Drawing From Life</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="digital.html" class="nav-link">Digital Art Design</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="relief.html" class="nav-link">Relief Sculpture</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="anatomical.html" class="nav-link">Anatomical Drawing</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="painting.html" class="nav-link">Painting Design</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="illustration.html" class="nav-link">Illustration Lesson</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="course-details.html" class="nav-link">Course Details</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link dropdown-toggle">Events <i class='bx bx-chevron-down' ></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="events.html" class="nav-link">Events</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="event-details.html" class="nav-link">Event Details</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link dropdown-toggle">Blog <i class='bx bx-chevron-down' ></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="blog.html" class="nav-link">Blog</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="blog-left-sidebar.html" class="nav-link">Blog Left Sidebar</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="blog-right-sidebar.html" class="nav-link">Blog Right Sidebar</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="blog-details.html" class="nav-link">Blog Details</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="author.html" class="nav-link">Author</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="contact.html" class="nav-link">Contact</a>
                                </li>
                            </ul>
                            <div class="side-nav">
                                
                                <div class="languages">
                                    <select>
                                        <option>English</option>
                                        <option>العربيّة</option>
                                        <option>Deutsch</option>
                                        <option>Português</option>
                                    </select>
                                </div>

                                <div class="nav-search">
                                    <i id="search-btn" class="bx bx-search-alt"></i>
                                    <div id="search-overlay" class="block">
                                        <div class="centered">
                                            <div id="search-box">
                                                <i id="close-btn" class="bx bx-x"></i>
                                                <form>
                                                    <input type="text" class="form-control" placeholder="Search..."/>
                                                    <button type="submit" class="btn">Search</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="call">
                                    <a href="tel:+8256987365">
                                        <i class='bx bxs-phone-call'></i>
                                        +8256987365
                                    </a>
                                </div>

                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- End Navbar -->

        <!-- Banner -->
        <div class="banner-area">

            <div class="banner-shape">
                <img src="assets/images/banner/shape1.png" alt="Shape" class="one" data-speed="0.08" data-revert="true">
                <img src="assets/images/banner/shape2.png" alt="Shape" class="two" data-speed="0.08" data-revert="true">
                <img src="assets/images/banner/shape3.png" alt="Shape" class="three" data-speed="0.08" data-revert="true">
                <img src="assets/images/banner/shape4.png" alt="Shape" class="four" data-speed="0.08" data-revert="true">
            </div>

            <div class="banner-item banner-bg-one">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container-fluid">
                            <div class="row align-items-center">

                                <div class="col-lg-6">
                                    <div class="banner-content">
                                        <span>Learn With Enjoy!</span>
                                        <h1>You Learn To Paint With Intans Art School</h1>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                                        <a class="common-btn" href="about.html">Explore Program</a>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="banner-img">
                                        <img src="assets/images/banner/main1.jpg" alt="Banner">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- End Banner -->

        <!-- About -->
        <div class="about-area pt-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="about-img">
                            <img src="assets/images/about/main1.png" alt="About">
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="about-content">
                            <div class="section-title">
                                <span class="sub-title">About Intans</span>
                                <h2>Develop Your Creativity & Skill With Intans Art School</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut laboregravida</p>
                            </div>
                            <div class="inner">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                                <a class="common-btn" href="about.html">More About Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End About -->

        <!-- Courses -->
        <section class="courses-area pt-100 pb-70">
            <div class="container">
                <div class="section-title">
                    <span class="sub-title">Classes</span>
                    <h2>Full Time Class Schedule</h2>
                </div>
                <div class="sorting-menu">
                    <ul> 
                       <li class="filter active" data-filter="all">All</li>
                       <li class="filter" data-filter=".courses">Courses</li>
                       <li class="filter" data-filter=".painting">Painting</li>
                       <li class="filter" data-filter=".sketch">Sketch</li>
                       <li class="filter" data-filter=".drawing">Drawing</li>
                       <li class="filter" data-filter=".digital">Digital</li>
                    </ul>
                </div>
                <div id="Container" class="row justify-content-center">

                    <div class="col-sm-6 col-lg-4 mix sketch courses drawing">
                        <div class="courses-item">
                            <div class="top">
                                <a href="drawing.html">
                                    <img src="assets/images/corses/main1.jpg" alt="Courses">
                                </a>
                            </div>
                            <div class="bottom">
                                <div class="inner">
                                    <img src="assets/images/corses/shape1.png" alt="Shape">
                                    <h3>
                                        <a href="drawing.html">Drawing Form Life</a>
                                    </h3>
                                </div>
                                <ul>
                                    <li>
                                        <span>Time:</span>
                                        10:30 AM - 11:30 PM
                                    </li>
                                    <li>
                                        <span>Days Of Week:</span>
                                        Saturday - Wednesday
                                    </li>
                                    <li>
                                        <span>Location:</span>
                                        French st, 123 stardew
                                    </li>
                                </ul>
                                <a class="common-btn" href="drawing.html">Course Details</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 mix painting sketch digital">
                        <div class="courses-item">
                            <div class="top">
                                <a href="digital.html">
                                    <img src="assets/images/corses/main2.jpg" alt="Courses">
                                </a>
                            </div>
                            <div class="bottom">
                                <div class="inner">
                                    <img src="assets/images/corses/shape2.png" alt="Shape">
                                    <h3>
                                        <a href="digital.html">Digital Art Design</a>
                                    </h3>
                                </div>
                                <ul>
                                    <li>
                                        <span>Time:</span>
                                        10:30 AM - 11:30 PM
                                    </li>
                                    <li>
                                        <span>Days Of Week:</span>
                                        Saturday - Wednesday
                                    </li>
                                    <li>
                                        <span>Location:</span>
                                        French st, 124 stardew
                                    </li>
                                </ul>
                                <a class="common-btn" href="digital.html">Course Details</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 mix courses drawing sketch">
                        <div class="courses-item">
                            <div class="top">
                                <a href="relief.html">
                                    <img src="assets/images/corses/main3.jpg" alt="Courses">
                                </a>
                            </div>
                            <div class="bottom">
                                <div class="inner">
                                    <img src="assets/images/corses/shape3.png" alt="Shape">
                                    <h3>
                                        <a href="relief.html">Relief Sculpture</a>
                                    </h3>
                                </div>
                                <ul>
                                    <li>
                                        <span>Time:</span>
                                        10:30 AM - 11:30 PM
                                    </li>
                                    <li>
                                        <span>Days Of Week:</span>
                                        Saturday - Wednesday
                                    </li>
                                    <li>
                                        <span>Location:</span>
                                        French st, 125 stardew
                                    </li>
                                </ul>
                                <a class="common-btn" href="relief.html">Course Details</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- End Courses -->

        <!-- Exhibition -->
        <div class="exhibition-area ptb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="exhibition-content">
                            <div class="exhibition-shape">
                                <img src="assets/images/events/shape2.png" alt="Shape">
                                <img src="assets/images/events/shape3.png" alt="Shape">
                                <img src="assets/images/events/shape4.png" alt="Shape">
                            </div>
                            <div class="section-title">
                                <span class="sub-title">Events</span>
                                <h2>Exhibition & Events</h2>
                                <img src="assets/images/events/shape1.png" alt="Shape">
                            </div>
                            <ul>
                                <li>
                                    <h4>01</h4>
                                    <h3><a href="event-details.html">The Student Corner Art Gallery</a></h3>
                                    <span>10 Jan - 15 Feb, 2021</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                </li>
                                <li>
                                    <h4>02</h4>
                                    <h3><a href="event-details.html">Art Competition</a></h3>
                                    <span>16 Jan - 17 Feb, 2021</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                </li>
                                <li>
                                    <h4>03</h4>
                                    <h3><a href="event-details.html">Regular Class</a></h3>
                                    <span>17 Jan - 20 Feb, 2021</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="exhibition-img">
                            <img src="assets/images/events/main1.png" alt="Exhibition">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Exhibition -->
        
        <!-- Gallery -->
        <section class="gallery-area pb-70">
            <div class="container-fluid">
                <div class="section-title">
                    <span class="sub-title">Art Exhibition</span>
                    <h2>Students Work Gallery</h2>
                </div>
                <div class="row popup-gallery">

                    <div class="col-sm-6 col-lg-3">
                        <div class="gallery-item">
                            <a href="assets/images/gallery/main1.jpg">
                                <img src="assets/images/gallery/main1.jpg" alt="Gallery">
                            
                                <div class="inner">
                                    <h3>Digital Art</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <div class="gallery-item">
                            <a href="assets/images/gallery/main2.jpg">
                                <img src="assets/images/gallery/main2.jpg" alt="Gallery">

                                <div class="inner">
                                    <h3>Paper Art</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <div class="gallery-item">
                            <a href="assets/images/gallery/main3.jpg">
                                <img src="assets/images/gallery/main3.jpg" alt="Gallery">
                                <div class="inner">
                                    <h3>Water Art</h3>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <div class="gallery-item">
                            <a href="assets/images/gallery/main4.jpg">

                                <img src="assets/images/gallery/main4.jpg" alt="Gallery">
                                <div class="inner">
                                    <h3>Brush Painting</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Gallery -->

        <!-- Artist -->
        <div class="artist-area pt-100 pb-70">
            <div class="container-fluid">
                <div class="row align-items-center">

                    <div class="col-lg-6">
                        <div class="artist-img">
                            <img src="assets/images/artist-main1.jpg" alt="Artist">
                            <img src="assets/images/artist-shape1.png" alt="Shape">
                        </div>
                    </div>
 
                    <div class="col-lg-6">
                        <div class="artist-content">
                            <div class="section-title">
                                <span class="sub-title">Art Exhibition</span>
                                <h2>For Children's Developing Artist Abilities</h2>
                            </div>
                            <ul>
                                <li>
                                    <i class="flaticon-paint-palette"></i>
                                    <h3>Painting In Circle</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                                </li>
                                <li>
                                    <i class="flaticon-computer-graphic"></i>
                                    <h3>Digital Art</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                                </li>
                                <li>
                                    <i class="flaticon-sculpture"></i>
                                    <h3>Origami For Kids</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- End Artist -->

        <!-- Testimonials -->
        <div class="testimonials-area pt-100">
            <div class="testimonials-shape">
                <img src="assets/images/testimonials/shape1.png" alt="Testimonials">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="testimonials-slider owl-theme owl-carousel">
                            <div class="testimonials-item">
                                <div class="top">
                                    <i class="flaticon-quote-left"></i>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsanLorem ipsum dolor sit amet.</p>
                                </div>
                                <div class="bottom align-items-center">
                                    <div class="left">
                                        <img src="assets/images/testimonials/thumb1.jpg" alt="Testimonials">
                                    </div>
                                    <div class="right">
                                        <h3>Isebela Teras</h3>
                                        <span>Designer</span>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonials-item">
                                <div class="top">
                                    <i class="flaticon-quote-left"></i>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsanLorem ipsum dolor sit amet.</p>
                                </div>
                                <div class="bottom align-items-center">
                                    <div class="left">
                                        <img src="assets/images/testimonials/thumb2.jpg" alt="Testimonials">
                                    </div>
                                    <div class="right">
                                        <h3>John Mic</h3>
                                        <span>Developer</span>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonials-item">
                                <div class="top">
                                    <i class="flaticon-quote-left"></i>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsanLorem ipsum dolor sit amet.</p>
                                </div>
                                <div class="bottom align-items-center">
                                    <div class="left">
                                        <img src="assets/images/testimonials/thumb3.jpg" alt="Testimonials">
                                    </div>
                                    <div class="right">
                                        <h3>Tom Henry</h3>
                                        <span>SEO Expert</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="testimonials-img">
                            <img src="assets/images/testimonials/main1.png" alt="Testimonials">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Testimonials -->

        <!-- Instagram -->
        <div class="instagram-area">
            <div class="container-fluid p-0">
                <div class="instagram-slider owl-theme owl-carousel">

                    <div class="instagram-item">
                        <img src="assets/images/instagram/1.jpg" alt="Instagram">
                        <a href="https://www.instagram.com/">Join Our Instagram</a>
                    </div>

                    <div class="instagram-item">
                        <img src="assets/images/instagram/2.jpg" alt="Instagram">
                        <a href="https://www.instagram.com/">Join Our Instagram</a>
                    </div>

                    <div class="instagram-item">
                        <img src="assets/images/instagram/3.jpg" alt="Instagram">
                        <a href="https://www.instagram.com/">Join Our Instagram</a>
                    </div>

                    <div class="instagram-item">
                        <img src="assets/images/instagram/4.jpg" alt="Instagram">
                        <a href="https://www.instagram.com/">Join Our Instagram</a>
                    </div>

                    <div class="instagram-item">
                        <img src="assets/images/instagram/5.jpg" alt="Instagram">
                        <a href="https://www.instagram.com/">Join Our Instagram</a>
                    </div>

                    <div class="instagram-item">
                        <img src="assets/images/instagram/6.jpg" alt="Instagram">
                        <a href="https://www.instagram.com/">Join Our Instagram</a>
                    </div>

                    <div class="instagram-item">
                        <img src="assets/images/instagram/7.jpg" alt="Instagram">
                        <a href="https://www.instagram.com/">Join Our Instagram</a>
                    </div>

                    <div class="instagram-item">
                        <img src="assets/images/instagram/1.jpg" alt="Instagram">
                        <a href="https://www.instagram.com/">Join Our Instagram</a>
                    </div>

                </div>
            </div>
        </div>
        <!-- End Instagram -->

        <!-- Footer -->
        <div class="footer-area pt-100 pb-70">

            <div class="footer-shape">
                <img src="assets/images/footer-shape1.png" alt="Shape">
                <img src="assets/images/footer-shape2.png" alt="Shape">
            </div>

            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-sm-6 col-lg-3">
                        <div class="footer-item">
                            <div class="footer-logo">
                                <a class="logo" href="index.html">
                                    <img src="assets/images/logo-two.png" alt="Logo">
                                </a>
                                <ul>
                                    <li>
                                        <span>Phone:</span>
                                        <a href="tel:882569756">882-569-756</a>
                                    </li>
                                    <li>
                                        <span>Email:</span>
                                        <a href="mailto:hello@intans.com">hello@intans.com</a>
                                    </li>
                                    <li>
                                        <span>Address:</span>
                                        <a href="https://www.google.com/maps">123, Western Road, Melbourne Australia</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-2">
                        <div class="footer-item">
                            <div class="footer-links">
                                <h3>Quick Links</h3>
                                <ul>
                                    <li>
                                        <a href="index.html">Home</a>
                                    </li>
                                    <li>
                                        <a href="blog.html">Blog</a>
                                    </li>
                                    <li>
                                        <a href="events.html">Events</a>
                                    </li>
                                    <li>
                                        <a href="courses.html">Courses</a>
                                    </li>
                                    <li>
                                        <a href="contact.html">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-2">
                        <div class="footer-item">
                            <div class="footer-links">
                                <h3>Services</h3>
                                <ul>
                                    <li>
                                        <a href="drawing.html">Drawing</a>
                                    </li>
                                    <li>
                                        <a href="digital.html">Digital Art</a>
                                    </li>
                                    <li>
                                        <a href="relief.html">Sculpture</a>
                                    </li>
                                    <li>
                                        <a href="illustration.html">Illustration</a>
                                    </li>
                                    <li>
                                        <a href="anatomical.html">Anatomical</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-2">
                        <div class="footer-item">
                            <div class="footer-links">
                                <h3>Support</h3>
                                <ul>
                                    <li>
                                        <a href="contact.html">Online Support</a>
                                    </li>
                                    <li>
                                        <a href="faq.html">FAQ</a>
                                    </li>
                                    <li>
                                        <a href="contact.html">24/7</a>
                                    </li>
                                    <li>
                                        <a href="contact.html">Repair</a>
                                    </li>
                                    <li>
                                        <a href="contact.html">Contact Support</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <div class="footer-item">
                            <div class="footer-subscribe">
                                <h3>Newsletter</h3>
                                <form class="newsletter-form" data-toggle="validator">
                                    <input type="email" class="form-control" placeholder="Enter Your Email" name="EMAIL" required autocomplete="off">
                
                                    <button class="btn common-btn" type="submit">Subscribe</button>
                                    <div id="validator-newsletter" class="form-result"></div>
                                </form>
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/">
                                            <i class='bx bxl-facebook'></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.twitter.com/">
                                            <i class='bx bxl-twitter'></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.pinterest.com/">
                                            <i class='bx bxl-pinterest-alt' ></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/">
                                            <i class='bx bxl-instagram'></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- End Footer -->

        <!-- Copyright -->
        <div class="copyright-area">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6">
                        <div class="copyright-item">
                            <p>Copyright @2022 Intans. Designed By <a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="copyright-item">
                            <ul>
                                <li>
                                    <a href="terms-conditions.html">Terms & Conditions</a>
                                </li>
                                <li>
                                    <a href="privacy-policy.html">Privacy Policy</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- End Copyright -->

        <!-- Go Top -->
        <div class="go-top">
            <i class='bx bxs-up-arrow'></i>
            <i class='bx bxs-up-arrow'></i>
        </div>
        <!-- End Go Top -->


        <!-- Essential JS -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <!-- Form Validator JS -->
        <script src="assets/js/form-validator.min.js"></script>
        <!-- Contact JS -->
        <script src="assets/js/contact-form-script.js"></script>
        <!-- Ajax Chip JS -->
        <script src="assets/js/jquery.ajaxchimp.min.js"></script>
        <!-- Mean Menu JS -->
        <script src="assets/js/jquery.meanmenu.js"></script>
        <!-- Nice Select JS -->
        <script src="assets/js/jquery.nice-select.min.js"></script>
        <!-- Wow JS -->
        <script src="assets/js/wow.min.js"></script>
        <!-- TweenMax JS -->
        <script src="assets/js/TweenMax.min.js"></script>
        <!-- MixitUp JS -->
        <script src="assets/js/jquery.mixitup.min.js"></script>
        <!-- Owl Carousel JS -->
        <script src="assets/js/owl.carousel.min.js"></script>
        <!-- Magnific Popup JS -->
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <!-- Odo Meter JS -->
        <script src="assets/js/odometer.min.js"></script>
        <script src="assets/js/jquery.appear.min.js"></script>
        <!-- Custom JS -->
        <script src="assets/js/custom.js"></script>
    </body>
</html>