{% extends "home/base.html" %}
{% load static %}

<!-- Title -->
{% block title %} Home {% endblock %}

<!-- Content -->
{% block content %}
    <!-- User -->
    <div class="user-area ptb-100">
        <div class="container">
            <div class="user-item">
                <form method="POST">
                    {% csrf_token %}
                        <h2>Login</h2>
                    {% if message %}
                        <p class="text-center" style="color: red;">{{message}}</p>
                    {% endif %}
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your Email/Username:" name="username_or_email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password:" name="password">
                    </div>
                    <h5 class="pb-3"><a href="">Forgot Password?</a></h5>
                    <button type="submit" class="btn common-btn">
                        Login
                    </button>
                    <h4>Or</h4>
                    <ul>
                        <li>
                            <a href="#">
                                <i class='bx bxl-facebook'></i>
                                Login With Facebook
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class='bx bxl-google'></i>
                                Login With Google
                            </a>
                        </li>
                    </ul>
                    <h5>Didn't Have An Account? <a href="{% url 'user:register' %}">Register</a></h5>
                </form>
            </div>
        </div>
    </div>
    <!-- End User -->

{% endblock %}