{% extends "home/base.html" %}
{% load static %}

<!-- Title -->
{% block title %} Product {% endblock %}

{% block content %} 
<div class="banner-area">
    <div class="banner-shape">
        <img src="{% static 'home/images/banner/shape1.png' %}" alt="Shape" class="one" data-speed="0.08" data-revert="true">
        <img src="{% static 'home/images/banner/shape2.png' %}" alt="Shape" class="two" data-speed="0.08" data-revert="true">
        <img src="{% static 'home/images/banner/shape3.png' %}" alt="Shape" class="three" data-speed="0.08" data-revert="true">
        <img src="{% static 'home/images/banner/shape4.png' %}" alt="Shape" class="four" data-speed="0.08" data-revert="true">
    </div>
</div>
<section>
    <div class="about-area pt-100">
        <div class="container">
            <table class="table table-striped table-bordered table-sm">  
                <thead class="thead-dark">  
                <tr>  
                    <th>ID</th>  
                    <th>Category</th>  
                    <th>Product</th>
                    <th>Create Date</th>  
                    <th>Is Enable</th>  
                    <th>Actions</th>  
                </tr>  
                </thead>  
                <tbody>  
            {% for product in products %}  
                <tr>  
                    <td>{{ product.id }}</td>  
                    <td>{{ product.title }}</td>
                    <td>{{ product.category.codename }}</td>  
                    <td>{{ product.create_date }}</td>  
                    <td>{{ product.is_enable }}</td>  
                    <td>  
                        <a href="/products/{{ product.id }}"><span class="glyphicon glyphicon-pencil">Edit</span></a>
                        &nbsp;  
                        <a href="/delete/{{ product.id }}"><span class="glyphicon glyphicon-trash">Delete</span></a>  
                    </td>  
                </tr>  
            {% endfor %}  
                </tbody>  
            </table>  
        </div>
    </div>
</section>


{% endblock %}