{% extends "home/base.html" %}
{% load static %}

<!-- Title -->
{% block title %} Product-change {% endblock %}

{% block content %}
<!-- Form -->
<div class="about-area pt-100">
    <div class="container">
        <div class="row">
            <div class="col-xl">
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">Thêm tài liệu</h5>
                    </div>
                    <div class="card-body">
                        <form class="needs-validation" method="post"
                            enctype="multipart/form-data">
                            {% csrf_token %}
        
                            <div class="mb-3">
                                <label for="title" class="form-label">Tiêu đề</label>
                                <input type="text" id="title" class="form-control" placeholder="Nhập tiêu đề" name="title"
                                   value="{{ product.title }}" required />
                            </div>
                            <div class="mb-3">
                                <label for="description" class="form-label">Mô tả</label>
                                <textarea type="text" id="description" name="description" class="form-control"
                                    placeholder="Nhập mô tả">{{ product.description|safe }}</textarea>
                            </div>
                            <div class="mb-3">
                                <label for="type" class="form-label">Category</label>
                                {% for category in categories %}
                                <select id="type" class="form-select" name="type" multiple>
                                    <option value="{{ category.codename }}">{{ category.name }}</option>
                                </select>
                                {% endfor %}
                            </div>
        
        
                            <div class="row g-2">
                                <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                                    <label class="form-label" for="photo">Ảnh bìa <red class="text-danger">*</red></label>
                                    <input name="photo" type="file" id="photo" class="dropify" data-height="100"
                                        accept="image/*" multiple required />
                                </div>
                                <!-- <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                                    <label class="form-label" for="pdfDoc">File PDF <red class="text-danger">*</red></label>
                                    <input name="source" type="file" id="pdfDoc" class="dropify" data-height="100" accept=".pdf"
                                        required />
                                </div> -->
                            </div>
        
                            <button type="submit" class="btn btn-primary" onclick="submitForm()">Lưu</button>
                            &nbsp;
                            <a href="#" class="btn btn-secondary">Hủy</a>
                        </form>
        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    // $(document).ready(function() {
    //     // Basic
    //     $('.dropify').dropify({
    //         messages: {
    //             default: 'Drag and drop or Click to change',
    //             replace: 'Drag and drop or Click to change',
    //             remove: 'Delete',
    //             error: 'Error exist'
    //         }
    //     });
    //     // Used events
    //     var drEvent = $('#input-file-events').dropify();

    //     drEvent.on('dropify.beforeClear', function (event, element) {
    //         return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
    //     });

    //     drEvent.on('dropify.afterClear', function (event, element) {
    //         alert('File deleted');
    //     });

    //     drEvent.on('dropify.errors', function (event, element) {
    //         console.log('Has Errors');
    //     });

    //     var drDestroy = $('#input-file-to-destroy').dropify();
    //     drDestroy = drDestroy.data('dropify')
    //     $('#toggleDropify').on('click', function (e) {
    //         e.preventDefault();
    //         if (drDestroy.isDropified()) {
    //             drDestroy.destroy();
    //         } else {
    //             drDestroy.init();
    //         }
    //     })
    // });

</script>



{% endblock %}