{% extends "home/base.html" %}
{% load static %}

<!-- Title -->
{% block title %} Home {% endblock %}

<!-- Content -->
{% block content %}

    <!-- User -->
    <div class="user-area ptb-100">
        <div class="container">

            <div class="user-item">
                <form method="POST" id="register-form">
                    {% csrf_token %}
                    <h2>Register</h2>

                    {% if message %}
                    <div class="col-lg-12 col-md-12">
                        <div role="alert" class="alert alert-danger alert-dismissible">
                        <strong><i class="fa fa-exclamation-circle"></i></strong> {{message}} </div>
                    </div>
                    {% endif %}

                    <div class="form-group row">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="First Name:" name="firstname" required>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="Last Name:" name="lastname" required>
                        </div>
                    </div>

                    <!-- CHECK USERNAME -->
                    <div class="form-group">
                        <div class="form-check-info">
                            <input id="username" class="form-control" type="text" placeholder="User Name:" name="username" pattern="^[_A-z0-9]{3,}$" minlength="4" maxlength="24" required>                         
                            <span id="icon-success1" style="color: green; display: none;"><i class="fas fa-check-circle"></i></span>
                            <span id="icon-fail1" style="color: red; display: none;"><i class="fas fa-exclamation-circle"></i></span>
                        </div>
                        <div id="checkusername" class="message"></div>
                    </div>
                    <!-- END CHECK USERNAME -->

                    <!-- CHECK EMAIL -->
                    <div class="form-group">
                        <div class="form-check-info">
                            <input id="email" type="email" class="form-control" placeholder="Your Email:" name="email" required>
                            <span id="icon-success2" style="color: green; display: none;"><i class="fas fa-check-circle"></i></span>
                            <span id="icon-fail2" style="color: red; display: none;"><i class="fas fa-exclamation-circle"></i></span>
                        </div>
                        <div id="checkemail" class="message"></div>
                    </div>
                    <!-- END CHECK EMAIL -->

                    <!-- CHECK DOB -->
                    <div class="form-group">
                        <div class="form-check-info">
                            <input id="dob" type="date" class="form-control" placeholder="Date of Birth:" name="dob" required min="1900-01-01">
                            <span id="icon-success4" style="color: green; display: none;"><i class="fas fa-check-circle"></i></span>
                            <span id="icon-fail4" style="color: red; display: none;"><i class="fas fa-exclamation-circle"></i></span>
                        </div>
                        <div id="checkdob" class="message"></div>
                    </div>
                    <!-- END CHECK DOB -->

                    <!-- CHECK PASSWORD -->
                    <div class="form-group">
                        <div class="form-check-info">
                            <input id="password1" type="password" class="form-control" minlength="8" maxlength="24" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,24}$" placeholder="Password:" id="password1" name="password1" required>
                            <span id="icon-success3" style="color: green; display: none;"><i class="fas fa-check-circle"></i></span>
                            <span id="icon-fail3" style="color: red; display: none;"><i class="fas fa-exclamation-circle"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check-info">
                            <input type="password" class="form-control" placeholder="Confirm Password:" id="password2" name="password2" data-match="#password1" minlength="8" maxlength="24" required>
                            <span id="icon-success5" style="color: green; display: none;"><i class="fas fa-check-circle"></i></span>
                            <span id="icon-fail5" style="color: red; display: none;"><i class="fas fa-exclamation-circle"></i></span>
                            <span><em id="checkpasswordmatch" class="text-danger"></em></span>
                        </div>
                    </div>
                    <!-- END CHECK PASSWORD -->

                    <div id="message" class="notify-register" style="margin-bottom: 10px;">
                        <p id="letter" class="invalid">Mật khẩu chứa ít nhất một kí tự <b>viết thường</b></p>
                        <p id="capital" class="invalid">Mật khẩu chứa ít nhất một kí tự <b>viết hoa</b></p>
                        <p id="number" class="invalid">Mật khẩu chứa ít nhất một kí tự <b>số</b></p>
                        <p id="special" class="invalid">Mật khẩu chứa ít nhất một kí tự <b>đặc biệt</b></p>
                        <p id="minlength" class="invalid">Mật khẩu phải chứa ít nhất <b>8 kí tự</b></p>
                        <p id="checkpass2" class="invalid">Mật khẩu nhập lại phải <b>trùng khớp</b></p>
                    </div>

                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault4" name="flexCheckDefault4">
                            <label class="form-check-label" for="flexCheckDefault4">
                                I accept all <a href="#">Terms & Conditions</a>
                            </label>
                        </div>
                    </div>

                    <button type="submit" class="btn common-btn" id="register" style="opacity:0.5 !important" disabled>
                        Register
                    </button>

                    <h4>Or</h4>

                    <ul>
                        <li>
                            <a href="#">
                                <i class='bx bxl-facebook'></i>
                                Register With Facebook
                            </a>
                        </li>
                        <li>
                            {% load socialaccount %}
                            <a href="{% provider_login_url 'google' %}?next=/">
                                <i class='bx bxl-google'></i>
                                Register With Google
                            </a>
                        </li>
                    </ul>

                    <h5>Already Have An Account? <a href="{% url 'user:login' %}">Login</a></h5>

                </form>
            </div>

        </div>
    </div>
    <!-- End User -->

    {% block js %}
    <script src="{% static 'home/js/check_register.js' %}"></script>
    {% endblock %}

{% endblock %}