{% extends "home/base.html" %}
{% load static %}

<!-- Title -->
{% block title %} Home {% endblock %}

<!-- Content -->
{% block content %}
    <!-- Error -->
    <div class="error-area ptb-100">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="error-item">
                        <h1 langKey="v_account1">Chào bạn,</h1>
                        <p langKey="v_account2">Chúng tôi đã gửi email kích hoạt tài khoản đến địa chỉ mail mà bạn đã đăng kí. Vui lòng kiểm tra email để kích hoạt tài khoản.</p>
                        <a class="common-btn" href="{% url 'home:index' %}" langKey="v_account3">Trở về trang chủ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Error -->
{% endblock %}