@media only screen and (max-width: 767px) {
  /*----- Default -----*/
  body {
    font-size: 14px;
  }
  .mtb-100 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .mt-70 {
    margin-top: 20px;
  }
  .mb-100 {
    margin-bottom: 50px;
  }
  .ptb-100 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .pt-100 {
    padding-top: 50px;
  }
  .pb-70 {
    padding-bottom: 20px;
  }
  .pb-100 {
    padding-bottom: 50px;
  }
  .common-btn {
    padding: 10px 22px;
    font-size: 14px;
  }
  .section-title {
    margin-bottom: 30px;
    margin-top: -3px;
  }
  .section-title h2 {
    font-size: 28px;
  }
  /*----- Home Demo One -----*/
  .banner-area .banner-shape img:nth-child(1) {
    display: none;
  }
  .banner-area .banner-shape img:nth-child(2) {
    display: none;
  }
  .banner-area .banner-shape img:nth-child(3) {
    display: none;
  }
  .banner-area .banner-shape img:nth-child(4) {
    display: none;
  }
  .banner-content {
    max-width: 100%;
    margin-right: auto;
    text-align: center;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .banner-content:before {
    left: 0;
    width: 100%;
    -webkit-animation: unset;
            animation: unset;
  }
  .banner-content span {
    font-size: 14px;
  }
  .banner-content h1 {
    font-size: 30px;
  }
  .banner-img {
    z-index: 2;
    padding-right: 0;
  }
  .banner-item {
    height: 100%;
    padding-top: 150px;
    padding-bottom: 60px;
  }
  .banner-item .row {
    margin-top: 0;
  }
  .side-nav {
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
    border-top: 1px solid #eeeeee;
  }
  .side-nav .nav-search .centered {
    width: 75%;
    padding: 5px 5px;
    border-radius: 0;
  }
  .side-nav .nav-search .centered #search-box form {
    overflow: hidden;
  }
  .side-nav .nav-search .centered #search-box form .form-control {
    height: 40px;
    border-radius: 0px;
    font-size: 14px;
  }
  .side-nav .nav-search .centered #search-box form .btn {
    position: relative;
    margin-top: 5px;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
    border-radius: 0;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .about-area {
    padding-top: 50px;
  }
  .about-area .col-lg-5 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .about-area .col-lg-7 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .about-area .about-shape img:nth-child(1) {
    max-width: 100%;
  }
  .about-area .about-shape img:nth-child(3) {
    max-width: 90px;
  }
  .about-area .about-content {
    margin-bottom: 30px;
  }
  .about-area .about-content .inner .common-btn {
    margin-top: 5px;
  }
  .courses-area .courses-shape img {
    max-width: 75px;
  }
  .courses-area .sorting-menu ul li {
    padding: 8px 20px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 8px;
  }
  .courses-item .bottom .inner {
    padding-top: 40px;
    padding-bottom: 30px;
  }
  .courses-item .bottom .inner h3 {
    font-size: 20px;
  }
  .exhibition-area:after {
    display: none;
  }
  .exhibition-area .exhibition-content {
    padding-top: 10px;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .exhibition-area .exhibition-content .exhibition-shape img:nth-child(1) {
    max-width: 50px;
  }
  .exhibition-area .exhibition-content .exhibition-shape img:nth-child(2) {
    display: none;
  }
  .exhibition-area .exhibition-content .exhibition-shape img:nth-child(3) {
    max-width: 25px;
  }
  .exhibition-area .exhibition-content .section-title {
    padding-top: 50px;
  }
  .exhibition-area .exhibition-content .section-title img {
    -webkit-transform: translate(-50%, -34%);
            transform: translate(-50%, -34%);
  }
  .exhibition-area .exhibition-content .section-title h2 {
    font-size: 24px;
  }
  .exhibition-area .exhibition-content ul li {
    padding-left: 0;
  }
  .exhibition-area .exhibition-content ul li h3 {
    font-size: 18px;
  }
  .exhibition-area .exhibition-content ul li h4 {
    position: relative;
    margin-bottom: 16px;
  }
  .exhibition-area .exhibition-img {
    margin-top: 30px;
  }
  .gallery-area {
    padding-top: 50px;
  }
  .gallery-item .inner a h3 {
    font-size: 20px;
  }
  .artist-area .artist-content ul li {
    padding-left: 0;
  }
  .artist-area .artist-content ul li h3 {
    font-size: 20px;
  }
  .artist-area .artist-content ul li i {
    position: relative;
    margin-bottom: 15px;
  }
  .testimonials-area .owl-theme .owl-nav.disabled + .owl-dots {
    bottom: 10px;
  }
  .testimonials-area .testimonials-shape img {
    max-width: 80px;
  }
  .testimonials-area .testimonials-item .top {
    padding: 30px 15px;
  }
  .testimonials-area .testimonials-item .top p {
    font-size: 16px;
  }
  .testimonials-area .testimonials-item .bottom h3 {
    font-size: 20px;
    margin-bottom: 6px;
  }
  .testimonials-area .testimonials-item .bottom .left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .testimonials-area .testimonials-item .bottom .right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 65%;
            flex: 0 0 65%;
    max-width: 65%;
    margin-left: 8px;
  }
  .testimonials-area .testimonials-img {
    margin-top: 30px;
  }
  .testimonials-area .testimonials-img img {
    bottom: 0;
  }
  .instagram-area .instagram-item a {
    font-size: 13px;
  }
  .footer-item h3 {
    font-size: 20px;
  }
  .copyright-area {
    text-align: center;
  }
  .copyright-area .copyright-item p {
    margin-bottom: 15px;
  }
  .copyright-area .copyright-item ul {
    text-align: center;
  }
  .exhibition-area.ptb-100 {
    padding-bottom: 0;
  }
  /*----- Home Demo Two -----*/
  .banner-area.two .banner-item {
    padding-bottom: 0;
  }
  .banner-area.two .banner-item .banner-content {
    margin-top: 0;
  }
  .banner-area.two .banner-item .banner-img-two {
    text-align: center;
  }
  .banner-area.two .banner-item .banner-img-two img {
    position: relative;
    max-width: 280px;
  }
  .side-nav.two .languages .nice-select {
    color: #00090e;
  }
  .side-nav.two .languages .nice-select:after {
    border-bottom: 2px solid #00090e;
    border-right: 2px solid #00090e;
  }
  .side-nav.two .nav-search #search-btn {
    color: #00090e;
  }
  .side-nav.two .nav-search #search-btn:hover {
    color: #f65252;
  }
  .side-nav.two .call a {
    color: #00090e;
  }
  .side-nav.two .call a:hover {
    color: #f65252;
  }
  .about-area.two .about-content {
    padding-left: 0;
  }
  .about-area.two .about-shape-two img:nth-child(2) {
    left: 20%;
    max-width: 20px;
  }
  .about-area.two .about-shape-two img:nth-child(3) {
    right: 10px;
    max-width: 30px;
  }
  .about-area.two .about-img-two {
    margin-bottom: 30px;
  }
  .about-area.two .about-img-two img:nth-child(2) {
    top: 50%;
    left: 50%;
    max-width: 260px;
    right: 0;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .features-item h3 {
    font-size: 20px;
  }
  .music-item .bottom h3 {
    font-size: 20px;
  }
  .events-area .events-img:before {
    display: none;
  }
  .events-area .events-content {
    text-align: center;
  }
  .events-area .events-content .section-title {
    text-align: center;
  }
  .events-area .events-content .inner ul li {
    display: block;
    margin-bottom: 15px;
    text-align: center;
    padding-left: 0;
    margin-right: 0;
  }
  .events-area .events-content .inner ul li:last-child {
    margin-bottom: 0;
  }
  .events-area .events-content .inner ul li i {
    display: block;
    margin-bottom: 5px;
    position: relative;
  }
  .testimonials-area.two .owl-theme .owl-nav.disabled + .owl-dots {
    bottom: 10px;
    position: relative;
  }
  .testimonials-area.two .testimonials-img img {
    position: relative;
    top: 0;
    max-width: 275px;
    right: 0;
    padding: 5px;
  }
  .testimonials-area.two .testimonials-item {
    padding: 25px 25px 30px !important;
  }
  .testimonials-area.two .testimonials-item .bottom {
    text-align: center;
  }
  .testimonials-area.two .testimonials-item .bottom .left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 15px;
  }
  .testimonials-area.two .testimonials-item .bottom .left img {
    margin-left: auto;
    margin-right: auto;
  }
  .testimonials-area.two .testimonials-item .bottom .right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin-left: 0;
  }
  .instructor-item .bottom {
    padding: 20px 15px 20px;
  }
  .instructor-item .bottom h3 {
    font-size: 20px;
  }
  .blog-item .bottom {
    padding: 20px;
  }
  .blog-item .bottom h3 {
    font-size: 20px;
  }
  /*----- Home Demo Three -----*/
  .side-nav.three .languages .nice-select {
    color: #00090e;
  }
  .side-nav.three .languages .nice-select:after {
    border-bottom: 2px solid #00090e;
    border-right: 2px solid #00090e;
  }
  .side-nav.three .nav-search #search-btn {
    color: #00090e;
  }
  .side-nav.three .nav-search #search-btn:hover {
    color: #f65252;
  }
  .side-nav.three .call a {
    color: #00090e;
  }
  .side-nav.three .call a:hover {
    color: #f65252;
  }
  .banner-area.three:before {
    display: none;
  }
  .banner-area.three .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
  .banner-area.three .banner-shape-three img:nth-child(1) {
    display: none;
  }
  .banner-area.three .banner-shape-three img:nth-child(2) {
    display: none;
  }
  .banner-area.three .banner-shape-three img:nth-child(3) {
    display: none;
  }
  .banner-area.three .banner-shape-three img:nth-child(4) {
    display: none;
  }
  .banner-area.three .banner-content {
    padding: 0;
    margin-bottom: 45px;
  }
  .banner-area.three .banner-content .common-btn {
    padding: 10px 14px;
  }
  .banner-area.three .banner-content .banner-btn {
    margin-left: 5px;
  }
  .banner-area.three .banner-img:before {
    right: 0;
  }
  .banner-area.three .banner-item {
    padding-bottom: 50px;
  }
  .about-area.three .about-content {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
  .about-area.three .about-content .inner ul li {
    display: inline-block;
  }
  .choose-area .section-title.two p {
    position: relative;
    top: 0;
    margin-top: 10px;
  }
  .choose-item {
    text-align: center;
    padding: 20px;
  }
  .choose-item h3 {
    font-size: 20px;
  }
  .music-area.two .music-item .bottom .right {
    text-align: left;
  }
  .music-area.two .music-item .bottom .right ul {
    text-align: left;
  }
  .counter-area.two .counter-item {
    border-right: 0;
    padding: 15px 10px;
  }
  .counter-area.two .counter-item p {
    font-size: 11px;
  }
  .music-item .bottom {
    padding: 20px;
  }
  .testimonials-area.two .testimonials-item {
    padding: 20px;
    max-width: 100%;
  }
  .counter-item {
    padding: 20px;
  }
  .counter-item h3 {
    font-size: 40px;
    margin-bottom: 5px;
  }
  .counter-item p {
    font-size: 13px;
  }
  .trial-area .trial-content {
    padding: 30px 15px;
  }
  .trial-area .trial-content .section-title.two {
    text-align: center;
  }
  .instructor-area.two .instructor-shape img:nth-child(1) {
    top: 150px;
    max-width: 50px;
  }
  .page-title-area {
    height: 300px;
  }
  .page-title-area .title-content {
    margin-top: 115px;
  }
  .page-title-area .title-content h2 {
    font-size: 30px;
    margin-bottom: 12px;
  }
  .page-title-area .title-content ul li {
    font-size: 12px;
  }
  .pagination-area {
    margin-top: 5px;
  }
  .faq-area .faq-item .accordion li .faq-head {
    font-size: 14px;
  }
  .faq-area .faq-item .accordion li .faq-content p {
    margin-top: 15px;
    line-height: 1.8;
    font-size: 13px;
  }
  .course-details-area .details-item {
    margin-bottom: 30px;
  }
  .course-details-area .details-item h2 {
    font-size: 25px;
  }
  .course-details-area .details-item ul li {
    display: inline-block;
  }
  .widget-area .widget-item {
    padding: 30px 15px;
  }
  .widget-area .widget-item h3 {
    font-size: 20px;
  }
  .widget-area .post .inner ul li:nth-child(1) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 24%;
            flex: 0 0 24%;
    max-width: 24%;
  }
  .event-details-area .details-item {
    margin-bottom: 30px;
  }
  .event-details-area .details-item h2 {
    font-size: 25px;
  }
  .event-details-area .details-item h3 {
    font-size: 20px;
  }
  .blog-details-area .details-item {
    margin-bottom: 30px;
  }
  .blog-details-area .details-item h2 {
    font-size: 26px;
  }
  .blog-details-area .details-item blockquote {
    font-size: 15px;
    padding: 20px;
    line-height: 1.8;
  }
  .blog-details-area .details-item .details-comments {
    text-align: start;
  }
  .blog-details-area .details-item h3 {
    font-size: 20px;
  }
  .blog-details-area .details-item .details-form {
    padding: 20px;
  }
  .blog-details-area .details-item .details-form .form-group {
    text-align: start;
  }
  .widget-area .author h4 {
    font-size: 20px;
  }
  .contact-info-item {
    padding: 20px 20px 20px 100px;
  }
  .contact-info-item h3 {
    font-size: 20px;
  }
  .contact-info-item i {
    top: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    font-size: 30px;
    line-height: 60px;
  }
  .contact-area #contactForm h3 {
    font-size: 20px;
  }
  .user-area .user-item {
    padding: 30px 15px;
  }
  .instructor-details-area .instructor-content {
    padding-left: 0;
  }
  .instructor-details-area .instructor-content h3 {
    font-size: 22px;
  }
  .instructor-details-area .instructor-content .items li {
    display: inline-block;
  }
  .become-area .become-item {
    padding: 30px 15px;
  }
  .become-area .become-item h3 {
    font-size: 20px;
  }
  .faq-area .faq-item {
    padding: 30px 15px 25px;
  }
  .error-area .error-item h1 {
    font-size: 85px;
  }
  .error-area .error-item h2 {
    font-size: 22px;
  }
  .rules-area .rules-item .rules-inner h3 {
    font-size: 20px;
  }
  .gallery-area.two {
    padding-top: 0;
  }
  .widget-area .information .nav-pills li .nav-link {
    padding: 10px 15px;
  }
  .pr-15 {
    padding-right: 0;
  }
  .pl-15 {
    padding-left: 0;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .blog-item .bottom {
    padding: 30px 15px 30px;
  }
  .blog-item .bottom h3 {
    font-size: 18px;
  }
  .artist-area .container-fluid {
    max-width: 540px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /*----- Default -----*/
  body {
    font-size: 15px;
  }
  .mtb-100 {
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .mt-70 {
    margin-top: 30px;
  }
  .mb-100 {
    margin-bottom: 70px;
  }
  .ptb-100 {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .pt-100 {
    padding-top: 70px;
  }
  .pb-70 {
    padding-bottom: 40px;
  }
  .pb-100 {
    padding-bottom: 70px;
  }
  .common-btn {
    padding: 10px 22px;
  }
  .section-title {
    margin-bottom: 30px;
    margin-top: -3px;
  }
  .section-title h2 {
    font-size: 30px;
  }
  /*----- Home Demo One -----*/
  .banner-area .banner-shape img:nth-child(1) {
    display: none;
  }
  .banner-area .banner-shape img:nth-child(2) {
    display: none;
  }
  .banner-area .banner-shape img:nth-child(3) {
    display: none;
  }
  .banner-area .banner-shape img:nth-child(4) {
    display: none;
  }
  .banner-content {
    margin-right: auto;
    text-align: center;
    margin-bottom: 30px;
  }
  .banner-content:before {
    width: 100%;
    left: 0;
  }
  .banner-content span {
    font-size: 14px;
  }
  .banner-content h1 {
    font-size: 45px;
  }
  .banner-img {
    z-index: 2;
    padding-right: 0;
  }
  .banner-item {
    height: 100%;
    padding-top: 140px;
    padding-bottom: 95px;
  }
  .banner-item .row {
    margin-top: 0;
  }
  .side-nav {
    position: absolute;
    top: 14px;
    right: 70px;
  }
  .side-nav .nav-search .centered {
    width: 75%;
    padding: 5px 5px;
    border-radius: 0;
  }
  .side-nav .nav-search .centered #search-box form {
    overflow: hidden;
  }
  .side-nav .nav-search .centered #search-box form .form-control {
    height: 40px;
    border-radius: 0px;
    font-size: 14px;
  }
  .side-nav .nav-search .centered #search-box form .btn {
    position: relative;
    margin-top: 5px;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
    border-radius: 0;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .about-area {
    padding-top: 70px;
  }
  .about-area .about-shape img:nth-child(3) {
    max-width: 90px;
  }
  .about-area .col-lg-5 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .about-area .col-lg-7 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .about-area .about-content {
    margin-bottom: 30px;
  }
  .courses-area .courses-shape img {
    max-width: 75px;
  }
  .courses-area .sorting-menu ul li {
    padding: 8px 20px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 8px;
  }
  .exhibition-area {
    padding-bottom: 0;
  }
  .exhibition-area:after {
    display: none;
  }
  .exhibition-area .exhibition-img {
    margin-top: 30px;
  }
  .exhibition-area .exhibition-content .section-title {
    margin-bottom: 60px;
  }
  .gallery-area {
    padding-top: 70px;
  }
  .artist-area .artist-content {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .artist-area .artist-content .section-title {
    text-align: center;
  }
  .artist-area .artist-content ul li {
    padding-left: 0;
  }
  .artist-area .artist-content ul li i {
    position: relative;
    margin-bottom: 15px;
  }
  .testimonials-area .owl-theme .owl-nav.disabled + .owl-dots {
    bottom: 35px;
  }
  .testimonials-area .testimonials-shape img {
    max-width: 80px;
  }
  .testimonials-area .testimonials-item .top {
    padding: 30px 15px;
  }
  .testimonials-area .testimonials-item .top p {
    font-size: 18px;
  }
  .testimonials-area .testimonials-item .bottom h3 {
    font-size: 20px;
    margin-bottom: 6px;
  }
  .testimonials-area .testimonials-item .bottom .left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .testimonials-area .testimonials-item .bottom .right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 65%;
            flex: 0 0 65%;
    max-width: 65%;
    margin-left: 8px;
  }
  .testimonials-area .testimonials-img {
    margin-top: 30px;
  }
  .testimonials-area .testimonials-img img {
    bottom: 0;
  }
  .instagram-area .instagram-item a {
    font-size: 14px;
  }
  .copyright-area {
    text-align: center;
  }
  .copyright-area .copyright-item p {
    margin-bottom: 10px;
  }
  .copyright-area .copyright-item ul {
    text-align: center;
  }
  /*----- Home Demo Two -----*/
  .banner-area.two .banner-item {
    padding-bottom: 0;
  }
  .banner-area.two .banner-item .banner-content {
    margin-top: 0;
    margin-left: auto;
  }
  .banner-area.two .banner-item .banner-img-two {
    text-align: center;
  }
  .banner-area.two .banner-item .banner-img-two img {
    position: relative;
    max-width: 360px;
  }
  .side-nav.two .languages .nice-select {
    color: #00090e;
  }
  .side-nav.two .languages .nice-select:after {
    border-bottom: 2px solid #00090e;
    border-right: 2px solid #00090e;
  }
  .side-nav.two .nav-search #search-btn {
    color: #00090e;
  }
  .side-nav.two .nav-search #search-btn:hover {
    color: #f65252;
  }
  .side-nav.two .call a {
    color: #00090e;
  }
  .side-nav.two .call a:hover {
    color: #f65252;
  }
  .about-area.two .about-content {
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .about-area.two .about-shape-two img:nth-child(2) {
    left: 30%;
    max-width: 30px;
  }
  .about-area.two .about-img-two {
    margin-bottom: 30px;
  }
  .testimonials-area.two .owl-theme .owl-nav.disabled + .owl-dots {
    bottom: 25px !important;
  }
  .about-img {
    text-align: center;
  }
  .events-area .events-img:before {
    display: none;
  }
  .events-area .events-content {
    text-align: center;
  }
  .events-area .events-content .section-title {
    text-align: center;
  }
  .testimonials-area.two .owl-theme .owl-nav.disabled + .owl-dots {
    bottom: 0;
    position: relative;
  }
  .testimonials-area.two .testimonials-img img {
    position: relative;
    top: 0;
    max-width: 300px;
    right: 0;
    padding: 5px;
  }
  .testimonials-area.two .testimonials-item .bottom {
    text-align: center;
  }
  .testimonials-area.two .testimonials-item .bottom .left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 15px;
  }
  .testimonials-area.two .testimonials-item .bottom .left img {
    margin-left: auto;
    margin-right: auto;
  }
  .testimonials-area.two .testimonials-item .bottom .right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin-left: 0;
  }
  /*----- Home Demo Three -----*/
  .side-nav.three .languages .nice-select {
    color: #00090e;
  }
  .side-nav.three .languages .nice-select:after {
    border-bottom: 2px solid #00090e;
    border-right: 2px solid #00090e;
  }
  .side-nav.three .nav-search #search-btn {
    color: #00090e;
  }
  .side-nav.three .nav-search #search-btn:hover {
    color: #f65252;
  }
  .side-nav.three .call a {
    color: #00090e;
  }
  .side-nav.three .call a:hover {
    color: #f65252;
  }
  .banner-area.three:before {
    display: none;
  }
  .banner-area.three .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
  .banner-area.three .banner-shape-three img:nth-child(1) {
    display: none;
  }
  .banner-area.three .banner-shape-three img:nth-child(2) {
    display: none;
  }
  .banner-area.three .banner-shape-three img:nth-child(3) {
    display: none;
  }
  .banner-area.three .banner-shape-three img:nth-child(4) {
    display: none;
  }
  .banner-area.three .banner-content {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
  }
  .banner-area.three .banner-content .common-btn {
    padding: 10px 10px;
  }
  .banner-area.three .banner-content .banner-btn {
    margin-left: 5px;
  }
  .banner-area.three .banner-img:before {
    right: 0;
  }
  .banner-area.three .banner-item {
    padding-bottom: 85px;
  }
  .about-area.three .about-content {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
  .about-area.three .about-content .inner ul {
    max-width: 560px;
  }
  .about-area.three .about-content .inner ul li {
    display: inline-block;
  }
  .choose-area .section-title.two {
    text-align: center;
  }
  .choose-area .section-title.two p {
    position: relative;
    top: 0;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .music-area.two .music-item .bottom {
    padding: 30px 15px 30px;
  }
  .music-area.two .music-item .bottom .right ul li img {
    margin-right: 2px;
  }
  .music-area.two .music-item .bottom .right ul li span {
    font-size: 13px;
  }
  .counter-area.two .counter-item {
    padding: 20px 10px;
    border-right: 0;
  }
  .counter-item {
    padding: 20px;
  }
  .counter-item h3 {
    font-size: 40px;
    margin-bottom: 5px;
  }
  .counter-item p {
    font-size: 13px;
  }
  .trial-area .trial-content {
    margin-right: auto;
  }
  .trial-area .trial-content .section-title.two {
    text-align: center;
  }
  .page-title-area {
    height: 300px;
  }
  .page-title-area .title-content {
    margin-top: 70px;
  }
  .page-title-area .title-content h2 {
    font-size: 30px;
    margin-bottom: 12px;
  }
  .course-details-area .details-item {
    margin-bottom: 30px;
  }
  .course-details-area .details-item ul {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
  }
  .course-details-area .details-item ul li {
    display: inline-block;
  }
  .widget-area .post .inner ul li:nth-child(1) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 24%;
            flex: 0 0 24%;
    max-width: 24%;
  }
  .event-details-area .details-item {
    margin-bottom: 30px;
  }
  .gallery-area.two {
    padding-top: 0;
  }
  .pr-15 {
    padding-right: 0;
  }
  .pl-15 {
    padding-left: 0;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .main-nav .navbar .navbar-nav .nav-item a {
    margin-left: 8px;
    margin-right: 8px;
    font-size: 14px;
  }
  .side-nav .languages {
    margin-right: 5px;
  }
  .side-nav .languages .nice-select {
    font-size: 14px;
  }
  .side-nav .nav-search {
    margin-right: 5px;
  }
  .side-nav .call a {
    font-size: 14px;
  }
  .side-nav .call a i {
    font-size: 16px;
    top: 2px;
    margin-right: 0;
  }
  .banner-img {
    padding-right: 0;
    max-width: 405px;
    margin-right: 0;
  }
  .banner-content:before {
    top: -100px;
    width: 580px;
    height: 470px;
  }
  .banner-content h1 {
    font-size: 45px;
  }
  .banner-item {
    height: 740px;
  }
  .gallery-item h3 {
    font-size: 20px;
  }
  .about-area .about-shape img:nth-child(1) {
    max-width: 470px;
  }
  .about-area .about-content .section-title h2 {
    font-size: 35px;
  }
  .about-shape img:nth-child(2) {
    display: none;
  }
  .about-shape img:nth-child(3) {
    display: none;
  }
  .exhibition-area .exhibition-content {
    padding: 40px 20px;
  }
  .exhibition-area .exhibition-content .section-title {
    padding-top: 30px;
  }
  .exhibition-area .exhibition-content .section-title h2 {
    font-size: 35px;
  }
  .contact-info-item {
    padding: 20px 20px 20px 110px;
  }
  .contact-info-item i {
    top: 20px;
    left: 20px;
    width: 70px;
    height: 70px;
    font-size: 35px;
    line-height: 70px;
  }
  .artist-area .artist-content .section-title h2 {
    font-size: 35px;
  }
  .banner-area.two .banner-item .banner-img-two img {
    max-width: 470px;
  }
  .about-area.two .about-shape-two img:nth-child(2) {
    max-width: 50px;
  }
  .about-area.two .about-shape-two img:nth-child(3) {
    max-width: 50px;
  }
  .about-area.two .about-img-two img:nth-child(2) {
    max-width: 380px;
  }
  .features-item {
    padding: 30px 15px 28px;
  }
  .events-area .events-img:before {
    width: 445px;
    height: 405px;
  }
  .events-area .events-content .inner ul li {
    margin-right: 5px;
    padding-left: 25px;
  }
  .events-area .events-content .inner ul li i {
    font-size: 18px;
    line-height: 18px;
    top: 3px;
  }
  .testimonials-area.two .testimonials-item {
    max-width: 620px;
  }
  .testimonials-area.two .testimonials-item .top p {
    font-size: 16px;
  }
  .testimonials-area.two .testimonials-img img {
    max-width: 330px;
  }
  .blog-item .bottom {
    padding: 30px 15px 30px;
  }
  .banner-area.two .banner-item {
    height: 700px;
  }
  .banner-area.two .banner-item .banner-content {
    max-width: 510px;
  }
  .main-nav.three .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
  .about-area.three .about-content {
    padding-top: 0;
    padding-bottom: 0;
  }
  .choose-area .section-title.two {
    text-align: center;
  }
  .choose-area .section-title.two p {
    position: relative;
    top: 0;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
  }
  .choose-item {
    padding: 35px 15px;
  }
  .music-area.two .music-item .bottom {
    padding: 30px 15px 30px;
  }
  .music-area.two .music-item .bottom .right ul li img {
    margin-right: 2px;
    max-width: 30px;
  }
  .music-area.two .music-item .bottom .right ul li span {
    font-size: 12px;
  }
  .instructor-area.two .instructor-shape img:nth-child(1) {
    left: 35px;
  }
  .pr-15 {
    padding-right: 0;
  }
  .pl-15 {
    padding-left: 0;
  }
  .widget-area .post .inner ul li:nth-child(2) {
    -ms-flex: 0 0 68%;
    -webkit-box-flex: 0;
            flex: 0 0 68%;
    max-width: 68%;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1350px) {
  .widget-area .post .inner ul li:nth-child(2) {
    -ms-flex: 0 0 68%;
    -webkit-box-flex: 0;
            flex: 0 0 68%;
    max-width: 68%;
  }
  .banner-content:before {
    width: 645px;
  }
  .banner-img {
    padding-right: 0;
    max-width: 530px;
    margin-right: 0;
  }
  .about-area.two .about-img-two img:nth-child(2) {
    max-width: 495px;
  }
  .testimonials-area.two .testimonials-item {
    max-width: 710px;
  }
  .choose-area .section-title.two {
    text-align: center;
  }
  .choose-area .section-title.two p {
    position: relative;
    top: 0;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
  }
  .music-area.two .music-item .bottom {
    padding: 30px 15px 30px;
  }
  .music-area.two .music-item .bottom .right ul li span {
    font-size: 14px;
  }
}

@media (min-width: 1300px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1320px;
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1350px) {
  .banner-item {
    height: 1000px;
  }
}

@media only screen and (min-width: 1800px) {
  .banner-item {
    height: 1000px;
  }
  .banner-img {
    padding-right: 80px;
    max-width: 100%;
  }
  .banner-img img:nth-child(1) {
    border-radius: 245px;
  }
  .banner-content:before {
    width: 830px;
    height: 670px;
    top: -170px;
    left: -129px;
  }
  .banner-area .banner-shape img:nth-child(1) {
    top: 140px;
    left: 215px;
    max-width: 300px;
  }
  .banner-area .banner-shape img:nth-child(2) {
    max-width: 250px;
  }
  .banner-area .banner-shape img:nth-child(3) {
    left: 48%;
    bottom: 275px;
    max-width: 145px;
  }
  .about-area .about-shape img:nth-child(1) {
    top: 50px;
    max-width: 660px;
  }
  .about-area .about-shape img:nth-child(2) {
    top: 80px;
    max-width: 185px;
  }
  .about-area .about-shape img:nth-child(3) {
    max-width: 315px;
  }
  .footer-area .footer-shape img {
    max-width: 100%;
  }
  .banner-area.two .banner-shape-two img:nth-child(2) {
    max-width: 100%;
  }
  .banner-area.two .banner-item .banner-img-two img {
    max-width: 880px;
  }
  .about-area.two .about-img-two img:nth-child(2) {
    top: 35px;
    left: 40px;
    max-width: 690px;
  }
  .about-area.two .about-shape-two img:nth-child(2) {
    max-width: 140px;
  }
  .about-area.two .about-shape-two img:nth-child(3) {
    top: 110px;
    right: 110px;
  }
  .about-area.two .about-content {
    max-width: 690px;
  }
  .testimonials-area.two .testimonials-item {
    max-width: 935px;
  }
  .testimonials-area.two .testimonials-img img {
    top: 20px;
    max-width: 425px;
    right: -55px;
  }
  .banner-area.three .container-fluid {
    padding-left: 100px;
    padding-right: 100px;
  }
  .banner-area.three .banner-img:before {
    top: -30px;
    right: -30px;
  }
  .main-nav.three .container-fluid {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media only screen and (max-width: 991px) {
  .mean-container .mean-bar {
    background-color: #fff;
    z-index: inherit;
  }
  .mean-container a.meanmenu-reveal {
    color: #f65252;
  }
  .mean-container a.meanmenu-reveal span {
    margin-top: 31px;
    position: relative;
    top: -10px;
    background-color: #f65252;
    border-radius: 0%;
  }
  .mobile-nav .logo {
    top: 9px;
  }
  .mobile-nav.mean-container .mean-nav ul li a.active {
    color: #e60928;
  }
  .navbar-nav {
    max-height: 350px;
    overflow-y: scroll;
  }
}

@media only screen and (min-width: 1550px) {
  .main-nav.three .container-fluid {
    max-width: 1920px;
  }
  .banner-area.three .container-fluid {
    max-width: 1920px;
  }
}
/*# sourceMappingURL=responsive.css.map */