/*
@File: Intans Template Style

* This file contains the styling for the actual template, this
is the file you need to edit to change the look of the
template.

This files table contents are outlined below>>>>>

*******************************************
*******************************************

** - Default CSS
** - Home Demo One CSS
** - Home Demo Two CSS
** - Home Demo Three CSS
** - About Us CSS
** - Course Details CSS
** - Event Details CSS
** - Blog Details CSS
** - User CSS
** - Instructor Details CSS
** - Become CSS
** - FAQ CSS
** - 404 CSS
** - Rules CSS
** - Go Top CSS
** - Loader CSS
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,400&display=swap');

$common-font: 'Montserrat', sans-serif;
$heading-font: 'Playfair Display', serif;
$all-size: 15px;
$transition: .5s;
$main-color: #f65252;
$black-color: #012539;
$paragraph-color: #00090e;
$white-color: #ffffff;
$yellow-color: #fedb73;
$merun-color: #4a2530;

/*----- Default -----*/
body {
    font-family: $common-font;
    color: $paragraph-color;
    background-color: $white-color;
    font-size: $all-size;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: $black-color;
    font-family: $heading-font;
}
p {
    line-height: 1.7;

    &:last-child {
        margin-bottom: 0;
    }
}
a {
    transition: $transition;
    text-decoration: none;
}
img {
    max-width: 100%;
}
.d-table {
    width: 100%;
    height: 100%;
}
.d-table-cell {
    vertical-align: middle;
}
.mtb-100 {
    margin-top: 100px;
    margin-bottom: 100px;
}
.mt-70 {
    margin-top: 70px;
}
.mb-100 {
    margin-bottom: 100px;
}
.ptb-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}
.pt-100 {
    padding-top: 100px;
}
.pb-70 {
    padding-bottom: 70px;
}
.pb-100 {
    padding-bottom: 100px;
}
.pr-15 {
    padding-right: 10px;
}
.pl-15 {
    padding-left: 10px;
}
button {
    &:focus{
        outline: 0;
    }
}
.btn.focus, .btn:focus {
    box-shadow: none;
}
.common-btn {
    display: inline-block;
    color: $white-color;
    padding: 12px 25px;
    font-weight: 500;
    border: 0;
    transition: $transition;
    opacity: 1 !important;
    z-index: 1;
    position: relative;
    border-radius: 10px;
    z-index: 1;
    background-color: $black-color;
    font-size: $all-size;

    &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $main-color;
        z-index: -1;
        border-radius: 10px;
        transition: $transition;
    }
    &:hover {
        color: $white-color;

        &:before {
            top: 50%;
            left: 50%;
            width: 0;
            height: 0;
            border-radius: 0;
        }
    }
}
.common-link {
    display: inline-block;
    color: #4a2530;
    font-weight: 600;

    &:hover {
        color: $main-color;
    }
    i {
        position: relative;
        top: 2px;
    }
}
.section-title {
    margin-bottom: 40px;
    text-align: center;
    margin-top: -5px;
    position: relative;
    z-index: 1;
    
    .sub-title {
        font-weight: 600;
        color: $main-color;
        display: block;
        margin-bottom: 10px;
    }
    h2 {
        font-size: 45px;
        margin-bottom: 0;
        line-height: 1.3;
    }
    p {
        margin-top: 12px;
        margin-bottom: 0;
        max-width: 650px;
        margin-left: auto;
        margin-right: auto;
    }
    &.two {
        h2 {
            color: $merun-color;
        }
    }
}

/*----- Home Demo One -----*/
.main-nav {
    background: $white-color;
    transition: $transition;

    &.menu-shrink {
        padding-top: 12px;
        padding-bottom: 12px;
        box-shadow: 0px 0px 20px 0px #fafafa;
    }
    .navbar-brand {
        padding: 0;
        margin: 0;
    }
    .navbar {
        padding-top: 0;
        padding-bottom: 0;

        .navbar-nav {
            margin-left: auto;
            margin-right: auto;

            .nav-item {
                &:hover {
                    a {
                        color: $main-color;
                    }
                    .dropdown-menu {
                        left: 0;
        
                        &:before {
                            width: 100%;
                            left: 0;
                            right: auto;
                        }
                        &:after {
                            width: 100%;
                            left: 0;
                            right: auto;
                        }
                    }
                }
                a {
                    text-transform: unset;
                    color: $black-color;
                    margin-left: 12px;
                    margin-right: 12px;
                    transition: $transition;
                    font-size: 15px;

                    i {
                        display: inline-block;
                        font-size: 17px;
                        position: relative;
                        margin-left: -2px;
                        top: 2.5px;
                    }
                    &:hover, &:focus, &.active {
                        color: $main-color;
                    }
                }
                .dropdown-menu {
                    background-color: $white-color;
                    border: 0;
                    border-radius: 0;
                    padding: 0;
                    top: 100%;
                    left: -15px;

                    &:before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        width: 0;
                        height: 1px;
                        background-color: $main-color;
                        transition: $transition;
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 0;
                        height: 1px;
                        background-color: $main-color;
                        transition: $transition;
                    }
                    li {
                        border-bottom: 1px solid #f5f5f5;

                        &:last-child {
                            border-bottom: 0;
                        }
                        &:hover {
                            .dropdown-menu {
                                top: 0 !important;
                                right: -100%;

                                &:before {
                                    width: 100%;
                                    left: 0;
                                    right: auto;
                                }
                                &:after {
                                    width: 100%;
                                    left: 0;
                                    right: auto;
                                }
                            }
                            a {
                                color: $main-color;
                            }
                        }
                        a {
                            font-size: 14px;
                            text-transform: unset;
                            padding: 12px 15px;
                            color: $black-color;

                            &:hover, &:focus, &.active {
                                color: $main-color;
                            }
                        }
                        .dropdown-menu {
                            left: unset;
                            right: -96%;

                            &:before {
                                content: '';
                                position: absolute;
                                bottom: 0;
                                right: 0;
                                width: 0;
                                height: 1px;
                                background-color: $main-color;
                                transition: $transition;
                            }
                            &:after {
                                content: '';
                                position: absolute;
                                top: 0;
                                right: 0;
                                width: 0;
                                height: 1px;
                                background-color: $main-color;
                                transition: $transition;
                            }
                            li {
                                a {
                                    color: $black-color;
                                    text-transform: unset;

                                    &:hover, &:focus, &.active {
                                        color: $main-color;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .dropdown-toggle {
        &::after {
            display: none;
        }
    }
}

.side-nav {
    .languages {
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;

        .nice-select {
            height: 30px;
            line-height: 30px;
            background-color: transparent;
            border: 0;
            font-size: 15px;
            color: $black-color;
            font-weight: 500;

            &:after {
                border-bottom: 2px solid $black-color;
                border-right: 2px solid $black-color;
            }
            ul {
                border: 0;
                border-radius: 0;
                display: block;
                width: 100%;

                li {
                    display: block;
                    width: 100%;
                    color: $black-color;
                    font-size: 14px;
                    font-weight: 500;
                }
            }
        }
    }
    .call {
        display: inline-block;
        vertical-align: middle;

        a {
            display: block;
            color: $white-color;
            font-weight: 500;
            font-size: 15px;

            &:hover {
                color: $main-color;
            }
            i {
                font-size: 18px;
                position: relative;
                top: 3px;
                margin-right: 2px;
            }
        }
    }
    .nav-search {
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;

        #search-btn{
            color: $main-color;
            font-size: 25px;
            display: inline-block;
            cursor: pointer;
            transition: $transition;
            position: relative;
            top: 3px;
        
            &:hover {
                color: $black-color;
            }
        }
        #close-btn{
            padding: 0;
            position: fixed;
            top: 20px;
            right: 20px;
            z-index: 1;
            color: $white-color;
            transition: $transition;
            font-size: 60px;
            cursor: pointer;
        
            &:hover {
                color: $main-color;
                transform: rotate(360deg);
            }
        }
        #search-overlay{
            display: none;
            z-index: 999999;
        }
        .block {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            text-align: center;
            background-color: #000000eb;

            &:before {
                content: '';
                display: inline-block;
                height: 100%;
                vertical-align: middle;
            }
        }
        .centered {
            display: inline-block;
            vertical-align: middle;
            width: 50%;
            padding: 10px 15px;
            color: $white-color;
            border: 1px solid #fff;
            border-radius: 5px;

            #search-box {
                position: relative;

                form {
                    .form-control {
                        height: 50px;
                        border: 0;
                        border-radius: 5px;
                        padding-left: 20px;
                
                        &:focus {
                            border: 0;
                            box-shadow: none;
                        }
                    }
                    .btn {
                        position: absolute;
                        top: 0;
                        right: 0;
                        color: $white-color;
                        background-color: $main-color;
                        transition: $transition;
                        height: 100%;
                        padding: 0;
                        padding-left: 40px;
                        padding-right: 40px;
                        font-size: 18px;
                        border-radius: 0 5px 5px 0;
                        border: 0;
                
                        &:hover {
                            color: $white-color;
                            background-color: $black-color;
                        }
                    }
                }
            }
        }
    }
}

.banner-bg-one {
    background-image: url('../images/banner/bg1.jpg');
}
.banner-area {
    position: relative;
    overflow: hidden;

    .banner-shape {
        img {
            position: absolute;

            &:nth-child(1) {
                top: 115px;
                left: 55px;
                max-width: 180px;
                z-index: 3;
            }
            &:nth-child(2) {
                left: 25%;
                bottom: 100px;
                max-width: 180px;
                z-index: 3;
            }
            &:nth-child(3) {
                left: 50%;
                bottom: 240px;
                z-index: 3;
                max-width: 120px;
            }
            &:nth-child(4) {
                bottom: 20px;
                right: 20px;
            }
        }
    }
}
.banner-item {
    height: 800px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    .row {
        margin-top: 75px;
    }
}
.banner-content {
    max-width: 635px;
    margin-left: auto;
    position: relative;
    z-index: 2;

    &:before {
        position: absolute;
        content: '';
        width: 745px;
        height: 580px;
        top: -130px;
        left: -40px;
        background-color: $white-color;
        opacity: .98;
        z-index: -1;
        border-radius: 175px;
    }
    span {
        display: block;
        font-size: 17px;
        color: $main-color;
        font-weight: 500;
        margin-bottom: 15px;
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-name: fadeInUp;
        animation-delay: 0.5s;
    }
    h1 {
        font-size: 56px;
        margin-bottom: 15px;
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-name: fadeInDown;
        animation-delay: 0.5s;
    }
    p {
        margin-bottom: 22px;
    }
}
.banner-img {
    padding-right: 30px;
    position: relative;
    z-index: 1;
    max-width: 660px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    img {
        &:nth-child(1) {
            border-radius: 175px;
        }
    }
}
@keyframes border-transform-default {
    0%, to {
        border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
    }
    14% {
        border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
    }
    28% {
        border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
    }
    42% {
        border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
    }
    56% {
        border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
    }
    70% {
        border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
    }
    84% {
        border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
    }
}

.about-area {
    background-color: #f9f9f9;
    position: relative;
    z-index: 1;
    
    .about-shape {
        img {
            position: absolute;
            z-index: -1;
             
            &:nth-child(1) {
                top: 75px;
                left: 0;
                max-width: 590px;
            }
            &:nth-child(2) {
                top: 40px;
                right: 0;
                max-width: 150px;
            }
            &:nth-child(3) {
                bottom: 0;
                right: 0;
                max-width: 300px;
            }
        }
    }
    .about-content {
        .section-title {
            text-align: start;
            margin-bottom: 20px;

            h2 {
                margin-bottom: 15px;
            }
            p {
                margin-left: 0;
                font-weight: 500;
                margin-top: 5px;
            }
        }
        .inner {
            .common-btn {
                margin-top: 10px;
            }
        }
    }
}

.courses-area {
    position: relative;
    z-index: 1;

    .courses-shape {
        img {
            position: absolute;
            right: 0;
            top: 200px;
            z-index: -1;
        }
    }
    .sorting-menu {
        text-align: center;
        margin-bottom: 30px;

        ul {
            margin: 0;
            padding: 0;

            li {
                background-color: #f9f9f9;
                transition: $transition;
                list-style-type: none;
                display: inline-block;
                color: $black-color;
                border-radius: 10px;
                padding: 8px 30px;
                margin-right: 5px;
                margin-left: 5px;
                font-weight: 600;
                cursor: pointer;

                &:hover, &.active {
                    color: $white-color;
                    background-color: $main-color;
                }
            }
        }
    }
}
.courses-item {
    text-align: center;
    margin-bottom: 30px;
    transition: $transition;

    &:hover {
        transform: translate(0, -5px);

        .top {
            a {
                img {
                    border-radius: 15px 0 15px 0;
                }
            }
        }
    }
    .top {
        a {
            display: block;

            img {
                border-radius: 65px 0 65px 0;
                transition: $transition;
            }
        }
    }
    .bottom {
        .inner {
            position: relative;
            padding-top: 50px;
            padding-bottom: 50px;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            h3 {
                font-size: 22px;
                margin-bottom: 0;
                position: relative;
                z-index: 1;

                a {
                    color: $white-color;

                    &:hover {
                        color: $black-color;
                    }
                }
            }
        }
        ul {
            margin: 0;
            padding: 0;
            margin-bottom: 28px;

            li {
                list-style-type: none;
                display: block;
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0;
                }
                span {
                    display: inline-block;
                    font-weight: 600;
                    color: $main-color;
                }
            }
        }
    }
}
#Container {
    .mix {
        display: none;
    }
}

.exhibition-area {
    background-image: url('../images/events/bg1.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;

    &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #fedb73;
        opacity: .30;
        z-index: -1;
    }
    &:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 180px;
        bottom: 0;
        left: 0;
        background-color: $white-color;
    }
    .exhibition-content {
        background-color: $white-color;
        position: relative;
        z-index: 1;
        padding: 40px 40px;
        box-shadow: 0px 10px 20px 0px #f1f1f1;

        .exhibition-shape {
            img {
                position: absolute;

                &:nth-child(1) {
                    top: 0;
                    left: 0;
                }
                &:nth-child(2) {
                    top: 65px;
                    right: 30px;
                }
                &:nth-child(3) {
                    top: 220px;
                    right: 15px;
                }
            }
        }
        .section-title {
            padding-top: 30px;
            padding-bottom: 25px;

            .sub-title {
                color: $white-color;
            }
            h2 {
                color: $white-color;
            }
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: -1;
            }
        }
        ul {
            margin: 0;
            padding: 0;

            li {
                list-style-type: none;
                display: block;
                margin-bottom: 30px;
                padding-bottom: 30px;
                border-bottom: 1px dotted $main-color;
                position: relative;
                padding-left: 65px;

                &:nth-child(2) {
                    h4 {
                        background-color: #1596cc;
                    }
                }
                &:nth-child(3) {
                    h4 {
                        background-color: #faa520;
                    }
                }
                &:last-child {
                    margin-bottom: 0;
                    padding-bottom: 0;
                    border-bottom: 0;
                }
                h4 {
                    margin-bottom: 0;
                    width: 50px;
                    height: 50px;
                    line-height: 45px;
                    text-align: center;
                    color: $white-color;
                    background-color: $main-color;
                    animation: border-transform-default 10s linear infinite alternate forwards;
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-size: 25px;
                }
                h3 {
                    font-size: 22px;
                    margin-bottom: 10px;

                    a {
                        color: $black-color;

                        &:hover {
                            color: $main-color;
                        }
                    }
                }
                span {
                    display: block;
                    margin-bottom: 10px;
                    color: $main-color;
                    font-weight: 500;
                }
                p {
                    margin-bottom: 0;
                }
            }
        }
    }
    .exhibition-img {
        text-align: center;
    }
}

.gallery-item {
    text-align: center;
    margin-bottom: 30px;

    &:hover {
        .inner {
            max-width: 100%;
        }
    }
    .inner {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #f9f9f9;
        margin-top: -35px;
        position: relative;
        z-index: 1;
        transition: $transition;

        a {
            display: block;

            h3 {
                margin-bottom: 0;
                font-size: 22px;
                transition: $transition;

                &:hover {
                    letter-spacing: 1px;
                }
            }
        }
    }
}

.artist-area {
    background-color: #fef9ea;

    .artist-img {
        margin-bottom: 30px;
        position: relative;

        img {
            &:nth-child(2) {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
    .artist-content {
        margin-bottom: 30px;
        max-width: 640px;

        .section-title {
            text-align: start;
        }
        ul {
            margin: 0;
            padding: 0;

            li {
                list-style-type: none;
                display: block;
                margin-bottom: 25px;
                position: relative;
                padding-left: 60px;

                &:last-child {
                    margin-bottom: 0;
                }
                i {
                    display: inline-block;
                    color: $main-color;
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-size: 40px;
                    line-height: 40px;
                }
                h3 {
                    font-size: 22px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.testimonials-area {
    background-color: $yellow-color;
    position: relative;

    .testimonials-shape {
        img {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
    .owl-theme {
        .owl-nav.disabled+.owl-dots {
            margin-top: 0;
            position: absolute;
            right: 0;
            bottom: 25px;
        }
        .owl-dots {
            .owl-dot {
                span {
                    margin: 0 4px;
                    width: 15px;
                    height: 15px;
                    background: #c5c5c5;
                    transition: $transition;
                }
            }
            .owl-dot.active span, .owl-dot:hover span {
                background: $main-color;
            }
        }
    }
    .testimonials-item {
        .top {
            background-color: $white-color;
            padding: 30px 30px;
            margin-bottom: 40px;            
            position: relative;

            &:before {
                position: absolute;
                content: '';
                bottom: -15px;
                left: 30px;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-top: 18px solid $white-color;
            }
            i {
                display: inline-block;
                color: $main-color;
                font-size: 40px;
                line-height: 40px;
                margin-bottom: 15px;
            }
            p {
                font-size: 20px;
                font-style: italic;
                font-weight: 500;
            }
        }
        .bottom {
            display: flex;
            flex-wrap: wrap;

            .left {
                flex: 0 0 12%;
                max-width: 12%;
            }
            .right {
                flex: 0 0 70%;
                max-width: 70%;
                margin-left: 15px;
            }
            img {
                border-radius: 50%;
                width: auto;
            }
            h3 {
                font-size: 22px;
                margin-bottom: 8px;
                color: $main-color;
            }
            span {
                display: block;
                font-weight: 500;
            }
        }
    }
    .testimonials-img {
        text-align: center;
        position: relative;
        z-index: 1;
    }
}

.instagram-area {
    overflow: hidden;

    .col-lg-5 {
        flex: 0 0 auto;
        width: 14.285714%;
    }
    .instagram-item {
        text-align: center;
        position: relative;

        &:before {
            position: absolute;
            content: '';
            width: 0;
            height: 100%;
            top: 0;
            left: 0;
            background-color: $black-color;
            opacity: .70;
            transition: $transition;
        }
        &:hover {
            &:before {
                width: 100%;
            }
            a {
                opacity: 1;
                visibility: visible;
                transform: translate(-50%, -50%);
            }
        }
        a {
            font-size: 18px;
            font-weight: 500;
            font-style: italic;
            color: $white-color;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -30%);
            opacity: 0;
            visibility: hidden;
            width: 100%;

            &:hover {
                color: $main-color;
            }
        }
    }
}

.footer-area {
    background-color: #050d1a;
    position: relative;
    
    .footer-shape {
        img {
            position: absolute;
            max-width: 80px;

            &:nth-child(1) {
                bottom: 30px;
                left: 0;
            }
            &:nth-child(2) {
                top: 30px;
                right: 0;
            }
        }
    }
}
.footer-item {
    margin-bottom: 30px;
    position: relative;
    z-index: 1;

    h3 {
        font-size: 22px;
        border-bottom: 1px dotted $main-color;
        margin-bottom: 30px;
        padding-bottom: 10px;
        color: $white-color;
    }
    .footer-logo {
        .logo {
            display: block;
            margin-bottom: 20px;
        }
        ul {
            margin: 0;
            padding: 0;
    
            li {
                list-style-type: none;
                display: block;
                margin-bottom: 15px;
    
                &:last-child {
                    margin-bottom: 0;
                }
                span {
                    display: block;
                    font-weight: 600;
                    color: $white-color;
                }
                a {
                    display: block;
                    color: $white-color;
    
                    &:hover {
                        color: $main-color;
                    }
                }
            }
        }
    }
    .footer-links {
        ul {
            margin: 0;
            padding: 0;

            li {
                list-style-type: none;
                display: block;
                margin-bottom: 12px;

                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    display: block;
                    color: $white-color;

                    &:hover {
                        color: $main-color;
                    }
                }
            }
        }
    }
    .footer-subscribe {
        .newsletter-form {
            margin-bottom: 15px;

            .form-control {
                height: 50px;
                border-radius: 10px;
                border: 0;
                margin-bottom: 15px;
                font-size: 14px;
                
                &:focus {
                    border: 0;
                    box-shadow: none;
                }
            }
            .common-btn {
                width: 100%;
                display: block;
                height: 50px;
            }
            .validation-danger {
                color: $white-color;
                margin-top: 10px;
            }
        }
        ul {
            margin: 0;
            padding: 0;

            li {
                list-style-type: none;
                display: inline-block;
                margin-left: 5px;
                margin-right: 5px;

                a {
                    display: block;
                    font-size: 22px;
                    color: $white-color;

                    &:hover {
                        color: $main-color;
                    }
                }
            }
        }
    }
}

.copyright-area {
    background-color: #110e14;
    padding-top: 15px;
    padding-bottom: 15px;

    .copyright-item {
        p {
            margin-bottom: 0;
            color: $white-color;

            a {
                display: inline-block;
                font-weight: 700;
                color: $main-color;

                &:hover {
                    color: $white-color;
                }
            }
        }
        ul {
            margin: 0;
            padding: 0;
            text-align: end;

            li {
                list-style-type: none;
                display: inline-block;
                margin-right: 10px;
                padding-right: 17px;
                position: relative;

                &:last-child {
                    margin-right: 0;
                    padding-right: 0;

                    &:before {
                        display: none;
                    }
                }
                &:before {
                    position: absolute;
                    content: '';
                    width: 1px;
                    height: 18px;
                    right: 0;
                    top: 2px;
                    background-color: $white-color;
                }
                a {
                    display: block;
                    color: $white-color;

                    &:hover {
                        color: $main-color;
                    }
                }
            }
        }
    }
}

/*----- Home Demo Two -----*/
.main-nav.two {
    background: $main-color;

    .navbar {
        .navbar-nav {
            .nav-item {
                &:hover {
                    a {
                        color: $white-color;
                    }
                }
                a {
                    color: $white-color;
                    
                    &:hover, &:focus, &.active {
                        color: $white-color;
                    }
                }
                .dropdown-menu {
                    li {
                        &:hover {
                            a {
                                color: $main-color;
                            }
                        }
                        a {
                            color: $black-color;

                            &:hover, &:focus, &.active {
                                color: $main-color;
                            }
                        }
                        .dropdown-menu {
                            li {
                                a {
                                    color: $black-color;

                                    &:hover, &:focus, &.active {
                                        color: $main-color;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.side-nav.two {
    .languages {
        .nice-select {
            color: $white-color;

            &:after {
                border-bottom: 2px solid $white-color;
                border-right: 2px solid $white-color;
            }
        }
    }
    .nav-search {
        #search-btn {
            color: $white-color;

            &:hover {
                color: $black-color;
            }
        }
    }
    .call {
        a {
            color: $white-color;

            &:hover {
                color: $black-color;
            }
        }
    }
}

.banner-area.two {
    .banner-shape-two {
        img {
            position: absolute;

            &:nth-child(1) {
                top: 0;
                right: 0;
            }
            &:nth-child(2) {
                left: 0;
                bottom: 0;
                max-width: 800px;
            }
        }
    }
    .banner-item {
        background-color: #faecec;

        .banner-content {
            margin-left: 0;
            margin-top: 60px;

            &:before {
                display: none;
            }
            span {
                margin-bottom: 15px;
            }
            h1 {
                margin-bottom: 25px;
                color: $merun-color;
            }
        }
        .banner-img-two {
            img {
                position: absolute;
                bottom: 0;
                right: 0;
                max-width: 680px;
            }
        }
    }
}

.about-area.two {
    .about-shape-two {
        img {
            position: absolute;
            
            &:nth-child(1) {
                bottom: 0;
                left: 0;
                width: 100%;
            }
            &:nth-child(2) {
                bottom: 0;
                left: 42%;
                max-width: 115px;
                animation: about-ani-one 10s infinite linear;
            }
            &:nth-child(3) {
                top: 45px;
                right: 70px;
            }
            &:nth-child(4) {
                bottom: 230px;
                right: 0;
            }
        }
    }
    .about-content {
        padding-top: 0;
        padding-bottom: 0;
        position: relative;
        z-index: 1;
        padding-left: 15px;
        max-width: 635px;
    }
    .about-img-two {
        position: relative;
        text-align: center;
        z-index: 1;

        img {
            &:nth-child(1) {
                position: relative;
                z-index: 1;
            }
            &:nth-child(2) {
                position: absolute;
                top: 35px;
                left: 60px;
                max-width: 570px;
            }
        }
    }
}
@keyframes about-ani-one {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(-50px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

.features-item {
    padding: 30px;
    margin-bottom: 30px;
    transition: $transition;
    background-color: #f9f9f9;
    border-radius: 30px 0 30px 0;

    &:hover {
        transform: translate(0, -5px);
        border-radius: 0 50px 0 50px;
        background-color: $white-color;
        box-shadow: 0px 0px 20px 0px #f1f1f1;
    }
    .top {
        position: relative;
        margin-bottom: 20px;

        img {
            &:nth-child(2) {
                position: absolute;
                left: 20px;
                top: 20px;
            }
        }
    }
    h3 {
        font-size: 22px;
        margin-bottom: 12px;

        a {
            color: #4a2530;

            &:hover {
                color: $main-color;
            }
        }
    }
}

.counter-area {
    background-color: #fdeefc;
    background-image: url('../images/counter-shape.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.counter-item {
    background-color: $white-color;
    margin-bottom: 30px;
    text-align: center;
    padding: 30px;

    h3 {
        line-height: 1;
        font-size: 65px;
        margin-bottom: 0;
        color: $main-color;
    }
    p {
        font-weight: 600;
        font-size: 16px;
    }
}

.music-item {
    margin-bottom: 30px;
    background-color: #f9f9f9;
    border-radius: 8px;
    transition: $transition;
    
    &:hover {
        transform: translate(0, -5px);

        .bottom {
            h3 {
                a {
                    color: $main-color;
                }
            }
            .common-link {
                color: $main-color;
            }
        }
    }
    .top {
        a {
            display: block;

            img {
                border-radius: 8px;
            }
        }
    }
    .bottom {
        padding: 30px;

        h3 {
            font-size: 22px;
            margin-bottom: 15px;

            a {
                color: #4a2530;
            }
        }
        p {
            margin-bottom: 14px;
        }
    }
}
@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: inherit;
    }
}

.events-area {
    background-color: #f9f9f9;
    border-radius: 150px 0 150px 0;
    position: relative;
    z-index: 1;

    .events-shape {
        img {
            z-index: -1;
            position: absolute;

            &:nth-child(1) {
                top: 0;
                right: 0;
            }
            &:nth-child(2) {
                left: 0;
                bottom: 0;
            }
        }
    }
    .events-img {
        text-align: center;
        position: relative;
        z-index: 1;
        margin-bottom: 30px;

        &:before {
            position: absolute;
            content: '';
            width: 500px;
            height: 450px;
            top: 0;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            background-color: #e3acf3;
            transition: $transition;
            animation: border-transform-default-two 10s linear infinite alternate forwards;
            z-index: -1;
        }
        img {
            animation: border-transform-default 10s linear infinite alternate forwards;
        }
    }
    .events-content {
        margin-bottom: 30px;

        .section-title {
            text-align: start;
            margin-bottom: 20px;

            p {
                margin-left: 0;
                font-weight: 500;
            }
        }
        .inner {
            p {
                margin-bottom: 12px;
            }
            ul {
                padding: 0;
                margin: 20px 0 0;
                margin-bottom: 32px;

                li {
                    list-style-type: none;
                    display: inline-block;
                    font-weight: 500;
                    position: relative;
                    padding-left: 30px;
                    margin-right: 15px;

                    i {
                        display: inline-block;
                        font-size: 22px;
                        line-height: 22px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        color: $main-color;
                    }
                }
            }
        }
        &.two {
            .inner {
                p {
                    margin-bottom: 30px;
                }
            }
        }
    }
    .events-img-two {
        text-align: center;
        animation: events-ani-one 8s infinite linear;
    }
}
@keyframes border-transform-default-two {
    0%, to {
        border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
    }
    14% {
        border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
    }
    28% {
        border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
    }
    42% {
        border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
    }
    56% {
        border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
    }
    70% {
        border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
    }
    84% {
        border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
    }
}
@keyframes events-ani-one {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, -15px);
    }
    100% {
        transform: translate(0, 0);
    }
}

.testimonials-area.two {
    background-color: $white-color;

    .testimonials-slider {
        background-color: #f9f9f9;
        border-radius: 50px 0 50px 0;
        background-image: url('../images/testimonials/shape2.png');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        z-index: 1;

        &:before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: #fbf2f3;
            z-index: -1;
            opacity: .70;
            border-radius: 50px 0 50px 0;
        }
    }
    .testimonials-item {
        padding: 50px;
        max-width: 800px;

        .top {
            background-color: transparent;
            padding: 0;
            margin-bottom: 25px;
            
            &:before {
                display: none;
            }
        }
    }
    .container {
        position: relative;
    }
    .testimonials-img {
        position: unset;
        z-index: 1;

        img {
            position: absolute;
            top: 15px;
            max-width: 420px;
            right: 0;
            z-index: 2;
            animation: border-transform-default-two 10s linear infinite alternate forwards;
            padding: 15px;
            border: 3px solid #c442f4;
        }
    }
    .owl-theme {
        .owl-nav.disabled + .owl-dots {
            right: 0;
            left: 0;
            bottom: 15px;
        }
    }
}

.instructor-area {
    position: relative;
    z-index: 1;

    &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 350px;
        top: 0;
        left: 0;
        background-color: #fbedfa;
        z-index: -1;
    }
}
.instructor-item {
    text-align: center;
    margin-bottom: 30px;
    transition: $transition;

    &:hover {
        transform: translate(0, -5px);
    }
    .top {
        a {
            display: block;

            img {
                border-radius: 30px 0 30px 0;
            }
        }
    }
    .bottom {
        max-width: 88%;
        margin-left: auto;
        margin-right: auto;
        background-color: #fbf2f3;
        padding: 30px 25px 30px;
        border-radius: 30px 0 30px 0;
        position: relative;
        z-index: 1;
        margin-top: -65px;

        h3 {
            font-size: 22px;
            margin-bottom: 10px;

            a {
                color: $merun-color;

                &:hover {
                    color: $main-color;
                }
            }
        }
        span {
            display: block;
            font-weight: 500;
            color: $main-color;
        }
    }
}

.blog-item {
    margin-bottom: 30px;
    background-color: #f9f9f9;
    border-radius: 8px;
    transition: $transition;
    
    &:hover {
        transform: translate(0, -5px);

        .bottom {
            h3 {
                a {
                    color: $main-color;
                }
            }
            .common-link {
                color: $main-color;
            }
        }
    }
    .top {
        position: relative;

        span {
            position: absolute;
            left: 15px;
            bottom: 15px;
            color: $white-color;
            font-size: 14px;
            background-color: $main-color;
            padding: 7px 15px;
        }
        a {
            display: block;

            img {
                border-radius: 8px;
            }
        }
    }
    .bottom {
        padding: 30px;

        h3 {
            font-size: 22px;
            margin-bottom: 15px;

            a {
                color: #4a2530;
            }
        }
        p {
            margin-bottom: 14px;
        }
    }
}

.footer-area.two {
    background-color: #fbf2f3;

    .footer-item {
        .footer-logo {
            ul {
                li {
                    span {
                        color: $paragraph-color;
                    }
                    a {
                        color: $paragraph-color;

                        &:hover {
                            color: $main-color;
                        }
                    }
                }
            }
        }
        .footer-links {
            ul {
                li {
                    a {
                        color: $paragraph-color;

                        &:hover {
                            color: $main-color;
                        }
                    }
                }
            }
        }
    }
}

/*----- Home Demo Three -----*/
.main-nav.three {
    background: $black-color;

    .container-fluid {
        padding-left: 50px;
        padding-right: 50px;
    }
    .navbar {
        .navbar-nav {
            .nav-item {
                &:hover {
                    a {
                        color: $white-color;
                    }
                }
                a {
                    color: $white-color;
                    
                    &:hover, &:focus, &.active {
                        color: $main-color;
                    }
                }
                .dropdown-menu {
                    li {
                        &:hover {
                            a {
                                color: $main-color;
                            }
                        }
                        a {
                            color: $black-color;

                            &:hover, &:focus, &.active {
                                color: $main-color;
                            }
                        }
                        .dropdown-menu {
                            li {
                                a {
                                    color: $black-color;

                                    &:hover, &:focus, &.active {
                                        color: $main-color;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.side-nav.three {
    .languages {
        .nice-select {
            color: $white-color;

            &:after {
                border-bottom: 2px solid $white-color;
                border-right: 2px solid $white-color;
            }
        }
    }
    .nav-search {
        #search-btn {
            color: $white-color;

            &:hover {
                color: $main-color;
            }
        }
    }
    .call {
        a {
            color: $white-color;

            &:hover {
                color: $main-color;
            }
        }
    }
}

.banner-area.three {
    background-color: #f9f9f9;        
    position: relative;
    z-index: 1;

    &:before {
        position: absolute;
        content: '';
        width: 650px;
        height: 100%;
        top: 0;
        right: 0;
        background-color: $white-color;
    }
    .banner-shape-three {
        img {
            position: absolute;

            &:nth-child(1) {
                top: 90px;
                left: 0;
                max-width: 180px;
            }
            &:nth-child(2) {
                right: 0;
                top: 100px;
                max-width: 180px;
            }
            &:nth-child(3) {
                right: 0;
                bottom: 100px;
                max-width: 120px;
            }
            &:nth-child(4) {
                bottom: 0;
                right: 205px;
                max-width: 180px;
            }
        }
    }
    .container-fluid {
        padding-left: 50px;
        padding-right: 50px;
    }
    .banner-content {
        max-width: 600px;
        margin-left: 0;

        &:before {
            display: none;
        }
        h1 {
            margin-bottom: 25px;
        }
        .banner-btn {
            margin-left: 15px;
            background-color: $main-color;

            &:before {
                background-color: $black-color;
            }
        }
    }
    .banner-img {
        padding-right: 0;
        position: relative;
        z-index: 1;

        &:before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            top: -15px;
            right: -15px;
            background-color: $black-color;
            z-index: -1;
            border-radius: 120px 0px 120px 0px;
        }
        img {
            &:nth-child(1) {
                border-radius: 120px 0px 120px 0px;
            }
        }
    }
}

.about-area.three {
    background-color: $white-color;

    .about-img-three {
        margin-bottom: 30px;
        text-align: center;

        img {
            animation: border-transform-default 10s linear infinite alternate forwards;
        }
    }
    .about-content {
        margin-bottom: 30px;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 30px;

        .inner {
            p {
                margin-bottom: 10px;
            }
            ul {
                padding: 0;
                margin: 20px 0 0;
                margin-bottom: 35px;

                li {
                    list-style-type: none;
                    display: block;
                    margin-bottom: 12px;
                    font-weight: 500;
                    position: relative;
                    padding-left: 25px;

                    i {
                        display: inline-block;
                        color: $main-color;
                        position: absolute;
                        top: 2px;
                        left: 0;
                        font-size: 20px;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

.choose-area {
    background-color: #231834;

    .section-title.two {
        text-align: start;
        position: relative;

        h2 {
            color: $white-color;
        }
        p {
            color: $white-color;
            position: absolute;
            top: 5px;
            right: 0;
            margin: 0;
            max-width: 540px;
        }
    }
}
.choose-item {
    padding: 30px;
    margin-bottom: 30px;
    background-color: #413356;

    i {
        display: inline-block;
        font-size: 55px;
        line-height: 55px;
        margin-bottom: 20px;
        color: $main-color;
    }
    h3 {
        font-size: 22px;
        margin-bottom: 0;
        color: $white-color;
    }
}

.music-area.two {
    .music-item {
        .top {
            position: relative;

            span {
                display: inline-block;
                width: 60px;
                height: 60px;
                line-height: 60px;
                text-align: center;
                color: $white-color;
                background-color: $main-color;
                border-radius: 50%;
                font-weight: 500;
                position: absolute;
                right: 20px;
                bottom: -30px;
            }
        }
        .bottom {
            p {
                margin-bottom: 10px;
            }
            .left {
                margin-bottom: 10px;

                ul {
                    margin: 0;
                    padding: 0;
    
                    li {
                        list-style-type: none;
                        display: inline-block;
    
                        i {
                            display: inline-block;
                            color: #ddd;
    
                            &.checked {
                                color: #f6be52;
                            }
                        }
                    }
                }
            }
            .right {
                text-align: end;
                margin-bottom: 10px;

                ul {
                    margin: 0;
                    padding: 0;

                    li {
                        list-style-type: none;
                        display: inline-block;
                        vertical-align: middle;

                        img {
                            border-radius: 50%;
                            max-width: 40px;
                            margin-right: 5px;
                        }
                        span {
                            display: inline-block;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}

.counter-area.two {
    background-image: unset;

    .counter-item {
        &.border-right {
            border-right: 0;
        }
    }
}

.trial-area {
    background-image: url('../images/trial-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    .trial-content {
        background-color: #fcf2f2;
        padding: 40px 40px;
        max-width: 650px;
        margin-left: auto;

        .section-title.two {
            text-align: start;
            margin-bottom: 30px;
        }   
        .form-group {
            margin-bottom: 15px;

            .form-control {
                height: 55px;
                border: 0;
                border-radius: 0;
                font-size: 14px;

                &:focus {
                    border: 0;
                    box-shadow: none;
                }
            }
            .form-check {
                margin-bottom: 0;
            }
        }
        .common-btn {
            border-radius: 0;
            width: 100%;
            display: block;
            height: 55px;
            margin-bottom: 15px;

            &:before {
                border-radius: 0;
            }
        }
        p {
            a {
                display: inline-block;
                color: $main-color;
                font-weight: 600;

                &:hover {
                    color: $black-color;
                }
            }
        }
    }
}

.testimonials-area.three {
    .testimonials-slider {
        background-image: unset;

        &:before {
            display: none;
        }
    }
    .testimonials-img {
        img {
            padding: 0;
            border: 0;
        }
    }
}

.instructor-area.two {
    background-color: #231834;
    position: relative;
    z-index: 1;

    &:before {
        display: none;
    }
    .section-title.two {
        h2 {
            color: $white-color;
        }
    }
    .instructor-shape {
        img {
            position: absolute;
            z-index: -1;

            &:nth-child(1) {
                top: 100px;
                left: 100px;
            }
            &:nth-child(2) {
                bottom: 100px;
                right: 0;
            }
        }
    }
}

/*----- About -----*/
.title-img-one {
    background-image: url('../images/title/bg1.jpg');
}
.page-title-area {
    height: 400px;
    position: relative;
    background: {
        size: cover;
        position: center center;
        repeat: no-repeat;
    };
    &:before {
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        opacity: .60;
        position: absolute;
        background-color: #010f25;
    }
    .title-content {
        text-align: center;
        position: relative;
        margin-top: 80px;
        z-index: 1;

        h2 {
            font-size: 45px;
            margin-bottom: 17px;
            color: $white-color;
        }
        ul {
            margin: 0;
            padding: 0;
            opacity: .8;

            li {
                list-style-type: none;
                display: inline-block;
                margin-left: 10px;
                margin-right: 10px;
                position: relative;

                &:before {
                    position: absolute;
                    content: '/';
                    top: 1px;
                    right: -15px;
                    color: $white-color;
                }
                &:last-child {
                    &:before {
                        display: none;
                    }
                }
                a {
                    display: inline-block;
                    color: $white-color;

                    &:hover {
                        color: $main-color;
                    }
                }
                span {
                    display: inline-block;
                    color: $white-color;
                }
            }
        }
    }
}
.pagination-area {
    text-align: center;
    margin-top: 20px;

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style-type: none;
            display: inline-block;
            margin: {
                right: 3px;
                left: 3px;
            };
            a {
                display: block;
                font-weight: 500;
                padding: 5px 15px;
                border-radius: 5px;
                color: $black-color;
                background-color: #f9f9f9;

                &:hover, &.active {
                    color: $white-color;
                    background-color: $main-color;
                }
            }
        }
    }
}

/*----- Course Details -----*/
.title-img-two {
    background-image: url('../images/title/bg2.jpg');
}
.course-details-area {
    .details-item {
        img {
            margin-bottom: 25px;
        }
        a {
            color: $main-color;

            &:hover {
                color: $paragraph-color;
            }
        }
        h1 {
            font-size: 35px;
            margin-bottom: 15px;
        }
        h2 {
            font-size: 30px;
            margin-bottom: 15px;
        }
        h3 {
            font-size: 22px;
            margin-bottom: 15px;
        }
        h4 {
            font-size: 20px;
            margin-bottom: 15px;
        }
        h5 {
            font-size: 18px;
            margin-bottom: 15px;
        }
        h6 {
            font-size: 16px;
            margin-bottom: 15px;
        }
        p {
            margin-bottom: 15px;
            line-height: 1.8;

            &:last-child {
                margin-bottom: 0;
            }
            span {
                color: $main-color;
            }
        }
        .row {
            margin-top: 25px;
        }
        ul {
            margin: 0;
            padding: 0;
            margin-top: 5px;

            li {
                list-style-type: none;
                display: block;
                margin-bottom: 10px;
                position: relative;
                padding-left: 15px;

                &:before {
                    position: absolute;
                    content: '';
                    width: 8px;
                    height: 8px;
                    top: 7px;
                    left: 0;
                    background-color: $main-color;
                    border-radius: 50%;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
.widget-area {
    .widget-item {
        padding: 30px 25px;
        margin-bottom: 30px;
        border: 1px solid #eeeeee;
        box-shadow: 0px 0px 20px 0px #f1f1f1;

        &:last-child {
            margin-bottom: 0;
        }
        h3 {
            font-size: 22px;
            padding-left: 30px;
            margin-bottom: 25px;
            position: relative;

            &:before {
                position: absolute;
                content: '';
                width: 20px;
                height: 2px;
                top: 13px;
                left: 0;
                background-color: $main-color;
            }
        }
    }
    .search {
        form {
            position: relative;

            .form-control {
                height: 55px;
                border: 0;
                border-radius: 0;
                background-color: #f3f1f1;

                &:focus {
                    border: 0;
                    box-shadow: none;
                }
            }
            .btn {
                position: absolute;
                top: 0;
                right: 0;
                transition: $transition;
                border: 0;
                height: 55px;
                width: 55px;
                line-height: 55px;
                font-size: 22px;
                color: $white-color;
                background-color: $main-color;
                padding: 0;
                border-radius: 0;

                i {
                    line-height: 55px;
                }
                &:hover {
                    color: $white-color;
                    background-color: $paragraph-color;
                }
            }
        }
    }
    .post {
        .inner {
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }
            ul {
                margin: 0;
                padding: 0;
                display: flex;
                flex-wrap: wrap;

                li {
                    list-style-type: none;
                    display: inline-block;

                    &:nth-child(1) {
                        flex: 0 0 25%;
                        max-width: 25%;
                    }
                    &:nth-child(2) {
                        flex: 0 0 70%;
                        max-width: 70%;
                        margin-left: 15px;
                    }
                    a {
                        display: block;
                        font-weight: 600;
                        color: $paragraph-color;
                        margin-bottom: 3px;
                        font-size: 16px;

                        &:hover {
                            color: $main-color;
                        }
                    }
                    span {
                        display: block;
                        font-size: 14px;
                        color: $main-color;
                    }
                }
            }
        }
    }
    .category {
        ul {
            margin: 0;
            padding: 0;

            li {
                list-style-type: none;
                display: block;
                margin-bottom: 15px;
                padding-bottom: 15px;
                border-bottom: 1px dashed $main-color;

                &:last-child {
                    margin-bottom: 0;
                    padding-bottom: 0;
                    border-bottom: 0;
                }
                a {
                    display: block;
                    color: $paragraph-color;
                    font-weight: 500;

                    &:hover {
                        color: $main-color;
                    }
                }
            }
        }
    }
}

/*----- Event Details -----*/
.title-img-three {
    background-image: url('../images/title/bg3.jpg');
}
.event-details-area {
    .details-item {
        img {
            margin-bottom: 25px;
        }
        a {
            color: $main-color;

            &:hover {
                color: $paragraph-color;
            }
        }
        h1 {
            font-size: 35px;
            margin-bottom: 15px;
        }
        h2 {
            font-size: 30px;
            margin-bottom: 15px;
        }
        h3 {
            font-size: 22px;
            margin-top: 25px;
            margin-bottom: 25px;
        }
        h4 {
            font-size: 20px;
            margin-bottom: 15px;
        }
        h5 {
            font-size: 18px;
            margin-bottom: 15px;
        }
        h6 {
            font-size: 16px;
            margin-bottom: 15px;
        }
        p {
            margin-bottom: 15px;
            line-height: 1.8;

            &:last-child {
                margin-bottom: 0;
            }
            span {
                color: $main-color;
            }
        }
    }
}
.widget-area {
    .information {
        .nav-pills {
            margin-bottom: 15px;
            background-color: $black-color;
            width: 100%;
            text-align: center;
            display: block;

            li {
                display: inline-block;

                .nav-link {
                    font-size: $all-size;
                    color: $white-color;
                    background-color: transparent;
                    border-radius: 0;
                    padding: 12px 25px;
                    transition: $transition;
                    font-weight: 500;
                }
            }
        }
        .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
            color: $main-color;
            background-color: transparent;
        }
        .tab-content {
            ul {
                margin: 0;
                padding: 0;

                li {
                    list-style-type: none;
                    display: block;
                    position: relative;
                    margin-bottom: 12px;
                    font-weight: 600;

                    &:last-child {
                        margin-bottom: 0;
                    }
                    span {
                        position: absolute;
                        top: 0;
                        right: 0;
                        font-weight: 400;
                    }
                    a {
                        display: inline-block;
                        color: $paragraph-color;
                        position: absolute;
                        top: 0;
                        right: 0;
                        font-weight: 400;

                        &:hover {
                            color: $main-color;
                        }
                    }
                }
            }
        }
    }
}

/*----- Blog Details -----*/
.title-img-four {
    background-image: url('../images/title/bg4.jpg');
}
.blog-details-area {
    .details-item {
        .top {
            position: relative;
            margin-bottom: 25px;

            span {
                position: absolute;
                left: 15px;
                bottom: 15px;
                color: $white-color;
                font-size: 14px;
                background-color: $main-color;
                padding: 7px 15px;
                display: inline-block;
            }
        }
        .info {
            margin: 0;
            padding: 0;
            margin-bottom: 15px;

            li {
                list-style-type: none;
                display: inline-block;
                margin-right: 15px;
                font-size: 14px;

                i {
                    display: inline-block;
                    color: $main-color;
                    font-size: 16px;
                    position: relative;
                    top: 1px;
                }
                a {
                    display: inline-block;
                    color: $paragraph-color;

                    &:hover {
                        color: $main-color;
                    }
                }
            }
        }
        a {
            font-weight: 500;
            color: $main-color;

            &:hover {
                color: $paragraph-color;
            }
        }
        h1, h2, h3, h4, h5, h6 {
            margin-bottom: 15px;
        }
        p {
            margin-bottom: 15px;
            line-height: 1.8;

            &:last-child {
                margin-bottom: 0;
            }
        }
        h1 {
            font-size: 30px;
        }
        h2 {
            font-size: 25px;
        }
        h3 {
            font-size: 22px;
        }
        h4 {
            font-size: 20px;
        }
        h5 {
            font-size: 18px;
        }
        h6 {
            font-size: 16px;
        }
        blockquote {
            background-color: #f9f9f9;
            padding: 30px 30px 30px;
            border-left: 3px solid $main-color;
            font-weight: 500;
            font-size: 18px;
            margin-top: 22px;
            margin-bottom: 20px;
            font-style: italic;
        }
        .details-comments {
            margin-top: 25px;
            margin-bottom: 30px;

            h3 {
                margin-bottom: 25px;
            }
            ul {
                margin: 0;
                padding: 0;

                li {
                    list-style-type: none;
                    display: block;
                    position: relative;
                    padding-left: 100px;
                    margin-bottom: 30px;
                    padding-bottom: 30px;
                    border-bottom: 1px solid #f1f1f1;

                    &:last-child {
                        margin-bottom: 0;
                        padding-bottom: 0;
                        border-bottom: 0;
                    }
                    h4 {
                        font-size: 18px;
                    }
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        border-radius: 50%;
                        max-width: 80px;
                    }
                    span {
                        display: block;
                        margin-bottom: 10px;
                        font-size: 14px;
                    }
                    p {
                        margin-bottom: 0;
                    }
                    a {
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                }
            }
        }
        .details-form {
            background-color: #f9f9f9;
            padding: 30px 30px;

            h3 {
                margin-bottom: 10px;
            }
            span {
                display: block;
                margin-bottom: 30px;
            }
            label {
                font-weight: 500;
                margin-bottom: 15px;
                font-size: 14px;
            }
            .form-group {
                margin-bottom: 15px;

                .form-control {
                    height: 50px;
                    border: 0;
                    border-radius: 0;

                    &:focus {
                        box-shadow: none;
                    }
                }
                textarea {
                    height: auto !important;
                    padding-top: 13px;
                }
                .form-check {
                    .form-check-input {
                        border-radius: 0;
                        margin-top: 3px;

                        &:checked {
                            background-color: $main-color;
                            border-color: $main-color;
                        }
                        &:focus {
                            box-shadow: none;
                        }
                    }
                    .form-check-label {
                        font-weight: 400;
                        font-size: $all-size;
                    }
                }
            }
        }
    }
}

.widget-area {
    .tags {
        h3 {
            margin-bottom: 12px;
        }
        ul {
            margin: 0;
            padding: 0;

            li {
                list-style-type: none;
                display: inline-block;
                margin-right: 4px;
                margin-top: 8px;

                a {
                    display: block;
                    color: $paragraph-color;
                    background-color: #fafafa;
                    padding: 6px 18px;
                    font-weight: 500;

                    &:hover {
                        color: $white-color;
                        background-color: $main-color;
                    }
                }
            }
        }
    }
    .author {
        text-align: center;
        margin-bottom: 30px;

        img {
            border-radius: 50%;
            border: 5px solid #fff;
            box-shadow: 0px 0px 20px 0px #f1f1f1;
            margin-bottom: 25px;
        }
        h4 {
            font-size: 22px;
            margin-bottom: 5px;
        }
        span {
            display: block;
            margin-bottom: 15px;
            font-weight: 500;
            font-size: 15px;
        }
        p {
            margin-bottom: 15px;
        }
        ul {
            margin: 0;
            padding: 0;

            li {
                list-style-type: none;
                display: inline-block;
                margin-right: 2px;
                margin-left: 2px;

                a {
                    display: block;
                    width: 35px;
                    height: 35px;
                    line-height: 35px;
                    text-align: center;
                    color: $white-color;
                    background-color: $main-color;
                    font-size: 18px;
                    border-radius: 5px;

                    i {
                        line-height: 35px;
                    }
                    &:hover {
                        color: $white-color;
                        background-color: $black-color;
                    }
                }
            }
        }
    }
}

.blog-details-area.two {
    .widget-area {
        .widget-item {
            &:last-child {
                margin-bottom: 30px;
            }
        }
    }
}

/*----- Contact -----*/
.title-img-five {
    background-image: url('../images/title/bg5.jpg');
}
.contact-info-item {
    box-shadow: 0px 0px 20px 0px #f1f1f1;
    background-color: $white-color;
    padding: 30px 30px 30px 130px;
    margin-bottom: 30px;
    position: relative;

    i {
        top: 30px;
        left: 30px;
        width: 80px;
        height: 80px;
        font-size: 35px;
        line-height: 80px;
        position: absolute;
        text-align: center;
        border-radius: 50%;
        color: $white-color;
        display: inline-block;
        background-color: $main-color;
    }
    h3 {
        font-size: 22px;
        margin-bottom: 12px;
    }
    a {
        display: block;
        color: $black-color;
        margin-bottom: 5px;

        &:last-child {
            margin-bottom: 0;
        }
        &:hover {
            color: $main-color;
        }
    }
}
.contact-area {
    .contact-img {
        background-image: url('../images/contact-main1.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;

        img {
            display: none;
        }
    }
    #contactForm {
        padding: 30px 30px 30px;
        box-shadow: 0px 0px 20px 0px #f1f1f1;

        h3 {
            font-size: 22px;
            margin-bottom: 25px;
        }
        .form-group {
            margin-bottom: 15px;

            label {
                font-size: 15px;
                font-weight: 500;
                margin-bottom: 10px;
            }
            .form-control {
                height: 50px;
                border: 1px solid #f1f1f1;
                border-radius: 0;
                transition: $transition;

                &:focus {
                    border: 1px solid $main-color;
                    box-shadow: none;
                }
            }
            textarea {
                padding-top: 13px;
                height: auto !important;
            }
            .form-check {
                margin: 0;

                .form-check-input {
                    border-radius: 0;

                    &:focus {
                        box-shadow: none;
                    }
                }
                label {
                    margin-bottom: 0;
                }
                a {
                    display: inline-block;
                    color: $main-color;

                    &:hover {
                        color: $paragraph-color;
                    }
                }
            }
        }
        .text-danger {
            margin-top: 15px;
            font-size: 20px;
            margin-bottom: 0;
        }
        .text-success {
            margin-top: 15px;
            font-size: 20px;
            margin-bottom: 0;
        }
        .list-unstyled {
            margin-top: 10px;
            color: #dc3545 !important;
            margin-bottom: 0;
        }
    }
}
.map-area {
    iframe {
        border: 0;
        width: 100%;
        display: block;
        height: 400px;
    }
}

/*----- User -----*/
.user-area {
    .user-item {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        background-color: #f1f1f1;
        padding: 50px;

        h2 {
            text-align: center;
            margin-bottom: 30px;
            margin-top: -4px;
            font-size: 25px;
        }
        .form-group {
            margin-bottom: 15px;

            .form-control {
                height: 50px;
                border: 0;
                border-radius: 5px;
                padding-left: 15px;
                background-color:$white-color;
                font-size: $all-size;

                &:focus {
                    border: 0;
                    box-shadow: none;
                }
            }
            .form-check {
                .form-check-label {
                    color: $paragraph-color;
    
                    a {
                        display: inline-block;
                        color: $paragraph-color;
                        font-weight: 600;
    
                        &:hover {
                            color: $main-color;
                        }
                    }
                }
                .form-check-input {
                    margin-left: -22px;
                    width: 18px;
                    height: 18px;
                    border-radius: 0;
                    margin-top: 2px;
                    border: 1px solid $main-color;
    
                    &:focus {
                        box-shadow: none;
                        border: 1px solid $main-color;
                    }
                    &:checked {
                        background-color: $main-color;
                    }
                }
            }
        }
        .common-btn {
            width: 100%;
            display: block;
            margin-bottom: 30px;
        }
        h4 {
            font-weight: 400;
            margin-bottom: 30px;
            font-size: $all-size;
            position: relative;
            text-align: center;

            &:before {
                position: absolute;
                content: '';
                top: 9px;
                left: 0;
                width: 45%;
                height: 1px;
                background-color: #ddd;
            }
            &:after {
                position: absolute;
                content: '';
                top: 9px;
                right: 0;
                width: 45%;
                height: 1px;
                background-color: #ddd;
            }
        }
        ul {
            margin: 0;
            padding: 0;
            text-align: center;
            margin-bottom: 30px;

            li {
                list-style-type: none;
                display: block;
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    display: block;
                    color: $white-color;
                    background-color: #3B5998;
                    border-radius: 5px;
                    border: 1px solid #3B5998;
                    padding: 10px 12px;
                    font-weight: 600;

                    i {
                        display: inline-block;
                        font-size: 20px;
                        position: relative;
                        top: 3px;
                    }
                    &:hover {
                        color: #3B5998;
                        background-color: $white-color;
                    }
                }
                &:nth-child(2) {
                    a {
                        background-color: #DB3236;
                        border: 1px solid #DB3236;

                        &:hover {
                            color: #DB3236;
                            background-color: $white-color;
                        }
                    }
                }
            }
        }
        h5 {
            margin-bottom: 0;
            font-weight: 400;
            color: $paragraph-color;
            font-size: $all-size;
            text-align: center;

            a {
                color: $main-color;
                display: inline-block;
                font-weight: 600;
                border-bottom: 1px solid $main-color;

                &:hover {
                    color: $paragraph-color;
                    border-bottom: 1px solid $paragraph-color;
                }
            }
        }
    }
}

/*----- FAQ -----*/
.faq-area {
    .faq-item {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0px 0px 20px 0px #f1f1f1;
        background-color: $white-color;
        padding: 50px 50px 45px;
        position: relative;
        z-index: 1;
        
        .section-title {
            text-align: center;
            margin-bottom: 30px;
        }
        .accordion {
            margin: 0;
            padding: 0;
        
            li {
                border-bottom: 1px solid #eeeeee;
                list-style-type: none;
                margin-bottom: 20px;
                padding-bottom: 20px;
                position: relative;
                display: block;
        
                &:last-child {
                    margin-bottom: 0;
                    border-bottom: none;
                    padding-bottom: 0;
                }
                .faq-head {
                    color: $black-color;
                    font-size: 20px;
                    width: 100%;
                    display: block;
                    cursor: pointer;
                    font-weight: 600;
                    margin-bottom: 0;
                    transition: $transition;
                    line-height: 1.4;
                    position: relative;
                    padding-right: 30px;
        
                    span {
                        display: inline-block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        text-align: center;
                        border-radius: 5px;
                        color: $main-color;
                        color: $main-color;
                    }
                    &:after {
                        position: absolute;
                        right: 15px;
                        content: "+";
                        top: -5px;
                        color: $main-color;
                        font-size: 25px;
                        text-align: center;
                    }
                    &.active {
                        color: $main-color;

                        &:after {
                            content: '-';
                            font-size: 25px;
                        }
                    }
                }
                .faq-content {
                    display: none;
                    background-color: $white-color;
                    padding-top: 10px;
        
                    p {
                        margin-bottom: 0;
                        margin-top: 8px;
                    }
                    a {
                        display: inline-block;
                        color: $main-color;
                        font-weight: 600;

                        &:hover {
                            color: $black-color;
                        }
                    }
                }
            }
        }
    }
}

/*----- Error -----*/
.error-area {
    height: 100vh;
    background-color: $black-color;

    .error-item {
        text-align: center;
        position: relative;
        z-index: 1;

        h1 {
            font-size: 150px;
            margin-bottom: 15px;
            color: $white-color;
        }
        h2 {
            font-size: 30px;
            margin-bottom: 15px;
            color: $white-color;
        }
        p {
            margin-bottom: 30px;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
            color: $white-color;
        }
        .common-btn {
            background-color: $white-color;

            &:hover {
                color: $black-color;
            }
        }
    }
}

/*----- Rules -----*/
.rules-area {
    .rules-item {
        .rules-head {
            text-align: center;
            margin-bottom: 50px;

            h2 {
                font-size: 30px;
                margin-bottom: 15px;
            }
            span {
                display: block;
                font-weight: 500;
            }
        }
        .rules-inner {
            margin-bottom: 25px;

            &:last-child {
                margin-bottom: 0;
            }
            h3 {
                font-size: 22px;
                margin-bottom: 15px;
            }
            p {
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
            ul {
                margin: 0;
                padding: 0;

                li {
                    list-style-type: none;
                    display: block;
                    padding-left: 20px;
                    margin-bottom: 12px;
                    position: relative;

                    &:before {
                        position: absolute;
                        content: '';
                        width: 10px;
                        height: 10px;
                        top: 7px;
                        left: 0;
                        background-color: #cdcecf;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

/*----- Become -----*/
.become-area {
    .become-item {
        max-width: 1000px;
        padding: 50px 50px;
        box-shadow: 0px 0px 20px 0px #f1f1f1;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        h3 {
            font-size: 25px;
            text-align: center;
            position: relative;
            margin-bottom: 40px;
        }
        .form-group {
            margin-bottom: 15px;

            .form-control {
                height: 50px;
                border: 0;
                border-radius: 0;
                background-color: #fafafa;
                font-size: $all-size;
                padding-left: 18px;

                &:focus {
                    box-shadow: none;
                }
            }
            ::placeholder {
                color: $paragraph-color;
            }
            .nice-select {
                height: 50px;
                line-height: 50px;
                border: 0;
                border-radius: 0;
                background-color: #fafafa;
                font-size: $all-size;
                color: $paragraph-color;
                width: 100%;
                display: block;
                margin-bottom: 15px;

                ul {
                    border-radius: 0;
                    width: 100%;
                    display: block;
                }
            }
        }
        .common-btn {
            margin-top: 10px;
        }
    }
}

/*----- Instructor Details -----*/
.instructor-details-area {
    .instructor-img {
        margin-bottom: 30px;

        img {
            border-radius: 5px;
        }
    }
    .instructor-content {
        margin-bottom: 30px;
        padding-left: 20px;

        h3 {
            font-size: 25px;
            margin-bottom: 10px;
        }
        span {
            display: block;
            font-size: 14px;
            margin-bottom: 10px;
            color: $main-color;
        }
        p {
            margin-bottom: 15px;
        }
        .items {
            margin: 0;
            padding: 0;
            margin-bottom: 30px;

            li {
                list-style-type: none;
                display: block;
                position: relative;
                margin-bottom: 12px;
                padding-left: 18px;
                font-weight: 500;

                &:last-child {
                    margin-bottom: 0;
                }
                &:before {
                    position: absolute;
                    content: '';
                    width: 6px;
                    height: 6px;
                    top: 8px;
                    left: 0;
                    background-color: $main-color;
                }
            }
        }
        .social {
            margin: 0;
            padding: 0;

            li {
                list-style-type: none;
                display: inline-block;
                margin-right: 2px;
                margin-left: 2px;

                a {
                    display: block;
                    width: 35px;
                    height: 35px;
                    line-height: 35px;
                    text-align: center;
                    color: $white-color;
                    background-color: $main-color;
                    font-size: 18px;
                    border-radius: 5px;

                    i {
                        line-height: 35px;
                    }
                    &:hover {
                        color: $white-color;
                        background-color: $black-color;
                    }
                }
            }
        }
    }
}

/*----- Loader -----*/
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: $white-color;
}
.spinner {
    margin: auto;
    width: 70px;
    text-align: center;

    .bounce1 {
        animation-delay: -0.32s;
    }
    .bounce2 {
        animation-delay: -0.16s;
    }
}
.spinner > div {
    width: 18px;
    height: 18px;
    background-color: $main-color;
    border-radius: 100%;
    display: inline-block;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
@keyframes sk-bouncedelay {
    0%, 80%, 100% { 
        transform: scale(0);
    } 
    40% { 
        transform: scale(1.0);
    }
}

/*----- Go Top -----*/
.go-top {
    position: fixed;
    cursor: pointer;
    bottom: 45px;
    right: 0;
    color: $white-color;
    background-color: $main-color;
    z-index: 4;
    width: 45px;
    text-align: center;
    height: 45px;
    opacity: 0;
    visibility: hidden;
    transition: .9s;
    border-radius: 50%;
    border: 1px solid $main-color;

    i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: 0 auto;
        transition: 0.6s;
        font-size: 20px;
        line-height: 45px;

        &:last-child {
            opacity: 0;
            visibility: hidden;
            top: 60%;
        }
    }
    &.active {
        right: 1%;
        transform: translateY(-1%);
        opacity: 1;
        visibility: visible;
    }
    &:hover, &:focus {
        color: $white-color;
        border: 1px solid $main-color;
        background-color: $main-color;

        i {
            &:first-child {
                opacity: 0;
                top: 0;
                visibility: hidden;
            }
            &:last-child {
                opacity: 1;
                visibility: visible;
                top: 50%;
            }
        }
    }
}