/*
@File: Intans Template Style

* This file contains the styling for the actual template, this
is the file you need to edit to change the look of the
template.

This files table contents are outlined below>>>>>

*******************************************
*******************************************

** - Default CSS
** - Home Demo One CSS
** - Home Demo Two CSS
** - Home Demo Three CSS
** - About Us CSS
** - Course Details CSS
** - Event Details CSS
** - Blog Details CSS
** - User CSS
** - Instructor Details CSS
** - Become CSS
** - FAQ CSS
** - 404 CSS
** - Rules CSS
** - Go Top CSS
** - Loader CSS
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,400&display=swap");
/*----- Default -----*/
body {
  font-family: "Montserrat", sans-serif;
  color: #00090e;
  background-color: #ffffff;
  font-size: 15px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: #012539;
  font-family: "Playfair Display", serif;
}

p {
  line-height: 1.7;
}

p:last-child {
  margin-bottom: 0;
}

a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.d-table {
  width: 100%;
  height: 100%;
}

.d-table-cell {
  vertical-align: middle;
}

.mtb-100 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.mt-70 {
  margin-top: 70px;
}

.mb-100 {
  margin-bottom: 100px;
}

.ptb-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pr-15 {
  padding-right: 10px;
}

.pl-15 {
  padding-left: 10px;
}

button:focus {
  outline: 0;
}

.btn.focus, .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.common-btn {
  display: inline-block;
  color: #ffffff;
  padding: 12px 25px;
  font-weight: 500;
  border: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1 !important;
  z-index: 1;
  position: relative;
  border-radius: 10px;
  z-index: 1;
  background-color: #012539;
  font-size: 15px;
}

.common-btn:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #f65252;
  z-index: -1;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.common-btn:hover {
  color: #ffffff;
}

.common-btn:hover:before {
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 0;
}

.common-link {
  display: inline-block;
  color: #4a2530;
  font-weight: 600;
}

.common-link:hover {
  color: #f65252;
}

.common-link i {
  position: relative;
  top: 2px;
}

.section-title {
  margin-bottom: 40px;
  text-align: center;
  margin-top: -5px;
  position: relative;
  z-index: 1;
}

.section-title .sub-title {
  font-weight: 600;
  color: #f65252;
  display: block;
  margin-bottom: 10px;
}

.section-title h2 {
  font-size: 45px;
  margin-bottom: 0;
  line-height: 1.3;
}

.section-title p {
  margin-top: 12px;
  margin-bottom: 0;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.section-title.two h2 {
  color: #4a2530;
}

/*----- Home Demo One -----*/
.main-nav {
  background: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main-nav.menu-shrink {
  padding-top: 12px;
  padding-bottom: 12px;
  -webkit-box-shadow: 0px 0px 20px 0px #fafafa;
          box-shadow: 0px 0px 20px 0px #fafafa;
}

.main-nav .navbar-brand {
  padding: 0;
  margin: 0;
}

.main-nav .navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.main-nav .navbar .navbar-nav {
  margin-left: auto;
  margin-right: auto;
}

.main-nav .navbar .navbar-nav .nav-item:hover a {
  color: #f65252;
}

.main-nav .navbar .navbar-nav .nav-item:hover .dropdown-menu {
  left: 0;
}

.main-nav .navbar .navbar-nav .nav-item:hover .dropdown-menu:before {
  width: 100%;
  left: 0;
  right: auto;
}

.main-nav .navbar .navbar-nav .nav-item:hover .dropdown-menu:after {
  width: 100%;
  left: 0;
  right: auto;
}

.main-nav .navbar .navbar-nav .nav-item a {
  text-transform: unset;
  color: #012539;
  margin-left: 12px;
  margin-right: 12px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 15px;
}

.main-nav .navbar .navbar-nav .nav-item a i {
  display: inline-block;
  font-size: 17px;
  position: relative;
  margin-left: -2px;
  top: 2.5px;
}

.main-nav .navbar .navbar-nav .nav-item a:hover, .main-nav .navbar .navbar-nav .nav-item a:focus, .main-nav .navbar .navbar-nav .nav-item a.active {
  color: #f65252;
}

.main-nav .navbar .navbar-nav .nav-item .dropdown-menu {
  background-color: #ffffff;
  border: 0;
  border-radius: 0;
  padding: 0;
  top: 100%;
  left: -15px;
}

.main-nav .navbar .navbar-nav .nav-item .dropdown-menu:before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 1px;
  background-color: #f65252;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main-nav .navbar .navbar-nav .nav-item .dropdown-menu:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 1px;
  background-color: #f65252;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li {
  border-bottom: 1px solid #f5f5f5;
}

.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li:last-child {
  border-bottom: 0;
}

.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li:hover .dropdown-menu {
  top: 0 !important;
  right: -100%;
}

.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li:hover .dropdown-menu:before {
  width: 100%;
  left: 0;
  right: auto;
}

.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li:hover .dropdown-menu:after {
  width: 100%;
  left: 0;
  right: auto;
}

.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li:hover a {
  color: #f65252;
}

.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li a {
  font-size: 14px;
  text-transform: unset;
  padding: 12px 15px;
  color: #012539;
}

.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:hover, .main-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:focus, .main-nav .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
  color: #f65252;
}

.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
  left: unset;
  right: -96%;
}

.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu:before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 1px;
  background-color: #f65252;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 1px;
  background-color: #f65252;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a {
  color: #012539;
  text-transform: unset;
}

.main-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:hover, .main-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:focus, .main-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a.active {
  color: #f65252;
}

.main-nav .dropdown-toggle::after {
  display: none;
}

.side-nav .languages {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}

.side-nav .languages .nice-select {
  height: 30px;
  line-height: 30px;
  background-color: transparent;
  border: 0;
  font-size: 15px;
  color: #012539;
  font-weight: 500;
}

.side-nav .languages .nice-select:after {
  border-bottom: 2px solid #012539;
  border-right: 2px solid #012539;
}

.side-nav .languages .nice-select ul {
  border: 0;
  border-radius: 0;
  display: block;
  width: 100%;
}

.side-nav .languages .nice-select ul li {
  display: block;
  width: 100%;
  color: #012539;
  font-size: 14px;
  font-weight: 500;
}

.side-nav .call {
  display: inline-block;
  vertical-align: middle;
}

.side-nav .call a {
  display: block;
  color: #ffffff;
  font-weight: 500;
  font-size: 15px;
}

.side-nav .call a:hover {
  color: #ffffff;
}

.side-nav .call a i {
  font-size: 18px;
  position: relative;
  top: 3px;
  margin-right: 2px;
}

.side-nav .nav-search {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}

.side-nav .nav-search #search-btn {
  color: #f65252;
  font-size: 25px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  top: 3px;
}

.side-nav .nav-search #search-btn:hover {
  color: #012539;
}

.side-nav .nav-search #close-btn {
  padding: 0;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1;
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 60px;
  cursor: pointer;
}

.side-nav .nav-search #close-btn:hover {
  color: #f65252;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.side-nav .nav-search #search-overlay {
  display: none;
  z-index: 999999;
}

.side-nav .nav-search .block {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: #000000eb;
}

.side-nav .nav-search .block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.side-nav .nav-search .centered {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  padding: 10px 15px;
  color: #ffffff;
  border: 1px solid #fff;
  border-radius: 5px;
}

.side-nav .nav-search .centered #search-box {
  position: relative;
}

.side-nav .nav-search .centered #search-box form .form-control {
  height: 50px;
  border: 0;
  border-radius: 5px;
  padding-left: 20px;
}

.side-nav .nav-search .centered #search-box form .form-control:focus {
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.side-nav .nav-search .centered #search-box form .btn {
  position: absolute;
  top: 0;
  right: 0;
  color: #ffffff;
  background-color: #f65252;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 100%;
  padding: 0;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 18px;
  border-radius: 0 5px 5px 0;
  border: 0;
}

.side-nav .nav-search .centered #search-box form .btn:hover {
  color: #ffffff;
  background-color: #012539;
}

.banner-bg-one {
  background-image: url("../images/banner/bg1.jpg");
}

.banner-area {
  position: relative;
  overflow: hidden;
}

.banner-area .banner-shape img {
  position: absolute;
}

.banner-area .banner-shape img:nth-child(1) {
  top: 115px;
  left: 55px;
  max-width: 180px;
  z-index: 3;
}

.banner-area .banner-shape img:nth-child(2) {
  left: 25%;
  bottom: 100px;
  max-width: 180px;
  z-index: 3;
}

.banner-area .banner-shape img:nth-child(3) {
  left: 50%;
  bottom: 240px;
  z-index: 3;
  max-width: 120px;
}

.banner-area .banner-shape img:nth-child(4) {
  bottom: 20px;
  right: 20px;
}

.banner-item {
  height: 800px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.banner-item .row {
  margin-top: 75px;
}

.banner-content {
  max-width: 635px;
  margin-left: auto;
  position: relative;
  z-index: 2;
}

.banner-content:before {
  position: absolute;
  content: '';
  width: 745px;
  height: 580px;
  top: -130px;
  left: -40px;
  background-color: #ffffff;
  opacity: .98;
  z-index: -1;
  border-radius: 175px;
}

.banner-content span {
  display: block;
  font-size: 17px;
  color: #f65252;
  font-weight: 500;
  margin-bottom: 15px;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.banner-content h1 {
  font-size: 56px;
  margin-bottom: 15px;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.banner-content p {
  margin-bottom: 22px;
}

.banner-img {
  padding-right: 30px;
  position: relative;
  z-index: 1;
  max-width: 660px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.banner-img img:nth-child(1) {
  border-radius: 175px;
}

@-webkit-keyframes border-transform-default {
  0%, to {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}

@keyframes border-transform-default {
  0%, to {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}

.about-area {
  background-color: #f9f9f9;
  position: relative;
  z-index: 1;
}

.about-area .about-shape img {
  position: absolute;
  z-index: -1;
}

.about-area .about-shape img:nth-child(1) {
  top: 75px;
  left: 0;
  max-width: 590px;
}

.about-area .about-shape img:nth-child(2) {
  top: 40px;
  right: 0;
  max-width: 150px;
}

.about-area .about-shape img:nth-child(3) {
  bottom: 0;
  right: 0;
  max-width: 300px;
}

.about-area .about-content .section-title {
  text-align: start;
  margin-bottom: 20px;
}

.about-area .about-content .section-title h2 {
  margin-bottom: 15px;
}

.about-area .about-content .section-title p {
  margin-left: 0;
  font-weight: 500;
  margin-top: 5px;
}

.about-area .about-content .inner .common-btn {
  margin-top: 10px;
}

.courses-area {
  position: relative;
  z-index: 1;
}

.courses-area .courses-shape img {
  position: absolute;
  right: 0;
  top: 200px;
  z-index: -1;
}

.courses-area .sorting-menu {
  text-align: center;
  margin-bottom: 30px;
}

.courses-area .sorting-menu ul {
  margin: 0;
  padding: 0;
}

.courses-area .sorting-menu ul li {
  background-color: #f9f9f9;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  list-style-type: none;
  display: inline-block;
  color: #012539;
  border-radius: 10px;
  padding: 8px 30px;
  margin-right: 5px;
  margin-left: 5px;
  font-weight: 600;
  cursor: pointer;
}

.courses-area .sorting-menu ul li:hover, .courses-area .sorting-menu ul li.active {
  color: #ffffff;
  background-color: #f65252;
}

.courses-item {
  text-align: center;
  margin-bottom: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.courses-item:hover {
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
}

.courses-item:hover .top a img {
  border-radius: 15px 0 15px 0;
}

.courses-item .top a {
  display: block;
}

.courses-item .top a img {
  border-radius: 65px 0 65px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.courses-item .bottom .inner {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

.courses-item .bottom .inner img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.courses-item .bottom .inner h3 {
  font-size: 22px;
  margin-bottom: 0;
  position: relative;
  z-index: 1;
}

.courses-item .bottom .inner h3 a {
  color: #ffffff;
}

.courses-item .bottom .inner h3 a:hover {
  color: #012539;
}

.courses-item .bottom ul {
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
}

.courses-item .bottom ul li {
  list-style-type: none;
  display: block;
  margin-bottom: 10px;
}

.courses-item .bottom ul li:last-child {
  margin-bottom: 0;
}

.courses-item .bottom ul li span {
  display: inline-block;
  font-weight: 600;
  color: #f65252;
}

#Container .mix {
  display: none;
}

.exhibition-area {
  background-image: url("../images/events/bg1.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.exhibition-area:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fedb73;
  opacity: .30;
  z-index: -1;
}

.exhibition-area:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 180px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
}

.exhibition-area .exhibition-content {
  background-color: #ffffff;
  position: relative;
  z-index: 1;
  padding: 40px 40px;
  -webkit-box-shadow: 0px 10px 20px 0px #f1f1f1;
          box-shadow: 0px 10px 20px 0px #f1f1f1;
}

.exhibition-area .exhibition-content .exhibition-shape img {
  position: absolute;
}

.exhibition-area .exhibition-content .exhibition-shape img:nth-child(1) {
  top: 0;
  left: 0;
}

.exhibition-area .exhibition-content .exhibition-shape img:nth-child(2) {
  top: 65px;
  right: 30px;
}

.exhibition-area .exhibition-content .exhibition-shape img:nth-child(3) {
  top: 220px;
  right: 15px;
}

.exhibition-area .exhibition-content .section-title {
  padding-top: 30px;
  padding-bottom: 25px;
}

.exhibition-area .exhibition-content .section-title .sub-title {
  color: #ffffff;
}

.exhibition-area .exhibition-content .section-title h2 {
  color: #ffffff;
}

.exhibition-area .exhibition-content .section-title img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

.exhibition-area .exhibition-content ul {
  margin: 0;
  padding: 0;
}

.exhibition-area .exhibition-content ul li {
  list-style-type: none;
  display: block;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px dotted #f65252;
  position: relative;
  padding-left: 65px;
}

.exhibition-area .exhibition-content ul li:nth-child(2) h4 {
  background-color: #1596cc;
}

.exhibition-area .exhibition-content ul li:nth-child(3) h4 {
  background-color: #faa520;
}

.exhibition-area .exhibition-content ul li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

.exhibition-area .exhibition-content ul li h4 {
  margin-bottom: 0;
  width: 50px;
  height: 50px;
  line-height: 45px;
  text-align: center;
  color: #ffffff;
  background-color: #f65252;
  -webkit-animation: border-transform-default 10s linear infinite alternate forwards;
          animation: border-transform-default 10s linear infinite alternate forwards;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 25px;
}

.exhibition-area .exhibition-content ul li h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.exhibition-area .exhibition-content ul li h3 a {
  color: #012539;
}

.exhibition-area .exhibition-content ul li h3 a:hover {
  color: #f65252;
}

.exhibition-area .exhibition-content ul li span {
  display: block;
  margin-bottom: 10px;
  color: #f65252;
  font-weight: 500;
}

.exhibition-area .exhibition-content ul li p {
  margin-bottom: 0;
}

.exhibition-area .exhibition-img {
  text-align: center;
}

.gallery-item {
  text-align: center;
  margin-bottom: 30px;
}

.gallery-item:hover .inner {
  max-width: 100%;
}

.gallery-item .inner {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f9f9f9;
  margin-top: -35px;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.gallery-item .inner a {
  display: block;
}

.gallery-item .inner a h3 {
  margin-bottom: 0;
  font-size: 22px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.gallery-item .inner a h3:hover {
  letter-spacing: 1px;
}

.artist-area {
  background-color: #fef9ea;
}

.artist-area .artist-img {
  margin-bottom: 30px;
  position: relative;
}

.artist-area .artist-img img:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.artist-area .artist-content {
  margin-bottom: 30px;
  max-width: 640px;
}

.artist-area .artist-content .section-title {
  text-align: start;
}

.artist-area .artist-content ul {
  margin: 0;
  padding: 0;
}

.artist-area .artist-content ul li {
  list-style-type: none;
  display: block;
  margin-bottom: 25px;
  position: relative;
  padding-left: 60px;
}

.artist-area .artist-content ul li:last-child {
  margin-bottom: 0;
}

.artist-area .artist-content ul li i {
  display: inline-block;
  color: #f65252;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 40px;
  line-height: 40px;
}

.artist-area .artist-content ul li h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.testimonials-area {
  background-color: #fedb73;
  position: relative;
}

.testimonials-area .testimonials-shape img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.testimonials-area .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 0;
  position: absolute;
  right: 0;
  bottom: 25px;
}

.testimonials-area .owl-theme .owl-dots .owl-dot span {
  margin: 0 4px;
  width: 15px;
  height: 15px;
  background: #c5c5c5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.testimonials-area .owl-theme .owl-dots .owl-dot.active span, .testimonials-area .owl-theme .owl-dots .owl-dot:hover span {
  background: #f65252;
}

.testimonials-area .testimonials-item .top {
  background-color: #ffffff;
  padding: 30px 30px;
  margin-bottom: 40px;
  position: relative;
}

.testimonials-area .testimonials-item .top:before {
  position: absolute;
  content: '';
  bottom: -15px;
  left: 30px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 18px solid #ffffff;
}

.testimonials-area .testimonials-item .top i {
  display: inline-block;
  color: #f65252;
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 15px;
}

.testimonials-area .testimonials-item .top p {
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
}

.testimonials-area .testimonials-item .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.testimonials-area .testimonials-item .bottom .left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 12%;
          flex: 0 0 12%;
  max-width: 12%;
}

.testimonials-area .testimonials-item .bottom .right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  max-width: 70%;
  margin-left: 15px;
}

.testimonials-area .testimonials-item .bottom img {
  border-radius: 50%;
  width: auto;
}

.testimonials-area .testimonials-item .bottom h3 {
  font-size: 22px;
  margin-bottom: 8px;
  color: #f65252;
}

.testimonials-area .testimonials-item .bottom span {
  display: block;
  font-weight: 500;
}

.testimonials-area .testimonials-img {
  text-align: center;
  position: relative;
  z-index: 1;
}

.instagram-area {
  overflow: hidden;
}

.instagram-area .col-lg-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 14.285714%;
}

.instagram-area .instagram-item {
  text-align: center;
  position: relative;
}

.instagram-area .instagram-item:before {
  position: absolute;
  content: '';
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #012539;
  opacity: .70;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.instagram-area .instagram-item:hover:before {
  width: 100%;
}

.instagram-area .instagram-item:hover a {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.instagram-area .instagram-item a {
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
  color: #ffffff;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
  opacity: 0;
  visibility: hidden;
  width: 100%;
}

.instagram-area .instagram-item a:hover {
  color: #f65252;
}

.footer-area {
  background-color: #050d1a;
  position: relative;
}

.footer-area .footer-shape img {
  position: absolute;
  max-width: 80px;
}

.footer-area .footer-shape img:nth-child(1) {
  bottom: 30px;
  left: 0;
}

.footer-area .footer-shape img:nth-child(2) {
  top: 30px;
  right: 0;
}

.footer-item {
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
}

.footer-item h3 {
  font-size: 22px;
  border-bottom: 1px dotted #f65252;
  margin-bottom: 30px;
  padding-bottom: 10px;
  color: #ffffff;
}

.footer-item .footer-logo .logo {
  display: block;
  margin-bottom: 20px;
}

.footer-item .footer-logo ul {
  margin: 0;
  padding: 0;
}

.footer-item .footer-logo ul li {
  list-style-type: none;
  display: block;
  margin-bottom: 15px;
}

.footer-item .footer-logo ul li:last-child {
  margin-bottom: 0;
}

.footer-item .footer-logo ul li span {
  display: block;
  font-weight: 600;
  color: #ffffff;
}

.footer-item .footer-logo ul li a {
  display: block;
  color: #ffffff;
}

.footer-item .footer-logo ul li a:hover {
  color: #f65252;
}

.footer-item .footer-links ul {
  margin: 0;
  padding: 0;
}

.footer-item .footer-links ul li {
  list-style-type: none;
  display: block;
  margin-bottom: 12px;
}

.footer-item .footer-links ul li:last-child {
  margin-bottom: 0;
}

.footer-item .footer-links ul li a {
  display: block;
  color: #ffffff;
}

.footer-item .footer-links ul li a:hover {
  color: #f65252;
}

.footer-item .footer-subscribe .newsletter-form {
  margin-bottom: 15px;
}

.footer-item .footer-subscribe .newsletter-form .form-control {
  height: 50px;
  border-radius: 10px;
  border: 0;
  margin-bottom: 15px;
  font-size: 14px;
}

.footer-item .footer-subscribe .newsletter-form .form-control:focus {
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.footer-item .footer-subscribe .newsletter-form .common-btn {
  width: 100%;
  display: block;
  height: 50px;
}

.footer-item .footer-subscribe .newsletter-form .validation-danger {
  color: #ffffff;
  margin-top: 10px;
}

.footer-item .footer-subscribe ul {
  margin: 0;
  padding: 0;
}

.footer-item .footer-subscribe ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.footer-item .footer-subscribe ul li a {
  display: block;
  font-size: 22px;
  color: #ffffff;
}

.footer-item .footer-subscribe ul li a:hover {
  color: #f65252;
}

.copyright-area {
  background-color: #110e14;
  padding-top: 15px;
  padding-bottom: 15px;
}

.copyright-area .copyright-item p {
  margin-bottom: 0;
  color: #ffffff;
}

.copyright-area .copyright-item p a {
  display: inline-block;
  font-weight: 700;
  color: #f65252;
}

.copyright-area .copyright-item p a:hover {
  color: #ffffff;
}

.copyright-area .copyright-item ul {
  margin: 0;
  padding: 0;
  text-align: end;
}

.copyright-area .copyright-item ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
  padding-right: 17px;
  position: relative;
}

.copyright-area .copyright-item ul li:last-child {
  margin-right: 0;
  padding-right: 0;
}

.copyright-area .copyright-item ul li:last-child:before {
  display: none;
}

.copyright-area .copyright-item ul li:before {
  position: absolute;
  content: '';
  width: 1px;
  height: 18px;
  right: 0;
  top: 2px;
  background-color: #ffffff;
}

.copyright-area .copyright-item ul li a {
  display: block;
  color: #ffffff;
}

.copyright-area .copyright-item ul li a:hover {
  color: #f65252;
}

/*----- Home Demo Two -----*/
.main-nav.two {
  background: #f65252;
}

.main-nav.two .navbar .navbar-nav .nav-item:hover a {
  color: #ffffff;
}

.main-nav.two .navbar .navbar-nav .nav-item a {
  color: #ffffff;
}

.main-nav.two .navbar .navbar-nav .nav-item a:hover, .main-nav.two .navbar .navbar-nav .nav-item a:focus, .main-nav.two .navbar .navbar-nav .nav-item a.active {
  color: #ffffff;
}

.main-nav.two .navbar .navbar-nav .nav-item .dropdown-menu li:hover a {
  color: #f65252;
}

.main-nav.two .navbar .navbar-nav .nav-item .dropdown-menu li a {
  color: #012539;
}

.main-nav.two .navbar .navbar-nav .nav-item .dropdown-menu li a:hover, .main-nav.two .navbar .navbar-nav .nav-item .dropdown-menu li a:focus, .main-nav.two .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
  color: #f65252;
}

.main-nav.two .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a {
  color: #012539;
}

.main-nav.two .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:hover, .main-nav.two .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:focus, .main-nav.two .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a.active {
  color: #f65252;
}

.side-nav.two .languages .nice-select {
  color: #ffffff;
}

.side-nav.two .languages .nice-select:after {
  border-bottom: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
}

.side-nav.two .nav-search #search-btn {
  color: #ffffff;
}

.side-nav.two .nav-search #search-btn:hover {
  color: #012539;
}

.side-nav.two .call a {
  color: #ffffff;
}

.side-nav.two .call a:hover {
  color: #012539;
}

.banner-area.two .banner-shape-two img {
  position: absolute;
}

.banner-area.two .banner-shape-two img:nth-child(1) {
  top: 0;
  right: 0;
}

.banner-area.two .banner-shape-two img:nth-child(2) {
  left: 0;
  bottom: 0;
  max-width: 800px;
}

.banner-area.two .banner-item {
  background-color: #faecec;
}

.banner-area.two .banner-item .banner-content {
  margin-left: 0;
  margin-top: 60px;
}

.banner-area.two .banner-item .banner-content:before {
  display: none;
}

.banner-area.two .banner-item .banner-content span {
  margin-bottom: 15px;
}

.banner-area.two .banner-item .banner-content h1 {
  margin-bottom: 25px;
  color: #4a2530;
}

.banner-area.two .banner-item .banner-img-two img {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 680px;
}

.about-area.two .about-shape-two img {
  position: absolute;
}

.about-area.two .about-shape-two img:nth-child(1) {
  bottom: 0;
  left: 0;
  width: 100%;
}

.about-area.two .about-shape-two img:nth-child(2) {
  bottom: 0;
  left: 42%;
  max-width: 115px;
  -webkit-animation: about-ani-one 10s infinite linear;
          animation: about-ani-one 10s infinite linear;
}

.about-area.two .about-shape-two img:nth-child(3) {
  top: 45px;
  right: 70px;
}

.about-area.two .about-shape-two img:nth-child(4) {
  bottom: 230px;
  right: 0;
}

.about-area.two .about-content {
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  z-index: 1;
  padding-left: 15px;
  max-width: 635px;
}

.about-area.two .about-img-two {
  position: relative;
  text-align: center;
  z-index: 1;
}

.about-area.two .about-img-two img:nth-child(1) {
  position: relative;
  z-index: 1;
}

.about-area.two .about-img-two img:nth-child(2) {
  position: absolute;
  top: 35px;
  left: 60px;
  max-width: 570px;
}

@-webkit-keyframes about-ani-one {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-50px, 0);
            transform: translate(-50px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes about-ani-one {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-50px, 0);
            transform: translate(-50px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.features-item {
  padding: 30px;
  margin-bottom: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #f9f9f9;
  border-radius: 30px 0 30px 0;
}

.features-item:hover {
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
  border-radius: 0 50px 0 50px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 20px 0px #f1f1f1;
          box-shadow: 0px 0px 20px 0px #f1f1f1;
}

.features-item .top {
  position: relative;
  margin-bottom: 20px;
}

.features-item .top img:nth-child(2) {
  position: absolute;
  left: 20px;
  top: 20px;
}

.features-item h3 {
  font-size: 22px;
  margin-bottom: 12px;
}

.features-item h3 a {
  color: #4a2530;
}

.features-item h3 a:hover {
  color: #f65252;
}

.counter-area {
  background-color: #fdeefc;
  background-image: url("../images/counter-shape.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.counter-item {
  background-color: #ffffff;
  margin-bottom: 30px;
  text-align: center;
  padding: 30px;
}

.counter-item h3 {
  line-height: 1;
  font-size: 65px;
  margin-bottom: 0;
  color: #f65252;
}

.counter-item p {
  font-weight: 600;
  font-size: 16px;
}

.music-item {
  margin-bottom: 30px;
  background-color: #f9f9f9;
  border-radius: 8px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.music-item:hover {
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
}

.music-item:hover .bottom h3 a {
  color: #f65252;
}

.music-item:hover .bottom .common-link {
  color: #f65252;
}

.music-item .top a {
  display: block;
}

.music-item .top a img {
  border-radius: 8px;
}

.music-item .bottom {
  padding: 30px;
}

.music-item .bottom h3 {
  font-size: 22px;
  margin-bottom: 15px;
}

.music-item .bottom h3 a {
  color: #4a2530;
}

.music-item .bottom p {
  margin-bottom: 14px;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: inherit;
  }
}

.events-area {
  background-color: #f9f9f9;
  border-radius: 150px 0 150px 0;
  position: relative;
  z-index: 1;
}

.events-area .events-shape img {
  z-index: -1;
  position: absolute;
}

.events-area .events-shape img:nth-child(1) {
  top: 0;
  right: 0;
}

.events-area .events-shape img:nth-child(2) {
  left: 0;
  bottom: 0;
}

.events-area .events-img {
  text-align: center;
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
}

.events-area .events-img:before {
  position: absolute;
  content: '';
  width: 500px;
  height: 450px;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #e3acf3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: border-transform-default-two 10s linear infinite alternate forwards;
          animation: border-transform-default-two 10s linear infinite alternate forwards;
  z-index: -1;
}

.events-area .events-img img {
  -webkit-animation: border-transform-default 10s linear infinite alternate forwards;
          animation: border-transform-default 10s linear infinite alternate forwards;
}

.events-area .events-content {
  margin-bottom: 30px;
}

.events-area .events-content .section-title {
  text-align: start;
  margin-bottom: 20px;
}

.events-area .events-content .section-title p {
  margin-left: 0;
  font-weight: 500;
}

.events-area .events-content .inner p {
  margin-bottom: 12px;
}

.events-area .events-content .inner ul {
  padding: 0;
  margin: 20px 0 0;
  margin-bottom: 32px;
}

.events-area .events-content .inner ul li {
  list-style-type: none;
  display: inline-block;
  font-weight: 500;
  position: relative;
  padding-left: 30px;
  margin-right: 15px;
}

.events-area .events-content .inner ul li i {
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  position: absolute;
  top: 0;
  left: 0;
  color: #f65252;
}

.events-area .events-content.two .inner p {
  margin-bottom: 30px;
}

.events-area .events-img-two {
  text-align: center;
  -webkit-animation: events-ani-one 8s infinite linear;
          animation: events-ani-one 8s infinite linear;
}

@-webkit-keyframes border-transform-default-two {
  0%, to {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
  14% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  28% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  70% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  84% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
}

@keyframes border-transform-default-two {
  0%, to {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
  14% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  28% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  70% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  84% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
}

@-webkit-keyframes events-ani-one {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, -15px);
            transform: translate(0, -15px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes events-ani-one {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, -15px);
            transform: translate(0, -15px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.testimonials-area.two {
  background-color: #ffffff;
}

.testimonials-area.two .testimonials-slider {
  background-color: #f9f9f9;
  border-radius: 50px 0 50px 0;
  background-image: url("../images/testimonials/shape2.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.testimonials-area.two .testimonials-slider:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fbf2f3;
  z-index: -1;
  opacity: .70;
  border-radius: 50px 0 50px 0;
}

.testimonials-area.two .testimonials-item {
  padding: 50px;
  max-width: 800px;
}

.testimonials-area.two .testimonials-item .top {
  background-color: transparent;
  padding: 0;
  margin-bottom: 25px;
}

.testimonials-area.two .testimonials-item .top:before {
  display: none;
}

.testimonials-area.two .container {
  position: relative;
}

.testimonials-area.two .testimonials-img {
  position: unset;
  z-index: 1;
}

.testimonials-area.two .testimonials-img img {
  position: absolute;
  top: 15px;
  max-width: 420px;
  right: 0;
  z-index: 2;
  -webkit-animation: border-transform-default-two 10s linear infinite alternate forwards;
          animation: border-transform-default-two 10s linear infinite alternate forwards;
  padding: 15px;
  border: 3px solid #c442f4;
}

.testimonials-area.two .owl-theme .owl-nav.disabled + .owl-dots {
  right: 0;
  left: 0;
  bottom: 15px;
}

.instructor-area {
  position: relative;
  z-index: 1;
}

.instructor-area:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 350px;
  top: 0;
  left: 0;
  background-color: #fbedfa;
  z-index: -1;
}

.instructor-item {
  text-align: center;
  margin-bottom: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.instructor-item:hover {
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
}

.instructor-item .top a {
  display: block;
}

.instructor-item .top a img {
  border-radius: 30px 0 30px 0;
}

.instructor-item .bottom {
  max-width: 88%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fbf2f3;
  padding: 30px 25px 30px;
  border-radius: 30px 0 30px 0;
  position: relative;
  z-index: 1;
  margin-top: -65px;
}

.instructor-item .bottom h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.instructor-item .bottom h3 a {
  color: #4a2530;
}

.instructor-item .bottom h3 a:hover {
  color: #f65252;
}

.instructor-item .bottom span {
  display: block;
  font-weight: 500;
  color: #f65252;
}

.blog-item {
  margin-bottom: 30px;
  background-color: #f9f9f9;
  border-radius: 8px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.blog-item:hover {
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
}

.blog-item:hover .bottom h3 a {
  color: #f65252;
}

.blog-item:hover .bottom .common-link {
  color: #f65252;
}

.blog-item .top {
  position: relative;
}

.blog-item .top span {
  position: absolute;
  left: 15px;
  bottom: 15px;
  color: #ffffff;
  font-size: 14px;
  background-color: #f65252;
  padding: 7px 15px;
}

.blog-item .top a {
  display: block;
}

.blog-item .top a img {
  border-radius: 8px;
}

.blog-item .bottom {
  padding: 30px;
}

.blog-item .bottom h3 {
  font-size: 22px;
  margin-bottom: 15px;
}

.blog-item .bottom h3 a {
  color: #4a2530;
}

.blog-item .bottom p {
  margin-bottom: 14px;
}

.footer-area.two {
  background-color: #fbf2f3;
}

.footer-area.two .footer-item .footer-logo ul li span {
  color: #00090e;
}

.footer-area.two .footer-item .footer-logo ul li a {
  color: #00090e;
}

.footer-area.two .footer-item .footer-logo ul li a:hover {
  color: #f65252;
}

.footer-area.two .footer-item .footer-links ul li a {
  color: #00090e;
}

.footer-area.two .footer-item .footer-links ul li a:hover {
  color: #f65252;
}

/*----- Home Demo Three -----*/
.main-nav.three {
  background: #012539;
}

.main-nav.three .container-fluid {
  padding-left: 50px;
  padding-right: 50px;
}

.main-nav.three .navbar .navbar-nav .nav-item:hover a {
  color: #ffffff;
}

.main-nav.three .navbar .navbar-nav .nav-item a {
  color: #ffffff;
}

.main-nav.three .navbar .navbar-nav .nav-item a:hover, .main-nav.three .navbar .navbar-nav .nav-item a:focus, .main-nav.three .navbar .navbar-nav .nav-item a.active {
  color: #f65252;
}

.main-nav.three .navbar .navbar-nav .nav-item .dropdown-menu li:hover a {
  color: #f65252;
}

.main-nav.three .navbar .navbar-nav .nav-item .dropdown-menu li a {
  color: #012539;
}

.main-nav.three .navbar .navbar-nav .nav-item .dropdown-menu li a:hover, .main-nav.three .navbar .navbar-nav .nav-item .dropdown-menu li a:focus, .main-nav.three .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
  color: #f65252;
}

.main-nav.three .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a {
  color: #012539;
}

.main-nav.three .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:hover, .main-nav.three .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:focus, .main-nav.three .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a.active {
  color: #f65252;
}

.side-nav.three .languages .nice-select {
  color: #ffffff;
}

.side-nav.three .languages .nice-select:after {
  border-bottom: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
}

.side-nav.three .nav-search #search-btn {
  color: #ffffff;
}

.side-nav.three .nav-search #search-btn:hover {
  color: #f65252;
}

.side-nav.three .call a {
  color: #ffffff;
}

.side-nav.three .call a:hover {
  color: #f65252;
}

.banner-area.three {
  background-color: #f9f9f9;
  position: relative;
  z-index: 1;
}

.banner-area.three:before {
  position: absolute;
  content: '';
  width: 650px;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #ffffff;
}

.banner-area.three .banner-shape-three img {
  position: absolute;
}

.banner-area.three .banner-shape-three img:nth-child(1) {
  top: 90px;
  left: 0;
  max-width: 180px;
}

.banner-area.three .banner-shape-three img:nth-child(2) {
  right: 0;
  top: 100px;
  max-width: 180px;
}

.banner-area.three .banner-shape-three img:nth-child(3) {
  right: 0;
  bottom: 100px;
  max-width: 120px;
}

.banner-area.three .banner-shape-three img:nth-child(4) {
  bottom: 0;
  right: 205px;
  max-width: 180px;
}

.banner-area.three .container-fluid {
  padding-left: 50px;
  padding-right: 50px;
}

.banner-area.three .banner-content {
  max-width: 600px;
  margin-left: 0;
}

.banner-area.three .banner-content:before {
  display: none;
}

.banner-area.three .banner-content h1 {
  margin-bottom: 25px;
}

.banner-area.three .banner-content .banner-btn {
  margin-left: 15px;
  background-color: #f65252;
}

.banner-area.three .banner-content .banner-btn:before {
  background-color: #012539;
}

.banner-area.three .banner-img {
  padding-right: 0;
  position: relative;
  z-index: 1;
}

.banner-area.three .banner-img:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: -15px;
  right: -15px;
  background-color: #012539;
  z-index: -1;
  border-radius: 120px 0px 120px 0px;
}

.banner-area.three .banner-img img:nth-child(1) {
  border-radius: 120px 0px 120px 0px;
}

.about-area.three {
  background-color: #ffffff;
}

.about-area.three .about-img-three {
  margin-bottom: 30px;
  text-align: center;
}

.about-area.three .about-img-three img {
  -webkit-animation: border-transform-default 10s linear infinite alternate forwards;
          animation: border-transform-default 10s linear infinite alternate forwards;
}

.about-area.three .about-content {
  margin-bottom: 30px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 30px;
}

.about-area.three .about-content .inner p {
  margin-bottom: 10px;
}

.about-area.three .about-content .inner ul {
  padding: 0;
  margin: 20px 0 0;
  margin-bottom: 35px;
}

.about-area.three .about-content .inner ul li {
  list-style-type: none;
  display: block;
  margin-bottom: 12px;
  font-weight: 500;
  position: relative;
  padding-left: 25px;
}

.about-area.three .about-content .inner ul li i {
  display: inline-block;
  color: #f65252;
  position: absolute;
  top: 2px;
  left: 0;
  font-size: 20px;
}

.about-area.three .about-content .inner ul li:last-child {
  margin-bottom: 0;
}

.choose-area {
  background-color: #231834;
}

.choose-area .section-title.two {
  text-align: start;
  position: relative;
}

.choose-area .section-title.two h2 {
  color: #ffffff;
}

.choose-area .section-title.two p {
  color: #ffffff;
  position: absolute;
  top: 5px;
  right: 0;
  margin: 0;
  max-width: 540px;
}

.choose-item {
  padding: 30px;
  margin-bottom: 30px;
  background-color: #413356;
}

.choose-item i {
  display: inline-block;
  font-size: 55px;
  line-height: 55px;
  margin-bottom: 20px;
  color: #f65252;
}

.choose-item h3 {
  font-size: 22px;
  margin-bottom: 0;
  color: #ffffff;
}

.music-area.two .music-item .top {
  position: relative;
}

.music-area.two .music-item .top span {
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
  background-color: #f65252;
  border-radius: 50%;
  font-weight: 500;
  position: absolute;
  right: 20px;
  bottom: -30px;
}

.music-area.two .music-item .bottom p {
  margin-bottom: 10px;
}

.music-area.two .music-item .bottom .left {
  margin-bottom: 10px;
}

.music-area.two .music-item .bottom .left ul {
  margin: 0;
  padding: 0;
}

.music-area.two .music-item .bottom .left ul li {
  list-style-type: none;
  display: inline-block;
}

.music-area.two .music-item .bottom .left ul li i {
  display: inline-block;
  color: #ddd;
}

.music-area.two .music-item .bottom .left ul li i.checked {
  color: #f6be52;
}

.music-area.two .music-item .bottom .right {
  text-align: end;
  margin-bottom: 10px;
}

.music-area.two .music-item .bottom .right ul {
  margin: 0;
  padding: 0;
}

.music-area.two .music-item .bottom .right ul li {
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;
}

.music-area.two .music-item .bottom .right ul li img {
  border-radius: 50%;
  max-width: 40px;
  margin-right: 5px;
}

.music-area.two .music-item .bottom .right ul li span {
  display: inline-block;
  font-weight: 500;
}

.counter-area.two {
  background-image: unset;
}

.counter-area.two .counter-item.border-right {
  border-right: 0;
}

.trial-area {
  background-image: url("../images/trial-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.trial-area .trial-content {
  background-color: #fcf2f2;
  padding: 40px 40px;
  max-width: 650px;
  margin-left: auto;
}

.trial-area .trial-content .section-title.two {
  text-align: start;
  margin-bottom: 30px;
}

.trial-area .trial-content .form-group {
  margin-bottom: 15px;
}

.trial-area .trial-content .form-group .form-control {
  height: 55px;
  border: 0;
  border-radius: 0;
  font-size: 14px;
}

.trial-area .trial-content .form-group .form-control:focus {
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.trial-area .trial-content .form-group .form-check {
  margin-bottom: 0;
}

.trial-area .trial-content .common-btn {
  border-radius: 0;
  width: 100%;
  display: block;
  height: 55px;
  margin-bottom: 15px;
}

.trial-area .trial-content .common-btn:before {
  border-radius: 0;
}

.trial-area .trial-content p a {
  display: inline-block;
  color: #f65252;
  font-weight: 600;
}

.trial-area .trial-content p a:hover {
  color: #012539;
}

.testimonials-area.three .testimonials-slider {
  background-image: unset;
}

.testimonials-area.three .testimonials-slider:before {
  display: none;
}

.testimonials-area.three .testimonials-img img {
  padding: 0;
  border: 0;
}

.instructor-area.two {
  background-color: #231834;
  position: relative;
  z-index: 1;
}

.instructor-area.two:before {
  display: none;
}

.instructor-area.two .section-title.two h2 {
  color: #ffffff;
}

.instructor-area.two .instructor-shape img {
  position: absolute;
  z-index: -1;
}

.instructor-area.two .instructor-shape img:nth-child(1) {
  top: 100px;
  left: 100px;
}

.instructor-area.two .instructor-shape img:nth-child(2) {
  bottom: 100px;
  right: 0;
}

/*----- About -----*/
.title-img-one {
  background-image: url("../images/title/bg1.jpg");
}

.page-title-area {
  height: 400px;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.page-title-area:before {
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  opacity: .60;
  position: absolute;
  background-color: #010f25;
}

.page-title-area .title-content {
  text-align: center;
  position: relative;
  margin-top: 80px;
  z-index: 1;
}

.page-title-area .title-content h2 {
  font-size: 45px;
  margin-bottom: 17px;
  color: #ffffff;
}

.page-title-area .title-content ul {
  margin: 0;
  padding: 0;
  opacity: .8;
}

.page-title-area .title-content ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}

.page-title-area .title-content ul li:before {
  position: absolute;
  content: '/';
  top: 1px;
  right: -15px;
  color: #ffffff;
}

.page-title-area .title-content ul li:last-child:before {
  display: none;
}

.page-title-area .title-content ul li a {
  display: inline-block;
  color: #ffffff;
}

.page-title-area .title-content ul li a:hover {
  color: #f65252;
}

.page-title-area .title-content ul li span {
  display: inline-block;
  color: #ffffff;
}

.pagination-area {
  text-align: center;
  margin-top: 20px;
}

.pagination-area ul {
  margin: 0;
  padding: 0;
}

.pagination-area ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 3px;
  margin-left: 3px;
}

.pagination-area ul li a {
  display: block;
  font-weight: 500;
  padding: 5px 15px;
  border-radius: 5px;
  color: #012539;
  background-color: #f9f9f9;
}

.pagination-area ul li a:hover, .pagination-area ul li a.active {
  color: #ffffff;
  background-color: #f65252;
}

/*----- Course Details -----*/
.title-img-two {
  background-image: url("../images/title/bg2.jpg");
}

.course-details-area .details-item img {
  margin-bottom: 25px;
}

.course-details-area .details-item a {
  color: #f65252;
}

.course-details-area .details-item a:hover {
  color: #00090e;
}

.course-details-area .details-item h1 {
  font-size: 35px;
  margin-bottom: 15px;
}

.course-details-area .details-item h2 {
  font-size: 30px;
  margin-bottom: 15px;
}

.course-details-area .details-item h3 {
  font-size: 22px;
  margin-bottom: 15px;
}

.course-details-area .details-item h4 {
  font-size: 20px;
  margin-bottom: 15px;
}

.course-details-area .details-item h5 {
  font-size: 18px;
  margin-bottom: 15px;
}

.course-details-area .details-item h6 {
  font-size: 16px;
  margin-bottom: 15px;
}

.course-details-area .details-item p {
  margin-bottom: 15px;
  line-height: 1.8;
}

.course-details-area .details-item p:last-child {
  margin-bottom: 0;
}

.course-details-area .details-item p span {
  color: #f65252;
}

.course-details-area .details-item .row {
  margin-top: 25px;
}

.course-details-area .details-item ul {
  margin: 0;
  padding: 0;
  margin-top: 5px;
}

.course-details-area .details-item ul li {
  list-style-type: none;
  display: block;
  margin-bottom: 10px;
  position: relative;
  padding-left: 15px;
}

.course-details-area .details-item ul li:before {
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  top: 7px;
  left: 0;
  background-color: #f65252;
  border-radius: 50%;
}

.course-details-area .details-item ul li:last-child {
  margin-bottom: 0;
}

.widget-area .widget-item {
  padding: 30px 25px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  -webkit-box-shadow: 0px 0px 20px 0px #f1f1f1;
          box-shadow: 0px 0px 20px 0px #f1f1f1;
}

.widget-area .widget-item:last-child {
  margin-bottom: 0;
}

.widget-area .widget-item h3 {
  font-size: 22px;
  padding-left: 30px;
  margin-bottom: 25px;
  position: relative;
}

.widget-area .widget-item h3:before {
  position: absolute;
  content: '';
  width: 20px;
  height: 2px;
  top: 13px;
  left: 0;
  background-color: #f65252;
}

.widget-area .search form {
  position: relative;
}

.widget-area .search form .form-control {
  height: 55px;
  border: 0;
  border-radius: 0;
  background-color: #f3f1f1;
}

.widget-area .search form .form-control:focus {
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.widget-area .search form .btn {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 0;
  height: 55px;
  width: 55px;
  line-height: 55px;
  font-size: 22px;
  color: #ffffff;
  background-color: #f65252;
  padding: 0;
  border-radius: 0;
}

.widget-area .search form .btn i {
  line-height: 55px;
}

.widget-area .search form .btn:hover {
  color: #ffffff;
  background-color: #00090e;
}

.widget-area .post .inner {
  margin-bottom: 15px;
}

.widget-area .post .inner:last-child {
  margin-bottom: 0;
}

.widget-area .post .inner ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.widget-area .post .inner ul li {
  list-style-type: none;
  display: inline-block;
}

.widget-area .post .inner ul li:nth-child(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.widget-area .post .inner ul li:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  max-width: 70%;
  margin-left: 15px;
}

.widget-area .post .inner ul li a {
  display: block;
  font-weight: 600;
  color: #00090e;
  margin-bottom: 3px;
  font-size: 16px;
}

.widget-area .post .inner ul li a:hover {
  color: #f65252;
}

.widget-area .post .inner ul li span {
  display: block;
  font-size: 14px;
  color: #f65252;
}

.widget-area .category ul {
  margin: 0;
  padding: 0;
}

.widget-area .category ul li {
  list-style-type: none;
  display: block;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dashed #f65252;
}

.widget-area .category ul li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

.widget-area .category ul li a {
  display: block;
  color: #00090e;
  font-weight: 500;
}

.widget-area .category ul li a:hover {
  color: #f65252;
}

/*----- Event Details -----*/
.title-img-three {
  background-image: url("../images/title/bg3.jpg");
}

.event-details-area .details-item img {
  margin-bottom: 25px;
}

.event-details-area .details-item a {
  color: #f65252;
}

.event-details-area .details-item a:hover {
  color: #00090e;
}

.event-details-area .details-item h1 {
  font-size: 35px;
  margin-bottom: 15px;
}

.event-details-area .details-item h2 {
  font-size: 30px;
  margin-bottom: 15px;
}

.event-details-area .details-item h3 {
  font-size: 22px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.event-details-area .details-item h4 {
  font-size: 20px;
  margin-bottom: 15px;
}

.event-details-area .details-item h5 {
  font-size: 18px;
  margin-bottom: 15px;
}

.event-details-area .details-item h6 {
  font-size: 16px;
  margin-bottom: 15px;
}

.event-details-area .details-item p {
  margin-bottom: 15px;
  line-height: 1.8;
}

.event-details-area .details-item p:last-child {
  margin-bottom: 0;
}

.event-details-area .details-item p span {
  color: #f65252;
}

.widget-area .information .nav-pills {
  margin-bottom: 15px;
  background-color: #012539;
  width: 100%;
  text-align: center;
  display: block;
}

.widget-area .information .nav-pills li {
  display: inline-block;
}

.widget-area .information .nav-pills li .nav-link {
  font-size: 15px;
  color: #ffffff;
  background-color: transparent;
  border-radius: 0;
  padding: 12px 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: 500;
}

.widget-area .information .nav-pills .nav-link.active, .widget-area .information .nav-pills .show > .nav-link {
  color: #f65252;
  background-color: transparent;
}

.widget-area .information .tab-content ul {
  margin: 0;
  padding: 0;
}

.widget-area .information .tab-content ul li {
  list-style-type: none;
  display: block;
  position: relative;
  margin-bottom: 12px;
  font-weight: 600;
}

.widget-area .information .tab-content ul li:last-child {
  margin-bottom: 0;
}

.widget-area .information .tab-content ul li span {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 400;
}

.widget-area .information .tab-content ul li a {
  display: inline-block;
  color: #00090e;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 400;
}

.widget-area .information .tab-content ul li a:hover {
  color: #f65252;
}

/*----- Blog Details -----*/
.title-img-four {
  background-image: url("../images/title/bg4.jpg");
}

.blog-details-area .details-item .top {
  position: relative;
  margin-bottom: 25px;
}

.blog-details-area .details-item .top span {
  position: absolute;
  left: 15px;
  bottom: 15px;
  color: #ffffff;
  font-size: 14px;
  background-color: #f65252;
  padding: 7px 15px;
  display: inline-block;
}

.blog-details-area .details-item .info {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.blog-details-area .details-item .info li {
  list-style-type: none;
  display: inline-block;
  margin-right: 15px;
  font-size: 14px;
}

.blog-details-area .details-item .info li i {
  display: inline-block;
  color: #f65252;
  font-size: 16px;
  position: relative;
  top: 1px;
}

.blog-details-area .details-item .info li a {
  display: inline-block;
  color: #00090e;
}

.blog-details-area .details-item .info li a:hover {
  color: #f65252;
}

.blog-details-area .details-item a {
  font-weight: 500;
  color: #f65252;
}

.blog-details-area .details-item a:hover {
  color: #00090e;
}

.blog-details-area .details-item h1, .blog-details-area .details-item h2, .blog-details-area .details-item h3, .blog-details-area .details-item h4, .blog-details-area .details-item h5, .blog-details-area .details-item h6 {
  margin-bottom: 15px;
}

.blog-details-area .details-item p {
  margin-bottom: 15px;
  line-height: 1.8;
}

.blog-details-area .details-item p:last-child {
  margin-bottom: 0;
}

.blog-details-area .details-item h1 {
  font-size: 30px;
}

.blog-details-area .details-item h2 {
  font-size: 25px;
}

.blog-details-area .details-item h3 {
  font-size: 22px;
}

.blog-details-area .details-item h4 {
  font-size: 20px;
}

.blog-details-area .details-item h5 {
  font-size: 18px;
}

.blog-details-area .details-item h6 {
  font-size: 16px;
}

.blog-details-area .details-item blockquote {
  background-color: #f9f9f9;
  padding: 30px 30px 30px;
  border-left: 3px solid #f65252;
  font-weight: 500;
  font-size: 18px;
  margin-top: 22px;
  margin-bottom: 20px;
  font-style: italic;
}

.blog-details-area .details-item .details-comments {
  margin-top: 25px;
  margin-bottom: 30px;
}

.blog-details-area .details-item .details-comments h3 {
  margin-bottom: 25px;
}

.blog-details-area .details-item .details-comments ul {
  margin: 0;
  padding: 0;
}

.blog-details-area .details-item .details-comments ul li {
  list-style-type: none;
  display: block;
  position: relative;
  padding-left: 100px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #f1f1f1;
}

.blog-details-area .details-item .details-comments ul li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

.blog-details-area .details-item .details-comments ul li h4 {
  font-size: 18px;
}

.blog-details-area .details-item .details-comments ul li img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  max-width: 80px;
}

.blog-details-area .details-item .details-comments ul li span {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}

.blog-details-area .details-item .details-comments ul li p {
  margin-bottom: 0;
}

.blog-details-area .details-item .details-comments ul li a {
  position: absolute;
  top: 0;
  right: 0;
}

.blog-details-area .details-item .details-form {
  background-color: #f9f9f9;
  padding: 30px 30px;
}

.blog-details-area .details-item .details-form h3 {
  margin-bottom: 10px;
}

.blog-details-area .details-item .details-form span {
  display: block;
  margin-bottom: 30px;
}

.blog-details-area .details-item .details-form label {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 14px;
}

.blog-details-area .details-item .details-form .form-group {
  margin-bottom: 15px;
}

.blog-details-area .details-item .details-form .form-group .form-control {
  height: 50px;
  border: 0;
  border-radius: 0;
}

.blog-details-area .details-item .details-form .form-group .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.blog-details-area .details-item .details-form .form-group textarea {
  height: auto !important;
  padding-top: 13px;
}

.blog-details-area .details-item .details-form .form-group .form-check .form-check-input {
  border-radius: 0;
  margin-top: 3px;
}

.blog-details-area .details-item .details-form .form-group .form-check .form-check-input:checked {
  background-color: #f65252;
  border-color: #f65252;
}

.blog-details-area .details-item .details-form .form-group .form-check .form-check-input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.blog-details-area .details-item .details-form .form-group .form-check .form-check-label {
  font-weight: 400;
  font-size: 15px;
}

.widget-area .tags h3 {
  margin-bottom: 12px;
}

.widget-area .tags ul {
  margin: 0;
  padding: 0;
}

.widget-area .tags ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 4px;
  margin-top: 8px;
}

.widget-area .tags ul li a {
  display: block;
  color: #00090e;
  background-color: #fafafa;
  padding: 6px 18px;
  font-weight: 500;
}

.widget-area .tags ul li a:hover {
  color: #ffffff;
  background-color: #f65252;
}

.widget-area .author {
  text-align: center;
  margin-bottom: 30px;
}

.widget-area .author img {
  border-radius: 50%;
  border: 5px solid #fff;
  -webkit-box-shadow: 0px 0px 20px 0px #f1f1f1;
          box-shadow: 0px 0px 20px 0px #f1f1f1;
  margin-bottom: 25px;
}

.widget-area .author h4 {
  font-size: 22px;
  margin-bottom: 5px;
}

.widget-area .author span {
  display: block;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 15px;
}

.widget-area .author p {
  margin-bottom: 15px;
}

.widget-area .author ul {
  margin: 0;
  padding: 0;
}

.widget-area .author ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 2px;
  margin-left: 2px;
}

.widget-area .author ul li a {
  display: block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
  background-color: #f65252;
  font-size: 18px;
  border-radius: 5px;
}

.widget-area .author ul li a i {
  line-height: 35px;
}

.widget-area .author ul li a:hover {
  color: #ffffff;
  background-color: #012539;
}

.blog-details-area.two .widget-area .widget-item:last-child {
  margin-bottom: 30px;
}

/*----- Contact -----*/
.title-img-five {
  background-image: url("../images/title/bg5.jpg");
}

.contact-info-item {
  -webkit-box-shadow: 0px 0px 20px 0px #f1f1f1;
          box-shadow: 0px 0px 20px 0px #f1f1f1;
  background-color: #ffffff;
  padding: 30px 30px 30px 130px;
  margin-bottom: 30px;
  position: relative;
}

.contact-info-item i {
  top: 30px;
  left: 30px;
  width: 80px;
  height: 80px;
  font-size: 35px;
  line-height: 80px;
  position: absolute;
  text-align: center;
  border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  background-color: #f65252;
}

.contact-info-item h3 {
  font-size: 22px;
  margin-bottom: 12px;
}

.contact-info-item a {
  display: block;
  color: #012539;
  margin-bottom: 5px;
}

.contact-info-item a:last-child {
  margin-bottom: 0;
}

.contact-info-item a:hover {
  color: #f65252;
}

.contact-area .contact-img {
  background-image: url("../images/contact-main1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.contact-area .contact-img img {
  display: none;
}

.contact-area #contactForm {
  padding: 30px 30px 30px;
  -webkit-box-shadow: 0px 0px 20px 0px #f1f1f1;
          box-shadow: 0px 0px 20px 0px #f1f1f1;
}

.contact-area #contactForm h3 {
  font-size: 22px;
  margin-bottom: 25px;
}

.contact-area #contactForm .form-group {
  margin-bottom: 15px;
}

.contact-area #contactForm .form-group label {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
}

.contact-area #contactForm .form-group .form-control {
  height: 50px;
  border: 1px solid #f1f1f1;
  border-radius: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contact-area #contactForm .form-group .form-control:focus {
  border: 1px solid #f65252;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact-area #contactForm .form-group textarea {
  padding-top: 13px;
  height: auto !important;
}

.contact-area #contactForm .form-group .form-check {
  margin: 0;
}

.contact-area #contactForm .form-group .form-check .form-check-input {
  border-radius: 0;
}

.contact-area #contactForm .form-group .form-check .form-check-input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact-area #contactForm .form-group .form-check label {
  margin-bottom: 0;
}

.contact-area #contactForm .form-group .form-check a {
  display: inline-block;
  color: #f65252;
}

.contact-area #contactForm .form-group .form-check a:hover {
  color: #00090e;
}

.contact-area #contactForm .text-danger {
  margin-top: 15px;
  font-size: 20px;
  margin-bottom: 0;
}

.contact-area #contactForm .text-success {
  margin-top: 15px;
  font-size: 20px;
  margin-bottom: 0;
}

.contact-area #contactForm .list-unstyled {
  margin-top: 10px;
  color: #dc3545 !important;
  margin-bottom: 0;
}

.map-area iframe {
  border: 0;
  width: 100%;
  display: block;
  height: 400px;
}

/*----- User -----*/
.user-area .user-item {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f1f1f1;
  padding: 50px;
}

.user-area .user-item h2 {
  text-align: center;
  margin-bottom: 30px;
  margin-top: -4px;
  font-size: 25px;
}

.user-area .user-item .form-group {
  margin-bottom: 15px;
}

.user-area .user-item .form-group .form-control {
  height: 50px;
  border: 0;
  border-radius: 5px;
  padding-left: 15px;
  background-color: #ffffff;
  font-size: 15px;
}

.user-area .user-item .form-group .form-control:focus {
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.user-area .user-item .form-group .form-check .form-check-label {
  color: #00090e;
}

.user-area .user-item .form-group .form-check .form-check-label a {
  display: inline-block;
  color: #00090e;
  font-weight: 600;
}

.user-area .user-item .form-group .form-check .form-check-label a:hover {
  color: #f65252;
}

.user-area .user-item .form-group .form-check .form-check-input {
  margin-left: -22px;
  width: 18px;
  height: 18px;
  border-radius: 0;
  margin-top: 2px;
  border: 1px solid #f65252;
}

.user-area .user-item .form-group .form-check .form-check-input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #f65252;
}

.user-area .user-item .form-group .form-check .form-check-input:checked {
  background-color: #f65252;
}

.user-area .user-item .common-btn {
  width: 100%;
  display: block;
  margin-bottom: 30px;
}

.user-area .user-item h4 {
  font-weight: 400;
  margin-bottom: 30px;
  font-size: 15px;
  position: relative;
  text-align: center;
}

.user-area .user-item h4:before {
  position: absolute;
  content: '';
  top: 9px;
  left: 0;
  width: 45%;
  height: 1px;
  background-color: #ddd;
}

.user-area .user-item h4:after {
  position: absolute;
  content: '';
  top: 9px;
  right: 0;
  width: 45%;
  height: 1px;
  background-color: #ddd;
}

.user-area .user-item ul {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 30px;
}

.user-area .user-item ul li {
  list-style-type: none;
  display: block;
  margin-bottom: 15px;
}

.user-area .user-item ul li:last-child {
  margin-bottom: 0;
}

.user-area .user-item ul li a {
  display: block;
  color: #ffffff;
  background-color: #3B5998;
  border-radius: 5px;
  border: 1px solid #3B5998;
  padding: 10px 12px;
  font-weight: 600;
}

.user-area .user-item ul li a i {
  display: inline-block;
  font-size: 20px;
  position: relative;
  top: 3px;
}

.user-area .user-item ul li a:hover {
  color: #3B5998;
  background-color: #ffffff;
}

.user-area .user-item ul li:nth-child(2) a {
  background-color: #DB3236;
  border: 1px solid #DB3236;
}

.user-area .user-item ul li:nth-child(2) a:hover {
  color: #DB3236;
  background-color: #ffffff;
}

.user-area .user-item h5 {
  margin-bottom: 0;
  font-weight: 400;
  color: #00090e;
  font-size: 15px;
  text-align: center;
}

.user-area .user-item h5 a {
  color: #f65252;
  display: inline-block;
  font-weight: 600;
  border-bottom: 1px solid #f65252;
}

.user-area .user-item h5 a:hover {
  color: #00090e;
  border-bottom: 1px solid #00090e;
}

/*----- FAQ -----*/
.faq-area .faq-item {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0px 0px 20px 0px #f1f1f1;
          box-shadow: 0px 0px 20px 0px #f1f1f1;
  background-color: #ffffff;
  padding: 50px 50px 45px;
  position: relative;
  z-index: 1;
}

.faq-area .faq-item .section-title {
  text-align: center;
  margin-bottom: 30px;
}

.faq-area .faq-item .accordion {
  margin: 0;
  padding: 0;
}

.faq-area .faq-item .accordion li {
  border-bottom: 1px solid #eeeeee;
  list-style-type: none;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  display: block;
}

.faq-area .faq-item .accordion li:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}

.faq-area .faq-item .accordion li .faq-head {
  color: #012539;
  font-size: 20px;
  width: 100%;
  display: block;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  line-height: 1.4;
  position: relative;
  padding-right: 30px;
}

.faq-area .faq-item .accordion li .faq-head span {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  border-radius: 5px;
  color: #f65252;
  color: #f65252;
}

.faq-area .faq-item .accordion li .faq-head:after {
  position: absolute;
  right: 15px;
  content: "+";
  top: -5px;
  color: #f65252;
  font-size: 25px;
  text-align: center;
}

.faq-area .faq-item .accordion li .faq-head.active {
  color: #f65252;
}

.faq-area .faq-item .accordion li .faq-head.active:after {
  content: '-';
  font-size: 25px;
}

.faq-area .faq-item .accordion li .faq-content {
  display: none;
  background-color: #ffffff;
  padding-top: 10px;
}

.faq-area .faq-item .accordion li .faq-content p {
  margin-bottom: 0;
  margin-top: 8px;
}

.faq-area .faq-item .accordion li .faq-content a {
  display: inline-block;
  color: #f65252;
  font-weight: 600;
}

.faq-area .faq-item .accordion li .faq-content a:hover {
  color: #012539;
}

/*----- Error -----*/
.error-area {
  height: 100vh;
  background-color: #012539;
}

.error-area .error-item {
  text-align: center;
  position: relative;
  z-index: 1;
}

.error-area .error-item h1 {
  font-size: 150px;
  margin-bottom: 15px;
  color: #ffffff;
}

.error-area .error-item h2 {
  font-size: 30px;
  margin-bottom: 15px;
  color: #ffffff;
}

.error-area .error-item p {
  margin-bottom: 30px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}

.error-area .error-item .common-btn {
  background-color: #ffffff;
}

.error-area .error-item .common-btn:hover {
  color: #012539;
}

/*----- Rules -----*/
.rules-area .rules-item .rules-head {
  text-align: center;
  margin-bottom: 50px;
}

.rules-area .rules-item .rules-head h2 {
  font-size: 30px;
  margin-bottom: 15px;
}

.rules-area .rules-item .rules-head span {
  display: block;
  font-weight: 500;
}

.rules-area .rules-item .rules-inner {
  margin-bottom: 25px;
}

.rules-area .rules-item .rules-inner:last-child {
  margin-bottom: 0;
}

.rules-area .rules-item .rules-inner h3 {
  font-size: 22px;
  margin-bottom: 15px;
}

.rules-area .rules-item .rules-inner p {
  margin-bottom: 15px;
}

.rules-area .rules-item .rules-inner p:last-child {
  margin-bottom: 0;
}

.rules-area .rules-item .rules-inner ul {
  margin: 0;
  padding: 0;
}

.rules-area .rules-item .rules-inner ul li {
  list-style-type: none;
  display: block;
  padding-left: 20px;
  margin-bottom: 12px;
  position: relative;
}

.rules-area .rules-item .rules-inner ul li:before {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  top: 7px;
  left: 0;
  background-color: #cdcecf;
}

.rules-area .rules-item .rules-inner ul li:last-child {
  margin-bottom: 0;
}

/*----- Become -----*/
.become-area .become-item {
  max-width: 1000px;
  padding: 50px 50px;
  -webkit-box-shadow: 0px 0px 20px 0px #f1f1f1;
          box-shadow: 0px 0px 20px 0px #f1f1f1;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.become-area .become-item h3 {
  font-size: 25px;
  text-align: center;
  position: relative;
  margin-bottom: 40px;
}

.become-area .become-item .form-group {
  margin-bottom: 15px;
}

.become-area .become-item .form-group .form-control {
  height: 50px;
  border: 0;
  border-radius: 0;
  background-color: #fafafa;
  font-size: 15px;
  padding-left: 18px;
}

.become-area .become-item .form-group .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.become-area .become-item .form-group ::-webkit-input-placeholder {
  color: #00090e;
}

.become-area .become-item .form-group :-ms-input-placeholder {
  color: #00090e;
}

.become-area .become-item .form-group ::-ms-input-placeholder {
  color: #00090e;
}

.become-area .become-item .form-group ::placeholder {
  color: #00090e;
}

.become-area .become-item .form-group .nice-select {
  height: 50px;
  line-height: 50px;
  border: 0;
  border-radius: 0;
  background-color: #fafafa;
  font-size: 15px;
  color: #00090e;
  width: 100%;
  display: block;
  margin-bottom: 15px;
}

.become-area .become-item .form-group .nice-select ul {
  border-radius: 0;
  width: 100%;
  display: block;
}

.become-area .become-item .common-btn {
  margin-top: 10px;
}

/*----- Instructor Details -----*/
.instructor-details-area .instructor-img {
  margin-bottom: 30px;
}

.instructor-details-area .instructor-img img {
  border-radius: 5px;
}

.instructor-details-area .instructor-content {
  margin-bottom: 30px;
  padding-left: 20px;
}

.instructor-details-area .instructor-content h3 {
  font-size: 25px;
  margin-bottom: 10px;
}

.instructor-details-area .instructor-content span {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
  color: #f65252;
}

.instructor-details-area .instructor-content p {
  margin-bottom: 15px;
}

.instructor-details-area .instructor-content .items {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.instructor-details-area .instructor-content .items li {
  list-style-type: none;
  display: block;
  position: relative;
  margin-bottom: 12px;
  padding-left: 18px;
  font-weight: 500;
}

.instructor-details-area .instructor-content .items li:last-child {
  margin-bottom: 0;
}

.instructor-details-area .instructor-content .items li:before {
  position: absolute;
  content: '';
  width: 6px;
  height: 6px;
  top: 8px;
  left: 0;
  background-color: #f65252;
}

.instructor-details-area .instructor-content .social {
  margin: 0;
  padding: 0;
}

.instructor-details-area .instructor-content .social li {
  list-style-type: none;
  display: inline-block;
  margin-right: 2px;
  margin-left: 2px;
}

.instructor-details-area .instructor-content .social li a {
  display: block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
  background-color: #f65252;
  font-size: 18px;
  border-radius: 5px;
}

.instructor-details-area .instructor-content .social li a i {
  line-height: 35px;
}

.instructor-details-area .instructor-content .social li a:hover {
  color: #ffffff;
  background-color: #012539;
}

/*----- Loader -----*/
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: #ffffff;
}

.spinner {
  margin: auto;
  width: 70px;
  text-align: center;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
          animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
          animation-delay: -0.16s;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #f65252;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
          animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/*----- Go Top -----*/
.go-top {
  position: fixed;
  cursor: pointer;
  bottom: 45px;
  right: 0;
  color: #ffffff;
  background-color: #f65252;
  z-index: 4;
  width: 45px;
  text-align: center;
  height: 45px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .9s;
  transition: .9s;
  border-radius: 50%;
  border: 1px solid #f65252;
}

.go-top i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  font-size: 20px;
  line-height: 45px;
}

.go-top i:last-child {
  opacity: 0;
  visibility: hidden;
  top: 60%;
}

.go-top.active {
  right: 1%;
  -webkit-transform: translateY(-1%);
          transform: translateY(-1%);
  opacity: 1;
  visibility: visible;
}

.go-top:hover, .go-top:focus {
  color: #ffffff;
  border: 1px solid #f65252;
  background-color: #f65252;
}

.go-top:hover i:first-child, .go-top:focus i:first-child {
  opacity: 0;
  top: 0;
  visibility: hidden;
}

.go-top:hover i:last-child, .go-top:focus i:last-child {
  opacity: 1;
  visibility: visible;
  top: 50%;
}
/*# sourceMappingURL=style.css.map */