    /*
    Flaticon icon font: Flaticon
    Creation date: 16/03/2021 06:45
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-paint-palette:before { content: "\f100"; }
.flaticon-computer-graphic:before { content: "\f101"; }
.flaticon-sculpture:before { content: "\f102"; }
.flaticon-quote-left:before { content: "\f103"; }
.flaticon-calendar:before { content: "\f104"; }
.flaticon-location:before { content: "\f105"; }
.flaticon-teacher:before { content: "\f106"; }
.flaticon-online-course:before { content: "\f107"; }
.flaticon-efficiency:before { content: "\f108"; }
.flaticon-settings:before { content: "\f109"; }
    
    $font-Flaticon-paint-palette: "\f100";
    $font-Flaticon-computer-graphic: "\f101";
    $font-Flaticon-sculpture: "\f102";
    $font-Flaticon-quote-left: "\f103";
    $font-Flaticon-calendar: "\f104";
    $font-Flaticon-location: "\f105";
    $font-Flaticon-teacher: "\f106";
    $font-Flaticon-online-course: "\f107";
    $font-Flaticon-efficiency: "\f108";
    $font-Flaticon-settings: "\f109";